p.login-lock {
    text-align: center;
    margin: 100px;
}

input.auth0-lock-input {
    background-color: none;
}

input.auth0-lock-input:focus {
    background-color:transparent;
}

.signin-link {
    text-align: center;
}

.signin-link button {
    margin: 100px 10px;
    font-size: 140%;
}
