<h4>Published!</h4>

{% raw %}

<loading on="loading" message="Loading video information..." size="medium"></loading>

<div class="show-hide" ng-if="!loading">

  <h4 class="event-summary">
    <a ng-href="{{ event.url }}" target="_self" class="event-title thumbnail-wrapper"
       ng-if="event.picture">
       <img ng-src="{{ event.picture.url }}"
            width="{{ event.picture.width }}"
            height="{{ event.picture.height }}">
    </a>
    <a ng-href="{{ event.url }}" target="_self" class="event-title">
      {{ ::event.title }}
    </a>
    <br>
    <br>
    <a ng-href="{{ event._absURL }}" target="_self" class="event-url">
      {{ ::event._absURL }}
    </a>
  </h4>

  <p style="clear: left">
    Channel:
    <a ng-repeat="channel in event.channels"
      ng-href="{{ channel.url }}" target="_self">
      <b>{{ ::channel.name }}</b>
    </a>
  </p>
  <p>
    Privacy level:
    <b>{{ ::event.privacy_display }}</b>
  </p>
  <p ng-if="!event.approvals.length">
    No approval necessary.
  </p>
  <p ng-if="event.approvals.length">
    Approval awaiting from:
    <span ng-repeat="approval in event.approvals">
      <b>{{ ::approval.group_name }}</b>{{ !$last && ', ' || '' }}
    </span>
  </p>

  <p ng-if="video">
    Video processing:
    <b ng-if="video.finished">
       Finished
    </b>
    <b ng-if="!video.finished">
      Not yet finished
    </b>
    <span ng-if="!video.finished && video.estimated_time_left && video.estimated_time_left > 0">
      <br>(estimated time left: {{ video.estimated_time_left | showduration }})
    </span>
  </p>
</div>
{% endraw %}
