
<h4 ng-if="!recording">Record</h4>
<h4 ng-if="recording">Recording</h4>

<div ng-if="!cameraStarted">
  <div class="camera-option" style="margin-bottom: 40px">
    <p>
      When you start the camera you will be asked to share your computer's
      camera and microphone. <br>
      You need to click <b>Share Selected Devices</b>.
    </p>
    <button type="button" ng-click="startCamera()">Start Camera</button>
  </div>

  <div ng-if="enableScreenCapture">
    <h4>Experimental features</h4>
    <button type="button" ng-click="startScreenCapture()">Start Screen capture</button>
    <button type="button" ng-click="startScreenCapture(true)">Start Screen capture (with audio)</button>
    <span ng-show="showScreenCaptureTip"><b>Tip!</b> You might have to select <b>Entire Screen</b> in the drop-down</span>
    <br><br>
    <button type="button" ng-click="startWindowCapture()">Start Window capture</button>
    <button type="button" ng-click="startWindowCapture(true)">Start Window capture (with audio)</button>
  </div>

  <div class="alert alert-danger show-hide" ng-show="showPermissionDeniedError">
    <a title="Yeah yeah, I get it" class="close" ng-click="showPermissionDeniedError=false">&times;</a>
    <h4>Permission Denied?</h4>
    {% raw %}
    <p>
      Either your chose to NOT share your camera or your browser doesn't
      allow it. </p>
    <p>
      To whitelist this site, go to <code>about:config</code>
      and search to find the <code>media.getusermedia.screensharing.allowed_domains</code>
      and append <code>{{ ::currentDomain }}</code> to that list.<br>
      Then refresh and try again.
    </p>
    {% endraw %}
  </div>

</div>

<div class="show-hide after-recording" ng-show="showPlaybackVideo">
  <h3>Happy?</h3>
  <h4>You can re-take the recording as many times as you like</h4>
  <button ng-click="uploadRecording()">Upload Recording</button>
  <button ng-click="resetRecording()">Restart Recording</button>
</div>

<div class="show-hide video-outer" ng-show="cameraStarted">
  {% raw %}
  <h1 class="countdown show-hide" ng-show="countdown">{{ countdown }}</h3>
    <button class="start-stop-button start-button show-hide"
            ng-show="!recording && !countdown && showRecorderVideo"
            ng-click="startRecording()">Start Recording</button>
    <button class="start-stop-button stop-button show-hide"
            ng-show="recording"
            ng-click="stopRecording()">Stop Recording</button>

  <img class="silhouette" ng-src="{{ silhouetteURL }}" alt="silhouette"
       ng-show="showSilhouette && !recording && showRecorderVideo">
  <video class="recorder"
         ng-show="showRecorderVideo"
         ng-class="{recording: recording, ready: !recording, mirrored: mirroredViewFinder}"></video>

  <video class="playback" ng-show="showPlaybackVideo"></video>

  <p class="show-hide" ng-show="recording || duration">
    <span ng-if="videoSize">Duration:</span>
    <span ng-if="!videoSize">Time elapsed:</span>
    {{ duration | formattime }}
    <span class="about-filesize" ng-if="videoSize">
      (approximately <b>{{ videoSize | filesize }}</b>)
    </span>
  </p>

  <!-- this canvas is visually hidden but is used for face detection -->
  <canvas width="200" height="112"></canvas>

  {% endraw %}

  <div class="buttons" ng-show="!recording && showRecorderVideo">
    <button class="smaller" ng-click="toggleTips()">
      <span ng-if="!showTips">
        Show Tips/Instructions
      </span>
      <span ng-if="showTips">
        Hide Tips/Instructions
      </span>
    </button>
    <button class="smaller" ng-show="!recording && showRecorderVideo && enableSilhouette" ng-click="toggleSilhouette()">
      <span ng-if="showSilhouette">
        Hide silhouette
      </span>
      <span ng-if="!showSilhouette">
        Show silhouette
      </span>
    </button>
    <button class="smaller" ng-show="!recording && showRecorderVideo && enableFaceDetection" ng-click="toggleFaceDetection()">
      <span ng-if="showFaceDetection">
        Hide face detection
      </span>
      <span ng-if="!showFaceDetection">
        Show face detection
      </span>
    </button>
  </div>

  <p class="face-message-outer" style="display:none"
     ng-show="enableFaceDetection && cameraStarted && showFaceDetection && !recording && showRecorderVideo">
    Face-Detection-Meter: <b class="face-message"></b>
  </p>

  <div class="quality-instructions show-hide" ng-show="showTips && !recording && showRecorderVideo">
    <h4>Tips for better quality</h4>
    <ul>
      <li>Try to have the camera at eye-level</li>
      <li>If you have a microphone, use it</li>
      <li>Avoid overly bright backgrounds</li>
    </ul>
  </div>

</div>


<p class="extra-note" ng-if="!cameraStarted">
  <b>Note!</b>
  You can also
  <a ui-sref="startUpload">upload a video file</a> if you have one already.
</p>
