{% for event in events %}
{% set href = url('main:event', slug=event.slug) %}
<article id="event-{{ event.id }}" class="post type-post status-publish format-standard hentry">
  <header class="entry-header">
    <h2 class="entry-title">
      <a href="{{ href }}">{{ event.get_unique_title() }}</a>
    </h2>
    {% set curated_groups = get_curated_groups(event) %}
    {% include "main/_event_privacy.html" %}
  </header>
  <div class="entry-summary">
    <p class="event-date">{{ event.start_time|js_date }}</p>
    <a href="{{ href }}">
      {% if loop.index < 5 %}
        {{ show_thumbnail(event) }}
      {% else %}
        {# for things further down in the loop, use the lazyr technique #}
        {{ show_lazyr_thumbnail(event) }}
      {% endif %}
    </a>

    {{ star_tag(event.id, star_on and 'star-on' or None) }}
    <p>
      {{ short_desc(event) | safe_html }}
      <a class="go" href="{{ href }}">{{ _('See more') }}</a>
    </p>
  </div>
</article>
{% endfor %}
