<aside class="widget more-posts hfeed">
  <h3 class="widget-title">{{ widget_title }}</h3>
  <ul>
    {% for event in widget_events %}
      <li class="hentry">
        <h4 class="entry-title">
          <a href="{{ url('main:event', event.slug) }}">
            <span class="video-thumb">
              {% set thumb = thumbnail(event.placeholder_img, '64x64', crop='center') %}
              <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}"
                   alt="{{ event.title }}" class="wp-post-image">
            </span>
            {{ event.title }}
          </a>
        </h4>
        {% if event.participants.exists() %}
          <p class="entry-summary featuring">
            {{ _('featuring ') }}
            {% for p in event.participants.all() %}
              {% if p.is_clear() %}
                <a href="{{ url('main:participant', slug=p.slug) }}">
              {%- endif -%}
              {{ p.name }}
              {%- if p.is_clear() %}</a>{% endif %}
              {%- if not loop.last %}, {% endif -%}
            {% endfor %}
          </p>
        {% endif %}
        <p class="event-date">{{ event.start_time|js_date }}</p>
        <p class="entry-summary">{{ short_desc(event) }}</p>
      </li>
    {% endfor %}
  </ul>
</aside>
