{% extends 'main/main_base.html' %}
{% set page='calendars' %}

{% block page_title %}
Calendar feeds | {{ super() }}
{% endblock %}


{% block content_main %}
  <h2 class="section-title">Calendar feeds</h2>
  <ul>
    <li>
      <a href="{{ url('main:calendar_ical', calendar_privacy) }}">All events</a>
    </li>
    {% for location in locations %}
    <li><a href="{{ url('main:calendar_ical', calendar_privacy) }}?location={{ location.pk }}"
    >All events in <strong>{{ location }}</strong></a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
