{% extends 'main/main_base.html' %}
{% set page='explore' %}

{% block page_title %}
{{ event.title }} | Air Mozilla
{% endblock %}

{% block site_css %}
{{ super() }}
{% compress css %}
<link href="{{ static('comments/css/comments.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static('surveys/css/survey.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static('main/css/event.css') }}" rel="stylesheet" type="text/css">
{% endcompress %}
{% endblock %}

{% block extra_head %}
<meta name="keywords" content="{{ ','.join(tags) }}">
<meta property="og:title" content="{{ event.title }}">
<meta property="og:url" content="{{ make_absolute(url('main:event', event.slug)) }}">
<meta property="og:description" content="{{ short_desc(event, strip_html=True) }}">
{# these are the same dimensions as used in Roku thumbnails #}
{% if event.picture %}
  {% set thumb = thumbnail(event.picture.file, '385x218', crop='center') %}
{% elif event.placeholder_img %}
  {% set thumb = thumbnail(event.placeholder_img, '385x218', crop='center') %}
{% else %}
  {% set thumb = None %}
{% endif %}
{% if thumb %}
<meta property="og:image" content="{{ make_absolute(thumb.url) }}">
<meta property="og:image:width" content="{{ thumb.width }}">
<meta property="og:image:height" content="{{ thumb.height }}">
{% endif %}
{% endblock %}

{% block site_js %}
{{ super() }}
{% compress js %}
<script src="{{ static('main/js/jwplay.js') }}"></script>
<script src="{{ static('main/js/embed.js') }}"></script>
<script src="{{ static('main/js/download.js') }}"></script>
<script src="{{ static('main/js/tearout.js') }}"></script>
<script src="{{ static('main/js/playbackrate.js') }}"></script>
<script src="{{ static('comments/js/comments.js') }}"></script>
<script src="{{ static('surveys/js/survey.js') }}"></script>
<script src="{{ static('main/js/livehits.js') }}"></script>
{% endcompress %}
{% endblock %}

{% block content_main %}
  <article id="event-{{ event.id }}" class="post type-post status-publish format-standard hentry no-author no-comments">

    {% if warning %}
      <div class="warning">Warning: {{ warning }}</div>
    {% endif %}
        <div class="entry-content">
      {% if pending %}
        <p class="pending">
        Event is currently in a pending state meaning it will soon be made available.
        </p>
      {% else %}
        {% if video %}
          {{ video|safe }}
          <p class="play-options">
            <span class="tearout">
              <a class="open"
                 title="Click to open up just the video in a pop-up"></a>
              <span class="problem"></span>
            </span>
            {% if not event.is_live() %}
            <span class="playbackrate">
              <a class="open inactive"
                 title="Click to see playback rate options"></a>
              <span class="options">
                <a data-rate="0.5" title="Half the speed">0.5&times;</a>
                <a data-rate="1" title="Normal speed">1&times;</a>
                <a data-rate="1.5" title="One and a half the speed">1.5&times;</a>
                <a data-rate="2" title="Double speed">2&times;</a>
              </span>
              <span class="problem"></span>
            </span>
            {% endif %}
          </p>


          {% if event.is_live() %}
          <p class="islive" data-url="{{ url('main:event_livehits', event.id) }}">
            {{ csrf() }}
            Number of live views: <b></b>
          </p>
          {% endif %}

        {% else %}
          {{ show_thumbnail(event, '121x68') }}
        {% endif %}
      {% endif %}
     <header class="entry-header">
      <h1 class="entry-title">
        {{ event.title }}
      </h1>
      <a class="star event" data-id="{{ event.id }}" title="Save as a starred event"></a>
      {% include 'main/_event_privacy.html' %}
      {% if can_manage_edit_event or can_edit_event %}
        <p class="entry-edit-shortcut">
          {% if can_manage_edit_event %}
          <a href="{{ url('manage:event_edit', event.pk) }}" title="Shortcut to edit this event">Producer edit event &raquo;</a><br>
          {% endif %}
          {% if can_edit_event %}
          <a href="{{ url('main:event_edit', event.slug) }}"
             title="Click to edit any of the meta data about this event">Edit event data &raquo;</a>
          {% endif %}
        </p>
      {% endif %}

      <p>
      {% if not pending %}
      <h2 class="event-date">
        {{ event.start_time | js_date }}
	      {% if event.is_upcoming() %}
          {% if event.location %}
            &mdash;
            {{ event.location_time.strftime("%I:%M%p") }} in {{ event.location.name }}
          {% endif %}
        {% endif %}
      </h2>
      {% endif %}
      <p>
        {% if event.location and not event.location.name.startswith('Cyberspace') %}
          {{ _('Location') }}: {{ event.location.name }}
        {% endif %}
      </p>
    </header>


      {% if event.duration %}
        <p>
          Duration: {{ show_duration(event.duration) }}
        </p>
      {% endif %}
      <p>{{ event.description | carefulnl2br | safe_html }}</p>

      {% if tags %}
      <p>
        {{ _('Tags') }}:
        {% for tag in tags %}
          <a href="{{ url('main:home') }}?tag={{ tag | urlencode }}" class="tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}

      {% if channels %}
      <p>
        {{ _('Channels') }}:
        {% for channel in channels %}
          <a href="{{ url('main:home_channels', channel.slug) }}" class="channel">{{ channel.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </p>
      {% endif %}


      {% if event.call_info %}
        <p>{{ _('Call info') }}: {{ event.call_info }}</p>
      {% endif %}
      {% if event.additional_links %}
        <p>{{ _('Additional links') }}:<br>
          {{ event.additional_links | urlize|nl2br }}</p>
      {% endif %}

      {% if hits %}
        <p>{{ _('Views since archived') }}: {{ thousands(hits) }}</p>
      {% endif %}

      {% if not pending and video and event.is_public() %}
        <p>
          <button class="open-embed">Embed</button>
          <button class="close-embed hidden">Close</button>
          {% if vidly_tag %}
          <button class="open-download">Download</button>
          <button class="close-download hidden">Close</button>
          {% endif %}
        </p>
        <div class="embed hidden">
          <a href="#" class="current">Small (640x380)</a>
          <a href="#">Big (896x504)</a>
          <br>
          <textarea rows="1" cols="80" class="small-embed-code">{{ embed_code }}</textarea>
          <textarea rows="1" cols="80" class="big-embed-code hidden">{{ embed_code_big }}</textarea>
        </div>
        {% if vidly_tag %}
        <div class="download hidden">
          <p>
            <a href="https://vid.ly/{{ vidly_tag }}?content=video&amp;format=webm"
               download="{{ event.slug }}.webm">WebM</a>
            {% if vidly_hd %}
            (<a href="https://vid.ly/{{ vidly_tag }}?content=video&amp;format=hd_webm"
               download="{{ event.slug }}-hd.webm">HD</a>)
            {% endif %},
            <a href="https://vid.ly/{{ vidly_tag }}?content=video&amp;format=mp4"
               download="{{ event.slug }}.mp4">Mpeg4</a>
            {% if vidly_hd %}
            (<a href="https://vid.ly/{{ vidly_tag }}?content=video&amp;format=hd_mp4"
               download="{{ event.slug }}-hd.mp4">HD</a>)
            {% endif %}
            <br>
            To download, right-click and select &quot;Save Link As...&quot;
          </p>
        </div>
        {% endif %}
      {% endif %}

      {% if not pending %}

        {% if survey %}
        {% include "surveys/container.html" %}
        {% endif %}

        {% if discussion.enabled %}
        {% include "comments/container.html" %}
        {% endif %}

      {% endif %}

      {% if recruitmentmessage %}
      <div class="recruitmentmessage">
        <h5>A message from <a href="https://careers.mozilla.org/">Mozilla Careers</a></h5>
        <p>If you found this interesting, check out this great career opportunity:<br>
          <a href="{{ recruitmentmessage.url }}" title="Takes you to the Mozilla Careers site"
          >{{ recruitmentmessage.text }}</a>
        </p>
      </div>
      {% endif %}

    </div>
  </article>
{% endblock %}
