{% extends 'main/main_base.html' %}
{% set front_page = (events.number == 1) %}

{% block banner %}
  {% if front_page %}
    {% include 'main/_banner_large.html' %}
  {% else %}
    {% include 'main/_banner_small.html' %}
  {% endif %}
{% endblock %}

{% block also_live %}
  {% if also_live %}
    {% set widget_title = _('Also live') -%} 
    {% set widget_events = also_live -%}
    {% include 'main/_side_events.html' %}
  {% endif %}
{% endblock %}

{% block upcoming %}
  {% if upcoming %}
    {% set widget_title = _('Upcoming') -%}
    {% set widget_events = upcoming -%}
    {% include 'main/_side_events.html' %}
  {% endif %}
{% endblock %}

{% block content_main %}
  {% if front_page %}
    {% if live %}
    {% set href=url('main:event', live.slug) %}
    <article id="feature-{{ live.id }}" class="tag-live main-feature">
      <header>
        <hgroup>
          <h2 class="feature-type">{{ _('Streaming Live Now') }}</h2>
          <h3 class="entry-title">
            <a href="{{ href }}" rel="bookmark">{{ live.title }}</a>
          </h3>
        </hgroup>
        <p class="event-date">{{ _('Started') }} {{ live.start_time|js_date }}</p>
      </header>
      <div class="entry-summary">
        <a href="{{ href }}">
          {% set thumb = thumbnail(live.placeholder_img, '160x160') %}
          <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}"
               alt="{{ live.title }}" class="wp-post-image">
        </a>
        <p>{{ short_desc(live, 10) }}
        <a class="go" href="{{ href }}">{{_('See more') }}</a></p>
        <p class="watch"><a class="button" href="{{ href }}">
          {{ _('Watch Now') }}
        </a></p>
      </div>
    </article> 
    {% endif %}
    <h2 class="section-title">
      {{ _('Recent Videos') }}
    </h2>
  {% endif %}
  {% for event in events %}
    {% set href = url('main:event', slug=event.slug) %}
    <article id="event-{{ event.id }}" class="post type-post status-publish format-standard hentry">
      <header class="entry-header">
        <h2 class="entry-title">
          <a href="{{ href }}">{{ event.title }}</a>
        </h2>
      </header>
      <div class="entry-summary">
        <p class="event-date">{{ event.start_time|js_date }}</p>
        {% set thumb = thumbnail(event.placeholder_img, '68x68') %}        
        <a href="{{ href }}">
          <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}"
               alt="{{ event.title }}" class="attachment-68x68 wp-post-image">
        </a>
        <p>
          {{ short_desc(event) }}
          <a class="go" href="{{ href }}">{{ _('See more') }}</a>
        </p>
      </div>
    </article>
  {% endfor %}
  <nav class="nav-paging">
    <ul role="navigation">
      {% if events.has_next() %}
        <li class="prev">
          <a href="{{ url('main:home', events.next_page_number()) }}">
            {{ _('Older videos') }}
          </a>
        </li>
      {% endif %}
      {% if events.has_previous() %}
        <li class="next">
          <a href="{{ url('main:home', events.previous_page_number()) }}">
            {{ _('Newer videos') }}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
