{% extends "main_base.html" %}

{% block content %}
<h1>
    <a href="/">{{ _('Air Mozilla') }}</a>
</h1>

{% if request.user.is_active %}
    <p>{{ _('You are logged in as {username}')|f(username=request.user) }}.
    <a href="{{ url('auth.logout') }}">{{ _('Log out') }}</a></p>
{% else %}
    <p><a id="browserid" href="#">{{ _('Log in with BrowserID') }}</a></p>
    <form method="POST" action="{{ url('auth.mozilla_browserid_verify') }}">
        {{ csrf() }}
        {{ browserid_form.as_p() }}
    </form>
{% endif %}
{% endblock %}

{% block site_js %}
    {{ js('main_js') }}
    {% if not request.user.is_active %}
        {{ browserid_form.media }}
    {% endif %}
{% endblock %}
