{% extends "base.html" %}
{% set page = page|default('home') -%}
{% set nav_main = [
    ('Home', 'main:home', 'home', True),
    ('About', 'main:about', 'about', True),
    ('Management', 'manage:home', '', request.user.is_staff),
    ('Log out', 'auth:logout', '', request.user.is_active),
    ('Contributor Log In', 'main:login', 'login', not request.user.is_active),
] -%}

{% block page_title %}
Air Mozilla | Mozilla, in Video
{% endblock %}

{% block site_css %}
  {% compress css %}
    <link href="{{ static('main/css/onemozilla.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('main/css/main.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
  <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="page">
  <div class="wrap">
  <header id="masthead">
    <nav id="nav-main" role="navigation">
      <ul>
        {% for title, view, id, show in nav_main %}
          {% if show %}
          <li>
            <a href="{{ url(view) }}"
              {% if id == page %} class="current"{% endif %}>
            {{ title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <hgroup>
    {% block banner %}
      {% include 'main/_banner_large.html' %}
    {% endblock %}
    </hgroup>
    <a href="//www.mozilla.org/" id="tabzilla">mozilla</a>
  </header>

  <div id="content">
    <div id="content-main" class="main" role="main">
      {% block content_main %}{% endblock %}
    </div>
    <div id="content-sub" class="sub sidebar widgets" role="complementary">
      <aside id="current-time" class="widget">
      <h3 class="widget-title">{{ _('Current Time') }}</h3>
      <p class="datetime">
        {{ date_now()|js_date }}
      </p>
      </aside>
      {% block also_live %}{% endblock %}
      {% if featured %}
        {% set widget_title = _('Featured Videos') -%}
        {% set widget_events = featured -%}
        {% include 'main/_side_events.html' %}
      {% endif %}
      {% block upcoming %}{% endblock %}
    </div>
  </div>

  </div>
  </div>
<footer id="site-info" role="contentinfo">
  <div class="wrap">
    <p id="foot-logo">
      <a class="top" href="#page">{{ _('Return to top') }}</a>
      <a class="logo" href="//mozilla.org" rel="external">Mozilla</a>
    </p>
    <p id="colophon">
      Except where otherwise <a href="//www.mozilla.org/en-US/about/legal.html#site" rel="external">noted</a>, content on this site is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="external license">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.</p>
    <nav id="nav-meta">
      <ul role="navigation">
        <li><a href="//www.mozilla.org/contact/" rel="external">{{ _('Contact Us') }}</a></li>
        <li><a href="//www.mozilla.org/en-US/privacy" rel="external">{{ _('Privacy Policy') }}</a></li>
        <li><a href="//www.mozilla.org/en-US/about/legal.html" rel="external">{{ _('Legal Notices') }}</a></li>
        <li><a href="//www.mozilla.org/en-US/legal/fraud-report/index.html" rel="external">{{ _('Report Trademark Abuse') }}</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
    <script src="{{ static('js/libs/moment.min.js') }}"></script>
    <script src="{{ static('main/js/timezone.js') }}"></script>
  {% endcompress %}
  <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
{% endblock %}
