a{% extends "base.html" %}
{% set page = page|default('home') -%}
{% set nav_main = [
    ('Home', 'main:home', 'home', True, ''),
    ('About', '/about/', 'about', True, ''),
    ('Channels', 'main:channels', 'channels', True, ''),
    ('Calendar', 'main:calendar', 'calendar', True, ''),
    ('Tag Cloud', 'main:tag_cloud', 'tag_cloud', True, ''),
    ('Requests', 'suggest:start', 'suggest', request.user.is_active, ''),
    ('Management', 'manage:events', '', request.user.is_staff, ''),
    ('Sign out', '/browserid/logout/', '', request.user.is_active, 'browserid-logout'),
] -%}

{% block page_title %}
Air Mozilla | Mozilla, in Video
{% endblock %}

{% block extra_head %}
<link rel="alternate" title="{{ feed_title }}" href="{{ feed_url }}" type="application/rss+xml">
{% endblock %}

{% block site_css %}
  {% compress css %}
    <link href="{{ static('main/css/onemozilla.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('main/css/main.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}

  {% compress css %}
  {% if not request.user.is_authenticated() %}
  <link href="{{ static('browserid/persona-buttons.css') }}" rel="stylesheet" type="text/css">
  {% endif %}
  {% endcompress %}

  <link href="https://mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  {{ browserid_info() }}
  <div id="page">
  <div class="wrap">
  <header id="masthead">
    <nav id="nav-main">
      <ul>
        {% for title, view, id, show, class in nav_main %}
          {% if show %}
          <li>
            <a href="{% if '/' in view %}{{ view }}{% else %}{{ url(view) }}{% endif %}"
              class="{{ class }}{% if id == page %} current{% endif %}">
            {{ title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% block banner %}
      {% include 'main/_banner_small.html' %}
    {% endblock %}
    <a href="//www.mozilla.org/" id="tabzilla">mozilla</a>
  </header>

  <div id="content">
    <div id="content-main" class="main" role="main">
      {% if messages %}
          {% for message in messages %}
            <div class="alert
             {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              <a href="#" class="close">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}

      {% block content_main %}{% endblock %}
    </div>
    <div id="content-sub" class="sub sidebar widgets" role="complementary">
      <aside id="current-time" class="widget">
      <h3 class="widget-title">{{ _('Your Local Time') }}</h3>
      <p class="datetime">
        {{ date_now()|js_date(enable_timeago=False,
                              format='ddd, MMM D, YYYY h:mma',
                              autoupdate=True) }}
      </p>
      </aside>
      {% if not request.user.is_active %}
        {# the redirect_next function comes from the browserid context processor #}
        {{ browserid_login(text='Sign in', color='dark', next=redirect_next()) }}
      {% endif %}

      {% if sidebar_top %}
      <div class="sidebar-top">
      {{ sidebar_top.content|safe }}
      </div>
      {% endif %}

      {% block also_live %}{% endblock %}
        {% if featured %}
          {% set widget_title = _('Trending') -%}
          {% set widget_events = featured -%}
          {% include 'main/_side_events.html' %}
        {% endif %}
      {% block upcoming %}
        {% if upcoming %}
          {% set widget_title = _('Upcoming') -%}
          {% set widget_events = upcoming -%}
          {% include 'main/_side_events.html' %}
        {% endif %}
      {% endblock %}

      {% if sidebar_bottom %}
      <div class="sidebar-bottom">
      {{ sidebar_bottom.content|safe }}
      </div>
      {% endif %}

    </div>
  </div>

  </div>
  </div>
<footer id="site-info" role="contentinfo">
  <div class="wrap">
    <p id="foot-logo">
      <a class="top" href="#page">{{ _('Return to top') }}</a>
      <a class="logo" href="//mozilla.org" rel="external">Mozilla</a>
    </p>
    <p id="colophon">
      Except where otherwise <a href="//www.mozilla.org/en-US/about/legal.html#site" rel="external">noted</a>, content on this site is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="external license">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.</p>
    <nav id="nav-meta">
      <ul>
        <li><a href="https://github.com/mozilla/airmozilla">Code on GitHub</a></li>
        <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?format=guided#h=dupes%7CAir+Mozilla%7COther">
          Report a bug</a></li>
        <li><a href="/contact-us/">{{ _('Contact Us') }}</a></li>
        <li><a href="//www.mozilla.org/en-US/privacy" rel="external">{{ _('Privacy Policy') }}</a></li>
        <li><a href="//www.mozilla.org/en-US/about/legal.html" rel="external">{{ _('Legal Notices') }}</a></li>
        <li><a href="//www.mozilla.org/en-US/legal/fraud-report/index.html" rel="external">{{ _('Report Trademark Abuse') }}</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}

{% block site_js %}
  {{ super() }}
  {# the day Air Mozilla uses L10n we can remove this /en-US/ here. For now it reduces redirects. #}
  {% if not DEV %}<script src="//mozorg.cdn.mozilla.net/en-US/tabzilla/tabzilla.js"></script>{% endif %}

  {# Instead of using browser_js() we here include them manually. It'll make the page faster #}
  {% compress js %}
  <script src="{{ static('js/libs/include.js') }}"></script>
  <script src="{{ static('browserid/api.js') }}"></script>
  <script src="{{ static('browserid/browserid.js') }}"></script>
  {% endcompress %}

{% endblock %}
