<div class="pagination">
    <ul>
        {% if paginate.has_previous() %}
        <li>
            <a href="?page={{ paginate.previous_page_number() }}">&larr;</a>
        </li>
        {% endif %}
        <li class="active">
            <a href="?page={{ paginate.number }}">{{ paginate.number }}
                        / {{ paginate.paginator.num_pages }}</a>
        </li>
        {% if paginate.has_next() %}
        <li>
            <a href="?page={{ paginate.next_page_number() }}">&rarr;</a>
        </li>
        {% endif %}
    </ul>
</div>
