{% extends 'manage/manage_base.html' %}
{% set page='tweets' -%}

{% block manage_title %}
  All Event Tweets
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style>
  td.text { font-size: 0.8em; font-style: italic; }
  td.buttons { text-align: right; }
  </style>
{% endblock %}

{% block manage_content %}
  <form action="" method="post">
  {{ csrf() }}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Text</th>
        <th>Sent/Sending</th>
        <th>Creator</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for tweet in paginate %}
      <tr>
        <td><a href="{{ url('manage:event_edit', tweet.event.pk) }}" title="{{ tweet.event.title }}">{{ truncate_words(tweet.event.title, 4) }}</a></td>
        <td class="text">{{ tweet.text|truncate(100) }}</td>
        <td>
          {% include "manage/_tweet_state.html" %}
        </td>
        <td>
          {% if tweet.creator %}
            {{ tweet.creator.email }}
          {% else %}
            <i>n/a</i>
          {% endif %}
        </td>
        <td>
          <a class="btn btn-default btn-sm" href="{{ url('manage:event_tweets', tweet.event.pk) }}">Manage tweets</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "manage/_paginate.html" %}
  </form>

{% endblock %}
