{% extends 'manage/approvals.html' %}

{% block manage_title %}
  Reviewing event "{{ approval.event.title }}"
{% endblock %}

{% block manage_content %}
  <table class="table">
      <tr>
        <td>Title</td>
        <td>{{ approval.event.title }}</td>
      </tr>
      <tr>
        <td>Placeholder image</td>
        <td><a href="{{ approval.event.placeholder_img.url }}">View</a></td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ approval.event.description }}</td>
      </tr>
      <tr>
        <td>Short description</td>
        <td>{{ approval.event.short_description }}</td>
      </tr>
      <tr>
        <td>Start time</td>
        <td>{{ approval.event.start_time|js_date }}
          {% if approval.event.location %}
          {{ approval.event.location_time.strftime("%I:%M%p") }} in {{ approval.event.location.name }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{ approval.event.location }}</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{ approval.event.category }}</td>
      </tr>
      <tr>
        <td>Call info</td>
        <td>{{ approval.event.call_info }}</td>
      </tr>
      <tr>
        <td>Additional links</td>
        <td>{{ approval.event.additional_links }}</td>
      </tr>
      <tr>
        <td>Privacy</td>
        <td>{{ approval.event.get_privacy_display() }}</td>
      </tr>
      <tr>
        <td>Creator</td>
        <td>{{ approval.event.creator.email }}</td>
      </tr>
      {% if suggested_event %}
      <tr>
        <td>Originally requested by</td>
        <td>{{ suggested_event.user.email }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Created</td>
        <td>{{ approval.event.created|js_date }}</td>
      </tr>
      <tr>
        <td>Participants</td>
        <td>
          {% for participant in approval.event.participants.all() %}
            &bull; {{ participant.name }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Tags</td>
        <td>
          {% for tag in approval.event.tags.all() %}
            &bull; {{ tag.name }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Approvals requested</td>
        <td>
          {% for app in approval.event.approval_set.all() %}
            &bull; {{ app.group }}
          {% endfor %}
        </td>
      </tr>
  </table>
  <form method="post" class="form-horizontal">
  {{ csrf() }}
  {{ bootstrapform(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-large"
            name="approve" id='submit_approve'>
      <i class="icon-ok"></i>
      Approve
    </button>
    <button type="submit" class="btn btn-danger btn-large"
            name="reject" id="submit_reject">
      <i class="icon-remove"></i>
      Reject
    </button>
  </div>
  </form>
{% endblock %}
