{% extends "manage/manage_base.html" %}
{% set page = "categories" %}

{% block manage_title %}
    Categories
{% endblock %}

{% block manage_content %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Events</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.event_set.count() }}</td>
          <td>
            <a class="btn" href="{{ url('manage:category_edit', category.id) }}">
            <i class="icon-edit"></i>
              Edit
            </a>
            <form method="post" class="confirm"
                  action="{{ url('manage:category_remove', category.id) }}">
              {{ csrf() }}
              <button class="btn btn-danger" type="submit">
                <i class="icon-trash"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    <a class="btn" href="{{ url('manage:category_new') }}">
      <i class="icon-plus-sign"></i>
      New category
    </a>
  </p>
{% endblock %}
