{% extends "manage/manage_base.html" %}
{% set page = "cronlogger" %}

{% block manage_title %}
    Cron Logs
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('angular/angular.min.js') }}"></script>
  <script src="{{ static('angular/angular-moment.min.js') }}"></script>
  {% javascript 'cronlogger' %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style>
  .filter-bar {
      margin-left: 10px;
      margin-bottom: 30px;
  }
  .loading {
      padding: 200px;
      text-align: center;
  }
  div.buttons {
      float: right;
      padding-right: 15px;
  }
  .right {
      float: right;
  }
  </style>
{% endblock %}

{% block manage_content %}

<div ng-app="app" ng-controller="CronLoggerController">
  <p ng-if="loading" class="loading">
    <img src="{{ static('img/spinner.gif') }}">
    <span class="blinking">Loading logs...</span>
  </p>

  {% raw %}

  <div class="row filter-bar" ng-show="!loading">
    <div class="buttons">
      <button class="btn btn-xs btn-default"
        ng-class="{'btn-primary': expandedView}"
        ng-click="expandedView=true">Expanded view</button>
      <button class="btn btn-xs btn-default"
        ng-class="{'btn-primary': !expandedView}"
        ng-click="expandedView=false">Condensed view</button>
    </div>

    <p>
      There are: <b>{{ count }}</b> logged jobs.
      <span ng-if="filtered_items.length < count">
        (Only show the {{ filtered_items.length }} most recent)
      </span>
    </p>
    <select name="created" ng-model="search_job"
     ng-options="obj.text for obj in jobs track by obj.value">
      <option value="">All jobs</option>
    </select>

    <button type="button" class="btn btn-default btn-xs btn-primary"
      ng-if="hasFilter()" ng-click="clearFilter()">Clear filter</button>
  </div>

  <table ng-show="!expandedView" class="table table-condensed">
    <thead>
      <tr>
        <th>Job</th>
        <th>Duration</th>
        <th>Time ago</th>
        <th>Exact time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in filtered_items = (logs)">
        <td>{{ item.job }}</td>
        <td>
          <span ng-if="item.duration !== null">
            {{ showDuration(item.duration) }}
          </span>
        </td>
        <td>
          <time title="{{ formatDate(item.created) }}" am-time-ago="item.created"></time>
        </td>
        <td>
          {{ formatDate(item.created) }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="panel panel-default" ng-repeat="item in filtered_items = (logs)" ng-show="expandedView">
    <div class="panel-heading">
      <span class="right">
        <time title="{{ formatDate(item.created) }}" am-time-ago="item.created"></time>
      </span>
      <h3 class="panel-title">{{ item.job }}</h3>
    </div>
    <div class="panel-body">
      <div ng-if="item.duration !== null">
        <p><b>Duration:</b> {{ showDuration(item.duration) }}</p>
      </div>

      <div ng-show="item.exc_type">
        <h4>Error!</h4>
        <p>Exception type: <b>{{ item.exc_type }}</b></p>
        <p>Exception value: <b>{{ item.exc_value }}</b></p>
        <p>Traceback:</p>
        <pre>{{ item.exc_traceback }}</pre>
      </div>

      <div ng-show="item.stdout">
        <p><b>Stdout</b></p>
        <pre>{{ item.stdout }}</pre>
      </div>
      <div ng-show="item.stderr">
        <p><b>Stderr</b></p>
        <pre>{{ item.stderr }}</pre>
      </div>
    </div>
  </div>

  {% endraw %}

</div>
{% endblock %}
