{% extends 'manage/manage_base.html' %}
{% set page = 'home' %}

{% block manage_title %}
  Dashboard
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('angular/angular.min.js') }}"></script>
  {% compress js %}
  <script src="{{ static('manage/js/dashboard.js') }}"></script>
  {% endcompress %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style>
  .section {
      margin-bottom: 50px;
  }
  .section h4 {
      border-top: 1px solid #ccc;
  }
  .searches {
      margin: 0 auto;
      width: 90%;
  }
  .searches th,
  .searches td {
      width: 100px;
  }

  .searches th {
      text-align: center;
  }
  tr.counts td {
      font-size: 240%;
      text-align: center;
      /*padding: 5px 70px;*/
  }
  .loading {
      padding: 200px;
      text-align: center;
  }
  .prior-count {
      font-size: 50%;
  }
  </style>
{% endblock %}

{% block manage_content %}

<div ng-app="app" ng-controller="DashboardController">

  <div class="loading" ng-show="!groups.length">
    <p>Loading dashboard data...</p>
  </div>

  {% raw %}
  <div class="section" ng-repeat="group in groups">
    <h4>{{ group.name }}</h4>
    <table class="searches">
      <thead>
        <tr>
          <th title="Starting at midnight of UTC">Today</th>
          <th title="Starting on the Monday">This week</th>
          <th title="Starting the 1st of this month">This month</th>
          <th>This year</th>
          <th>Ever</th>
        </tr>
      </thead>
      <tbody>
        <tr class="counts">
          <td title="Starting at midnight of UTC">
            {{ group.counts.today | number}}
            <span class="prior-count" title="Count for yesterday">
              {{ group.counts.yesterday }}
            </span>
          </td>
          <td title="Starting on the Monday">
            {{ group.counts.this_week | number}}
            <span class="prior-count" title="Count for last week">
              {{ group.counts.last_week | number}}
            </span>
          </td>
          <td title="Starting the 1st of this month">
            {{ group.counts.this_month | number}}
            <span class="prior-count" title="Count for last month">
              {{ group.counts.last_month | number}}
            </span>
          </td>
          <td title="Starting the 1st of January">
            {{ group.counts.this_year | number}}
            <span class="prior-count" title="Count for last year">
              {{ group.counts.last_year | number}}
            </span>
          </td>
          <td>{{ group.counts.ever | number}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endraw %}

</div>

{% endblock %}
