{% extends 'manage/manage_base.html' %}
{% set page = 'home' %}

{% block manage_title %}
    Welcome!
{% endblock %}

{% block manage_content %}
    <p>Welcome to the Air Mozilla Manager.</p>
    <p>If you have any questions, please contact

    {% for email in admin_email_addresses -%}
    <a href="mailto:{{ email }}">{{ email }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}.
    </p>

    {% if git_revision %}
    <p><a href="https://github.com/mozilla/airmozilla/commit/{{ git_revision }}">Current version of airmozilla installed.</a></p>
    {% endif %}

{% endblock %}
