{% extends 'manage/manage_base.html' %}
{% set page='events' -%}

{% block manage_title %}
  Discussion Configuration
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'select2' %}
  {% stylesheet 'select2_bootstrap' %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('select2/select2.min.js') }}"></script>
  {% javascript 'discussion_configuration' %}
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}

  <div class="sidebar span4 well">
    <p><strong># <a href="{{ url('manage:event_comments', event.pk) }}">Comments</a></strong></p>

    <table>
      {% for label, url_, count in counts %}
      <tr>
        <td style="padding-right:20px">{{ count }}</td>
        <td>

          <a href="{{ url_ }}"><b>{{ label }}</b></a>
        </td>
      </tr>
      {% endfor %}
    </table>

  </div>


  {% if not discussion %}
    {% set submit_text="Set up Discussion Configuration" %}
  {% endif %}
  {% include "manage/_default_form.html" %}
  <p>
    <a href="{{ url('manage:event_edit', event.pk) }}">&larr; Return to event</a>
  </p>
{% endblock %}
