{% extends 'manage/manage_base.html' %}
{% set page='event_hit_stats' -%}

{% block manage_title %}
  Hit Statistics
{% endblock %}


{% block site_css %}
  {{ super() }}
  <style>
  td.total_hits { font-weight: bold; }
  </style>
{% endblock %}


{% block manage_content %}

  {% if stats_total %}
  <p class="snippet">
  The total number of hits across all <strong>{{ thousands(events_total) }}</strong> events is: <strong>{{ thousands(stats_total) }}</strong>
  </p>
  {% endif %}
  <form action="">
    <input type="checkbox" name="include_excluded"
     {% if include_excluded %}checked{% endif %}> Include the "Excluded from Trending" events
    <button class="btn btn-default btn-xs">Refresh</button>
    <div class="pull-right">
      <input type="text" name="title" placeholder="Event" value="{% if title %}{{ title }}{% endif %}">
      <button class="btn btn-default btn-xs">Search</button>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
	      <th>&nbsp;</th>
        <th>
          {% if order_by == 'total_hits' %}
          Hits
          {% else %}
          <a href="?order=total_hits">Hits</a>
          {% endif %}
        </th>
        <th>Age</th>
        <th>
          {% if order_by == 'hits_per_day' %}
          Hits/day <sup>*</sup>
          {% else %}
          <a href="?order=hits_per_day">Hits/day <sup>*</sup></a>
          {% endif %}
        </th>
        <th>
          {% if order_by == 'score' %}
          Score <sup>**</sup>
          {% else %}
          <a href="?order=score">Score <sup>**</sup></a>
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for stat in paginate %}
      <tr>
        <td><a href="{{ url('main:event', stat.event.slug) }}" title="{{ stat.event.title }}">{{ truncate_words(stat.event.title, 10) }}</a></td>
	<td>
          <a href="{{ url('manage:event_edit', stat.event.pk) }}" class="btn btn-default tn-xs">
            <i class="glyphicon glyphicon-edit"></i> Edit
          </a>
	</td>
        <td class="total_hits">
          {{ thousands(stat.total_hits) }}
        </td>
        <td>
          {{ timesince(stat.event.archive_time) }}
        </td>
        <td>
          {{ (stat.hits_per_day or 0.0)|round(1) }}
        </td>
        <td>
          {{ (stat.score or 0.0)|round(1) }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "manage/_paginate.html" %}

  <p>
  *
  Approximate value since the event was archived.<br>
  **
  Score is a function of <code>total hits / days since archived ^ 1.8</code> but if
  the event is marked as "featured" it gets a <code>2x</code> boost. This is almost the
  same ranking algorithm used on <a href="https://news.ycombinator.com/item?id=1781013">Hacker News</a>.
  </p>


{% endblock %}
