{% extends 'manage/manage_base.html' %}
{% set page='event_assignments' -%}

{% block manage_title %}
  Event Assignments
{% endblock %}

{% block manage_content %}

  <h4>
    People with Events Assigned
  </h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th># Events</th>
        <th>iCal Feed URL</th>
      </tr>
    </thead>
    <tbody>
      {% for assigned_user in assigned_users %}
      <tr>
        <td>{{ assigned_user.user.email }}</td>
        <td>{{ assigned_user.count }}</td>
        <td><a href="{{ url('manage:event_assignments_ical') }}?assignee={{ assigned_user.user.email }}">Feed</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          <a href="{{ url('manage:event_assignments_ical') }}">Feed for ALL users</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>
    Upcoming Events
  </h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Start time</th>
        <th>Locations</th>
        <th>Users</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    {% for event in events %}
      <tr>
        <td><a href="{{ url('manage:event_edit', event.pk) }}">{{ event.title }}</a></td>
        <td>
          {% if event.location %}
            {{ event.location_time.strftime('%d %b %Y %I:%M%p') }}
          {% else %}
            {{ event.start_time.strftime('%d %b %Y %I:%M%p %Z') }}
          {% endif %}
        </td>
        <td>
            {% if event.location %}
            <b>{{ event.location }}</b>
            <br>
            {% endif %}
            {% for location in event._assignments['locations'] %}
              {{ location }}<br>
            {% endfor %}
        </td>
        <td>
            {% for user in event._assignments['users'] %}
              {{ user.email }}<br>
            {% endfor %}
        </td>
        <td>
          <a href="{{ url('manage:event_assignment', event.pk) }}" class="btn btn-default btn-xs">
            <i class="glyphicon glyphicon-edit"></i> Edit assignments
          </a>
          <a href="{{ url('manage:event_edit', event.pk) }}" class="btn btn-default btn-xs">
            <i class="glyphicon glyphicon-edit"></i> Edit event
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
