{% extends 'manage/manage_base.html' %}
{% set page='events' -%}

{% block manage_title %}
  Event Tweets for "{{ event.title }}"
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style>
  td.text { font-size: 0.8em; font-style: italic; }
  </style>
{% endblock %}

{% block manage_content %}

  <form action="" method="post">
  {{ csrf() }}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Text</th>
        <th>Sent/Sending</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for tweet in tweets %}
      <tr>
        <td class="text">{{ tweet.text }}</td>
        <td>
          {% include "manage/_tweet_state.html" %}
        </td>
        <td class="buttons">
          {% include "manage/_tweet_buttons.html" %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>

  <p>
    <a href="new/">Prepare a new tweet &rarr;</a><br>
    <a href="..">&larr; Return to event</a>
  </p>
{% endblock %}
