{% extends 'manage/manage_base.html' %}
{% set page='vidly_media' -%}

{% block manage_title %}
  Vid.ly Submissions for "{{ event.title }}"
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
    <script src="{{ static('manage/js/event-vidly-submissions.js') }}"></script>
  {% endcompress %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style>
  td.url { font-size: 0.8em; }
  div.info { display: none; }
  </style>
{% endblock %}


{% block manage_content %}

<form action="" method="post">{{ csrf() }}

  <div class="info">
    <p style="text-align:right">
      <button class="btn btn-xs close-info">&times; close</button>
    </p>
    <table class="table table-bordered">

    </table>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>URL</th>
        <th>Submission Time</th>
        <th>Shortcode</th>
        <th>Email</th>
        <th>Token</th>
        <th>HD</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody>
      {% for submission in paginate %}
      <tr>
        <td>
          {% if event.template_environment and event.template_environment['tag'] == submission.tag %}
          <span class="label label-info" title="The one still being used now by this event">Actively used</span>
          {% else %}
            <input type="checkbox" name="id" value="{{ submission.id }}" checked>
          {% endif %}
        </td>
        <td class="url">{{ scrub_transform_passwords(submission.url) }}</td>
        <td>{{ submission.submission_time|js_date }}</td>
        <td>
          {% if submission.tag %}<code>{{ submission.tag }}</code>{% endif %}
        </td>
        <td>{{ submission.email }}</td>
        <td>
          {% if submission.token_protection %}
          <i class="glyphicon glyphicon-ok"></i>
          {% else %}
          <i class="glyphicon glyphicon-minus-sign"></i>
          {% endif %}
        </td>
        <td>
          {% if submission.hd %}
          <i class="glyphicon glyphicon-ok"></i>
          {% else %}
          <i class="glyphicon glyphicon-minus-sign"></i>
          {% endif %}
        </td>
        <td>
          {% if not submission.submission_error %}
          <i class="glyphicon glyphicon-minus-sign"></i>
          {% else %}
          <i class="glyphicon glyphicon-ok"></i>
          <button name="info" class="btn btn-xs" value="{{ submission.pk }}">
            <i class="glyphicon glyphicon-search"></i>
            Show info
          </button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary">Delete selected submissions from Vid.ly</button>
</form>

  {% include 'manage/_paginate.html' %}

<p>
  <a href="..">&larr; Return to event</a>
</p>

{% endblock %}
