{% extends "manage/manage_base.html" %}
{% if not page %}
    {% set page = "erequest" %}
{% endif %}

{% block manage_title %}
    Event request
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link href="{{ static('manage/css/select2.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static('manage/css/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block manage_content %}
{% include 'manage/_default_form_upload.html' %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
    <script src="{{ static('manage/js/select2.min.js') }}"></script>
    <script src="{{ static('manage/js/jquery-ui-1.8.21.custom.min.js') }}"></script>
    <script src="{{ static('manage/js/jquery-ui-timepicker-addon.js') }}"></script>
    <script src="{{ static('manage/js/event-request.js') }}"></script>
  {% endcompress %}
{% endblock %}
