{% extends "manage/event_request.html" %}
{% set page = "events" %}

{% block manage_title %}
  {% if event.slug %}
    Editing event "<a href="{{ url('main:event', event.slug) }}">{{ event.title }}</a>"
  {% else %}
    Editing event "{{ event.title }}"
  {% endif %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link href="{{ static('manage/css/event-edit.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
    <script src="{{ static('manage/js/event-edit.js') }}"></script>
  {% endcompress %}
{% endblock %}


{% block content_class %}col-md-6{% endblock %}
{% block extra_columns %}
<div class="col-md-4">
  <div class="sidebar span4 well">
    <p><strong>Event status: {{ event.status }}</strong></p>
    <ul>
      {% for approval in event.approval_set.all() %}
        <li>
        {% if approval.processed %}
          {% set badge = 'success' if approval.approved else 'important' %}
          <span class="badge badge-{{ badge }}">
            {{ 'Approved' if approval.approved else 'Rejected' }}
          </span>
          <span class="badge badge-inverse">{{ approval.group }}</span>
          &nbsp;
          {{ approval.processed_time|js_date }}<br>{{ approval.user.email }}
          {% if approval.comment %}
            - {{ approval.comment }}
          {% endif %}
        {% else %}
          Needs review from {{ approval.group }}
        {% endif %}
        </li>
      {% endfor %}
      {% if not almost_equal(event.modified, event.created) %}
      <li>
        <span class="badge badge-info">Modified</span>
        {{ event.modified|js_date }}<br>{{ event.modified_user.email }}
      </li>
      {% endif %}
      <li>
        <span class="badge badge-info">Created</span>
        {{ event.created|js_date }}<br>{{ event.creator.email }}</li>
    </ul>
    {% if suggested_event %}
    <p><a href="{{ url('suggest:summary', suggested_event.pk) }}">This event was originally suggested</a> by
      <strong>{{ suggested_event.user.email }}</strong>
      {% if suggested_event.submitted %}
      {{ suggested_event.submitted|js_date }}.
      {% else %}
        <em>suggested event submission retracted</em>.
      {% endif %}
    </p>
    {% endif %}

    {% if suggested_event and suggested_event.upload %}
        <p style="margin-top:25px"><strong>File Upload:</strong> (from requested event)</p>
        <table class="event-upload">
          <tr>
            <th>Name:</th>
            <td class="file-name">{{ suggested_event.upload.file_name }}</td>
          </tr>
          <tr>
            <th>Size:</th>
            <td>{{ suggested_event.upload.size | filesizeformat }}</td>
          </tr>
          <tr>
            <th>URL:</th>
            <td><a href="{{ suggested_event.upload.url }}">Open</td>
          </tr>
        </table>
        <p><a href="{{ url('manage:event_upload', event.pk) }}" class="btn btn-primary btn-sm">Upload a different file</a></p>
    {% elif event.upload %}
        <p style="margin-top:25px"><strong>File Upload:</strong></p>
        <table class="event-upload">
           <tr>
             <th>Name:</th>
             <td class="file-name">{{ event.upload.file_name }}</td>
           </tr>
           <tr>
             <th>Size:</th>
             <td>{{ event.upload.size | filesizeformat }}</td>
           </tr>
           <tr>
             <th>URL:</th>
             <td><a href="{{ event.upload.url }}">Open</td>
           </tr>
        </table>
        <p><a href="{{ url('manage:event_upload', event.pk) }}" class="btn btn-primary btn-sm">Upload a different file</a></p>
    {% elif event.is_pending() %}
        <p style="margin-top:25px"><strong>File Upload:</strong></p>
        <p><a href="{{ url('manage:event_upload', event.pk) }}" class="btn btn-primary btn-sm">Upload original file</a></p>
    {% endif %}

    {% if event.is_live() and event.is_scheduled() %}
    <form action="{{ url('manage:stop_live_event', event.pk) }}" method="post" style="margin-top:25px">
      {{ csrf() }}
      <p>
        <button class="btn btn-danger"
           title="This will change the status to pending and redirect you to upload the file"
           >Stop Live event</button>
      </p>
    </form>
    {% endif %}

    <p style="margin-top:25px"><strong>Tweets:</strong></p>
    {% for tweet in tweets %}
      {% if loop.first %}
      <ul>
      {% endif %}
      <li>
        "{{ truncate_words(tweet.text, 10) }}"<br>

        {% if tweet.sent_date %}
          <a href="{{ full_tweet_url(tweet.tweet_id) }}">Sent {{ tweet.sent_date|js_date }}</a>
          {% if tweet.include_placeholder %}
          <small>(with placeholder image)</small>
          {% endif %}
        {% else %}
          {% if not tweet.event.is_scheduled() %}
            Needs to be scheduled first
          {% elif tweet.event.needs_approval() %}
            Needs to be approved first
          {% else %}
            Not yet sent
            ({{ tweet.send_date|js_date }})
          {% endif %}

        {% endif %}
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    {% if tweets %}
    <p><a href="{{ url('manage:event_tweets', event.pk) }}" class="btn btn-primary btn-sm">Manage tweets</a></p>
    {% else %}
    <p><a href="{{ url('manage:new_event_tweet', event.pk) }}" class="btn btn-primary btn-sm">Prepare a new tweet</a></p>
    {% endif %}

    {% if is_vidly_event %}
    <p style="margin-top:25px"><strong>Vid.ly Media</strong></p>
    <p>
      <span id="vidly-submission" data-id="{{ event.pk }}" class="label">Finding out</span>
      {% if perms.main.add_vidlysubmissioN %}
      {% set submission_count=vidly_submissions.count() %}
      {% if submission_count %}
        <small>
        <a href="{{ url('manage:event_vidly_submissions', event.pk) }}"
        >{% if submission_count == 1 %}1 Vid.ly Submission{% else %}{{ submission_count }} Vid.ly Submissions{% endif %}</a>
        </small>
      {% endif %}
      {% endif %}
    </p>
    {% endif %}

    <p style="margin-top:25px"><strong>Discussions</strong></p>
    <p>
      <a href="{{ url('manage:event_discussion', event.pk) }}" class="btn btn-primary btn-sm">
      {% if discussion %}
        Discussion
        {% if discussion.enabled %}
        enabled
        {% else %}
        disabled
        {% endif %}
      {% else %}
        Discussion not configured
      {% endif %}
      </a>
      {% if discussion %}
        <a href="{{ url('manage:event_comments', event.pk) }}">{{ comments_count }} posted comments</a>
      {% endif %}
    </p>

    {% if approvals %}
    <p style="margin-top:25px"><strong>Approval Requested</strong></p>
    <dl>
    {% for approval in approvals %}
        <dt>{{ approval.group.name }}</dt>
        <dd>
        {% if approval.approved %}
          Approved by {{ approval.user.email }}
        {% else %}
          {% if approval.processed %}
            Rejected by {{ approval.user.email }}
            {% if approval.comment %}
            <br><b>Comment:</b> {{ approval.comment }}
            {% endif %}
          {% else %}
            Waiting.
          {% endif %}
        {% endif %}
        </dd>
    {% endfor %}
    </dl>
    {% endif %}

    {% if stuck_pending %}
    <form action="{{ url('manage:event_archive_auto', event.pk) }}" method="post">
    <p style="margin-top:25px"><strong>Pending to archive</strong></p>
    <p>This event is <strong>pending</strong> but has a finished Vid.ly submission.<br>
    <button class="btn btn-primary btn-xs">Auto Archive now</button>
    </p>
    {% endif %}

    <p style="margin-top:25px"><strong>Event Assignment</strong></p>
    <p>
      <a href="{{ url('manage:event_assignment', event.pk) }}" class="btn btn-primary btn-sm">
        {% if assignment %}
          {% set users_count = assignment.users.count() %}
          {% set locations_count = assignment.locations.count() %}
          {{ users_count }} user{{ users_count|pluralize }},
          {{ locations_count }} location{{ locations_count|pluralize }} assigned
        {% else %}
          No assignments set up
        {% endif %}
      </a>
      {% if event.location %}
      <br><small>(default location: {{ event.location }})</small>
      {% endif %}
    </p>

    <p style="margin-top:25px"><strong>Event Transcript</strong></p>
    <p>
      <a href="{{ url('manage:event_transcript', event.pk) }}" class="btn btn-primary btn-sm">
        {% if event.transcript %}
        {{ event.transcript | wordcount }} words
        {% else %}
        0 words
        {% endif %}
      </a>
      <small>{{ amara_videos_count }} Amara video{{ amara_videos_count | pluralize }}</small>
    </p>

    <p style="margin-top:25px"><strong>Survey</strong></p>
    <p>
      {% if survey %}
      <a href="{{ url('manage:event_survey', event.id) }}" class="btn btn-primary btn-sm"
        title="{{ survey.name }}"
        >{% if survey.active %}Survey active{% else %}Survey <b>not</b> active{% endif %}</a>
      {% else %}
        <a href="{{ url('manage:event_survey', event.id) }}" class="btn btn-primary btn-sm">Associate with survey</a>
      {% endif %}
    </p>

  </div>
</div>
{% endblock %}

{% block manage_content %}

  {% include 'manage/_default_form_upload.html' %}

  {% if suggested_event_comments %}
  <div class="suggested-event-comments">
  <h3>Additional comments from original requested event</h3>

  {% set comments=suggested_event_comments %}
  {% include "manage/_suggestion_comments.html" %}

  </div>
  {% endif %}

{% endblock %}
