{% extends 'manage/manage_base.html' %}
{% set page='events' -%}

{% block manage_title %}
  Event Survey for "<a href="{{ url('main:event', event.slug) }}">{{ event.title }}</a>"
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}

{% block manage_content %}

{% if survey %}
<p>Currently associated with:
    <a href="{{ url('manage:survey_edit', survey.id) }}"
    >{% if survey.name %}{{ survey.name }}{% else %}this survey{% endif %}</a>.
</p>
{% endif %}

{% include "manage/_default_form.html" %}


<p style="margin-top:25px">
  <a href="{{ url('manage:event_edit', event.pk) }}">&larr; Return to event</a>
</p>

{% endblock %}
