{% extends "manage/manage_base.html" %}
{% if not page %}
    {% set page = "erequest" %}
{% endif %}


{% block site_js %}
  {{ super() }}
  <script src="{{ static('select2/select2.full.min.js') }}"></script>
  <script src="{{ static('manage/js/jquery-ui-1.10.1.custom.min.js') }}"></script>
  {% javascript 'jquery_ui_timepicker' %}
  {% javascript 'event_request' %}
{% endblock %}

{% block manage_title %}
  {% if duplicate_event %}
    Duplicating event "{{ duplicate_event.title }}"
  {% else %}
    Event request
  {% endif %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'select2' %}
  {% stylesheet 'select2_bootstrap' %}
  <link href="{{ static('manage/css/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}
  {% set submit_text = 'Save and Submit' %}
  {% include "manage/_default_form_upload.html" %}
{% endblock %}
