{% extends "manage/manage_base.html" %}
{% set page = "events" %}

{% block manage_title %}
  Event manager
{% endblock %}

{% macro event_table(name, events, hidden_tag=False, live_tag=False) -%}
<h3>{{ name }}</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width: 5%"></th>
      <th style="width: 19%">Title</th>
      <th style="width: 8%">Location</th>
      <th style="width: 19%">Start time</th>
      <th style="width: 17%">Archive time</th>
      <th style="width: 12%">Category</th>
      <th style="width: 8%">Visibility</th>
      <th style="width: 12%"></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
      <tr>
        <td>
          {% set thumb = thumbnail(event.placeholder_img, '32x32') %}        
          <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}"
               alt="Placeholder image">
        </td>
        <td>
          <a href="{{ url('main:event', event.slug) }}">
            {{ event.title }}
          </a>
        </td>
        <td>{{ event.location }}</td>
        <td>{{ event.start_time|js_date }}</td>
        <td>
          {% if event.archive_time %}
            {{ event.archive_time|js_date }}
          {% else %}
            {% if perms.main.change_event_others %}
              <a href="{{ url('manage:event_archive', event.id) }}" class="btn">
                <i class="icon-time"></i> Archive
              </a>
            {% else %}
              Not archived
            {% endif %}
          {% endif %}
        </td>
        <td>{{ event.category }}</td>
        <td>{% if event.public %}
              <span class="label">Public</span>
            {% else %}
              <span class="label label-warning">Internal</span>
            {% endif %}
            {% if event.featured %}
              <span class="label label-success">Featured</span>
            {% endif %}
            {% if live_tag %}
              <span class="label label-important">Live</span>
            {% endif %}
            {% if hidden_tag %}
              <span class="label label-inverse">Hidden</span>
            {% endif %}
        </td>
        <td>
          <a href="{{ url('manage:event_edit', event.id) }}" class="btn">
            <i class="icon-edit"></i> Edit
          </a>
          {% if request.user.has_perm('main.change_event_others') %}
            <a href="{{ url('manage:event_duplicate', event.id) }}" class="btn">
              <i class="icon-repeat"></i> Duplicate
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% block manage_content %}
  {% if search_results %}
    {{ event_table('Search results', search_results) }}
  {% else %}
    {% set paginate = archived %}
    {% if paginate.number == 1 %}
      {% if initiated %}
        {{ event_table('Initiated events, need approval', initiated, True) }}
      {% endif %}
      {% if live %}
        {{ event_table('Live events', live, False, True) }}
      {% endif %}
      {% if archiving %}
        {{ event_table('Archiving events', archiving, True) }}
      {% endif %} 
      {% if upcoming %}
        {{ event_table('Upcoming events', upcoming) }}
      {% endif %}
    {% endif %}
    {% if archived %}
      {{ event_table('Archived events', archived) }}
    {% endif %}
    {% include 'manage/_paginate.html' %}
  {% endif %}
  <p>
    <a href="{{ url('manage:event_request') }}" class="btn">
        <i class="icon-plus-sign"></i>
        New event
    </a>
    </p>
     <form class="well form-search" method="post">
        Find event:
        {{ csrf() }}
        {{ bootstrapform(form) }}
        <button type="submit" class="btn">
            <i class="icon-search"></i>
            Search
        </button>
    </form>
{% endblock %}
