{% extends "manage/event_request.html" %}
{% set page = "events" %}

{% block manage_title %}
  Editing event "{{ event.title }}"
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link href="{{ static('manage/css/event-edit.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
    <script src="{{ static('manage/js/event-edit.js') }}"></script>
  {% endcompress %}
{% endblock %}


{% block manage_content %}
  <div class="sidebar span4 well">
    <p><strong>Event status: {{ event.status }}</strong></p>
    <ul>
      {% for approval in event.approval_set.all() %}
        <li>
        {% if approval.processed %}
          {% set badge = 'success' if approval.approved else 'important' %}
          <span class="badge badge-{{ badge }}">
            {{ 'Approved' if approval.approved else 'Rejected' }}
          </span>
          <span class="badge badge-inverse">{{ approval.group }}</span>
          &nbsp;
          {{ approval.processed_time|js_date }}<br>{{ approval.user.email }}
          {% if approval.comment %}
            - {{ approval.comment }}
          {% endif %}
        {% else %}
          Needs review from {{ approval.group }}
        {% endif %}
        </li>
      {% endfor %}
      {% if not almost_equal(event.modified, event.created) %}
      <li>
        <span class="badge badge-info">Modified</span>
        {{ event.modified|js_date }}<br>{{ event.modified_user.email }}
      </li>
      {% endif %}
      <li>
        <span class="badge badge-info">Created</span>
        {{ event.created|js_date }}<br>{{ event.creator.email }}</li>
    </ul>
    {% if suggested_event %}
    <p><a href="{{ url('suggest:summary', suggested_event.pk) }}">This event was originally suggested</a> by
      <strong>{{ suggested_event.user.email }}</strong>
      {% if suggested_event.submitted %}
      {{ suggested_event.submitted|js_date }}.
      {% else %}
        <em>suggested event submission retracted</em>.
      {% endif %}
    </p>
    {% endif %}

    <p style="margin-top:25px"><strong>Tweets:</strong></p>
    {% for tweet in tweets %}
      {% if loop.first %}
      <ul>
      {% endif %}
      <li>
        "{{ truncate_words(tweet.text, 10) }}"<br>

        {% if tweet.sent_date %}
          <a href="{{ full_tweet_url(tweet.tweet_id) }}">Sent {{ tweet.sent_date|js_date }}</a>
          {% if tweet.include_placeholder %}
          <small>(with placeholder image)</small>
          {% endif %}
        {% else %}
          {% if not tweet.event.is_scheduled() %}
            Needs to be scheduled first
          {% elif tweet.event.needs_approval() %}
            Needs to be approved first
          {% else %}
            Not yet sent
            ({{ tweet.send_date|js_date }})
          {% endif %}

        {% endif %}
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    {% if tweets %}
    <p><a href="{{ url('manage:event_tweets', event.pk) }}" class="btn">Manage tweets</a></p>
    {% else %}
    <p><a href="{{ url('manage:new_event_tweet', event.pk) }}" class="btn">Prepare a new tweet</a></p>
    {% endif %}

    {% if is_vidly_event %}
    <p style="margin-top:25px"><strong>Vid.ly Media</strong></p>
    <p>
      <span id="vidly-submission" data-id="{{ event.pk }}" class="label">Finding out</span>
      {% if perms.main.add_vidlysubmissioN %}
      {% set submission_count=vidly_submissions.count() %}
      {% if submission_count %}
        <small>
        <a href="{{ url('manage:event_vidly_submissions', event.pk) }}"
        >{% if submission_count == 1 %}1 Vid.ly Submission{% else %}{{ submission_count }} Vid.ly Submissions{% endif %}</a>
        </small>
      {% endif %}
      {% endif %}
    </p>
    {% endif %}

    <p style="margin-top:25px"><strong>Discussions</strong></p>
    <p>
      <a href="{{ url('manage:event_discussion', event.pk) }}" class="btn">
      {% if discussion %}
        Discussion
        {% if discussion.enabled %}
        enabled
        {% else %}
        disabled
        {% endif %}
      {% else %}
        Discussion not configured
      {% endif %}
      </a>
      {% if discussion %}
        {{ comments_count }} posted comments
      {% endif %}
    </p>

    {% if stuck_pending %}
    <form action="{{ url('manage:event_archive_auto', event.pk) }}" method="post">
    <p style="margin-top:25px"><strong>Pending to archive</strong></p>
    <p>This event is <strong>pending</strong> but has a finished Vid.ly submission.<br>
    <button class="btn btn-mini">Auto Archive now</button>
    </p>
    {% endif %}

  </div>

  {% include 'manage/_default_form_upload.html' %}


  {% if suggested_event_comments %}
  <div class="suggested-event-comments">
  <h3>Additional comments from original requested event</h3>

  {% set comments=suggested_event_comments %}
  {% include "manage/_suggestion_comments.html" %}

  </div>
  {% endif %}

{% endblock %}
