{% extends "manage/manage_base.html" %}
{% set page = "flatpages" %}

{% block manage_title %}
    Edit static pages
{% endblock %}

{% block manage_content %}
    <table id="current_flatpages" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>URL</th>
        <th>Title</th>
        <th>Content</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for p in paginate %}
        <tr>
            <td>
              {% if p.url.startswith('sidebar_') %}
              <code>{{ p.url }}</code>
              {% else %}
                {% with event=clashes_with_event(p.url) %}
                  {% if event %}
                    <a href="/pages{{ p.url }}">{{ p.url }}</a><br>
                    <small>clashes with
                    <a href="{{ url('main:event', event.slug) }}"
                       title="{{ event.title }}"
                       >{{ event.title|truncate(20, killwords=True) }}</a></small>
                  {% else %}
                    <a href="{{ p.url }}">{{ p.url }}</a>
                  {% endif %}
                {% endwith %}
              {% endif %}
            </td>
            <td>{{ p.title }}
            </td>
            <td>{{ p.content | striptags | truncate(length=70) }}
            </td>
            <td><a href="{{ url('manage:flatpage_edit', p.id) }} " class="btn btn-small">
                <i class="icon-edit"></i>
                Edit
                </a>
              <form method="post" class="confirm"
                    action="{{ url('manage:flatpage_remove', p.id) }}">
                {{ csrf() }}
                <button class="btn btn-danger btn-small" type="submit">
                  <i class="icon-trash"></i>
                  Delete
                </button>
              </form>
            </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% include 'manage/_paginate.html' %}
    <p>
      <a class="btn" href="{{ url('manage:flatpage_new') }}">
        <i class="icon-plus-sign"></i>
        New static page
      </a>
    </p>
{% endblock %}
