{% extends 'base.html' %}
{% set page = page|default('home') -%}
{% set navigation_bar = [
    ('manage:dashboard', 'Dashboard', 'home', 'glyphicon-home', True, ''),
    ('main:home', 'Exit Management', '', 'glyphicon-backward', True, ''),
    ('', 'Event Tools', '', '', perms.main.add_event, ''),
    ('manage:event_request', 'Initiate event', 'erequest', 'glyphicon-calendar',
     perms.main.add_event, ''),
    ('manage:approvals', 'PR Approvals inbox', 'approvals', 'glyphicon-envelope',
     perms.main.change_approval, '%s event(s) requiring your approval'),
    ('manage:events', 'Event manager', 'events', 'glyphicon-facetime-video',
     perms.main.change_event, '%s new unapproved or unscheduled event(s)'),
    ('manage:suggestions', 'Event requests', 'suggestions', 'glyphicon-question-sign',
     perms.main.add_event, '%s new suggested event(s)'),
    ('manage:picturegallery', 'Picture Gallery', 'picturegallery', 'glyphicon-picture',
     perms.main.change_picture, ''),
    ('manage:all_event_tweets', 'Event tweets', 'tweets', 'glyphicon-bullhorn',
     perms.main.change_event, '%s unsent tweet(s)'),
    ('manage:vidly_media', 'Vid.ly media', 'vidly_media', 'glyphicon-warning-sign',
     is_superuser, ''),
    ('manage:event_hit_stats', 'Hit statistics', 'event_hit_stats', 'glyphicon-signal',
     perms.main.add_event, ''),
    ('manage:event_assignments', 'Event assignments', 'event_assignments', 'glyphicon-phone-alt',
     perms.main.change_eventassignment, ''),
    ('manage:all_comments', 'All comments', 'comments', 'glyphicon-comment',
     perms.comments.change_discussion, ''),
    ('manage:loggedsearches', 'Logged searches', 'loggedsearches', 'glyphicon-search',
     is_superuser, ''),
    ('manage:uploads', 'Uploads', 'uploads', 'glyphicon-upload',
     is_superuser, ''),
    ('manage:durations_report_all', 'Durations', 'durations', 'glyphicon-road',
     is_superuser, ''),

    ('', 'Users and groups', '', '', perms.auth.change_user, ''),
    ('manage:users', 'Users', 'users', 'glyphicon-user', perms.auth.change_user,
     ''),
    ('manage:groups', 'Group permissions', 'groups', 'glyphicon-lock',
     perms.auth.change_group, ''),

    ('', 'Event configuration', '', '', perms.main.change_location, ''),
    ('manage:channels', 'Channels', 'channels', 'glyphicon-tasks',
     perms.main.change_channel, ''),
    ('manage:locations', 'Locations', 'locations', 'glyphicon-globe',
     perms.main.change_location, ''),
    ('manage:regions', 'Regions', 'regions', 'glyphicon-globe',
     perms.main.change_region, ''),
    ('manage:templates', 'Video templates', 'templates', 'glyphicon-film',
     perms.main.change_template, ''),
    ('manage:tags', 'Event tags', 'tags', 'glyphicon-tags',
     perms.main.change_event, ''),
    ('manage:recruitmentmessages', 'Recruitment messages', 'recruitmentmessages',
     'glyphicon-briefcase', perms.main.change_recruitmentmessage, ''),
    ('manage:surveys', 'Surveys', 'surveys',
     'glyphicon-list-alt', perms.surveys.change_survey, ''),
     ('manage:topics', 'Topics', 'topics', 'glyphicon-flag',
      perms.main.change_topic, ''),

    ('', 'Other configuration', '', '', perms.flatpages.change_flatpage, ''),
    ('manage:staticpages', 'Static pages', 'pages', 'glyphicon-file',
     perms.staticpages.change_staticpage, ''),
    ('manage:cronlogger', 'Cron Logs', 'cronlogger', 'glyphicon-tasks',
     is_superuser, ''),
     ('manage:url_transforms', 'URL transforms', 'url_transforms', 'glyphicon-retweet',
      perms.main.change_urlmatch, ''),
    ('manage:autocompeter', 'Autocompeter', 'autocompeter', 'glyphicon-fast-forward',
     is_superuser, ''),
    ('manage:tasks_tester', 'Task Tester', 'tasks_tester', 'glyphicon-check',
     is_superuser, ''),
    ('manage:error_trigger', 'Error Trigger', 'error_trigger', 'glyphicon-alert',
     is_superuser, ''),
    ('manage:related_content', 'Related Content', 'related_content', 'glyphicon-link',
     is_superuser, ''),
    ('manage:email_sending', 'Email Sending', 'email_sending', 'glyphicon-transfer',
     is_superuser, ''),

] -%}

{% block page_title %}
    Air Mozilla Management
{% endblock %}

{% block site_css %}
    {% stylesheet 'manage_base' %}
{% endblock %}

{% block content %}
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container container-full">
        <a class="navbar-brand" href="{{ url('manage:dashboard') }}">
        <img id="logo-img" src="{{ static('img/logo-airmo-md.png') }}" alt="Air Mozilla"
             width="100">
        </a>
	      <p class="logged-in">Logged in as {{ request.user.email }}</p>
      </div>
    </div>
  </div>
    <div class="container container-full" id="container">
      <div class="row">
        <div id="menu" class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
          {% for view, title, id, icon, perm, badge_txt in navigation_bar %}
            {% if perm %}
            {% if view == '' %}
              <li class="nav-header disabled"><a>{{ title }}</a></li>
            {% else %}
              <li {% if page == id %} class="active" {% endif %}>
                <a href="{{ url(view) }}"
                  {%- if id in badges %}
                    title="{{ badge_txt % badges[id] }}"
                  {%- endif -%}>
                  <i class="glyphicon {{ icon }}"></i>
                  {{ title }}
                  {% if id in badges %}
                    <span class="badge badge-
                      {%- if page != id %}danger{% else %}inverse{% endif %}">
                    {{- badges[id] }}</span>
                  {% endif %}
                </a>
              </li>
            {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
        <div id="content" class="{% block content_class %}col-md-10{% endblock %}">
          <h2>{% block manage_title %}{% endblock %}</h2>
          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ format_message(message) }}
              </div>
            {% endfor %}
          {% endif %}
          {% block manage_content %}{% endblock %}
        </div>
        {% block extra_columns %}{% endblock %}
      </div>
  </div>
{% endblock %}

{% block site_js %}
{{ super() }}
{% javascript 'manage_base' %}
{% endblock %}
