{% extends 'base.html' %}
{% set page = page|default('home') -%}
{% set navigation_bar = [
    ('manage:home', 'Dashboard', 'home', 'icon-home', True, ''),
    ('main:home', 'Air Mozilla Index', '', 'icon-backward', True, ''),
    ('auth:logout', 'Log Out', '', 'icon-off', True, ''),

      ('', 'Event Tools', '', '', perms.manage.event_request, ''),
    ('manage:event_request', 'Event request', 'erequest', 'icon-calendar',
     perms.add_event, ''),
    ('manage:participants', 'Participants', 'part_edit', 'icon-picture',
     perms.change_participant, '%s participant(s) need clearing'),
    ('manage:approvals', 'Approval inbox', 'approvals', 'icon-envelope',
     perms.change_approval, '%s event(s) requiring your approval'),
    ('manage:events', 'Event manager', 'events', 'icon-facetime-video',
     perms.change_event, '%s new unapproved or unscheduled event(s)'),

    ('', 'Users and groups', '', '', perms.change_user, ''),
    ('manage:users', 'Edit users', 'users', 'icon-user', perms.change_user,
     ''),
    ('manage:groups', 'Group permissions', 'groups', 'icon-lock',
     perms.change_group, ''),

    ('', 'Event configuration', '', '', perms.change_category, ''),
    ('manage:categories', 'Categories', 'categories', 'icon-folder-close',
     perms.change_category, ''),
    ('manage:locations', 'Locations', 'locations', 'icon-globe',
     perms.change_location, ''),
    ('manage:templates', 'Video templates', 'templates', 'icon-film',
     perms.change_template, '')
] -%}
{% block page_title %}
    Air Mozilla Management
{% endblock %}
{% block site_css %}
    {% compress css %}
    <link href="{{ static('manage/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('manage/css/manage.css') }}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}
{% block content %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ url('manage:home') }}">
        <img id="logo-img" src="{{ static('img/logo-airmo-md.png') }}" alt="Air Mozilla"
             width="100">
        </a>
      </div>
    </div>
  </div>
    <div class="container-fluid" id="container">
    <div class="row">
        <div class="span12" id="logo">
       		<div class="row">
            <div id="menu" class="span2">
                <ul class="nav nav-list">
					{% for view, title, id, icon, perm, badge_txt in navigation_bar %}
						{% if perm %}
						{% if view == '' %}
							<li class="nav-header">{{ title }}</li>
						{% else %}
							<li {% if page == id %} class="active" {% endif %}>
								<a href="{{ url(view) }}"
                  {%- if id in badges %}
                    title="{{ badge_txt % badges[id] }}"
                  {%- endif -%}>
									<i class="{{ icon }}{% if page == id %} icon-white{% endif %}"></i>
									{{ title }}
                  {% if id in badges %}
                    <span class="badge badge-
                      {%- if page != id %}important{% else %}inverse{% endif %}">
                    {{- badges[id] }}</span>
                  {% endif %}
								</a>
							</li>
						{% endif %}
						{% endif %}
					{% endfor %}
                </ul>
	    	</div>
		    <div id="content" class="span10">
		        <h2>{% block manage_title %}{% endblock %}</h2>
		        {% block manage_content %}{% endblock %}
		    </div>
            </div>
		</div>
	</div>
    </div>
{% endblock %}
