{% extends 'base.html' %}
{% set page = page|default('home') -%}
{% set navigation_bar = [
    ('', 'Management Tools', '', '', True),
    (url('manage:home'), 'Welcome', 'home', 'icon-home', True),
    (url('main:home'), 'Air Mozilla Index', '', 'icon-th-list', True),
    (url('auth:logout'), 'Log Out', '', 'icon-off', True),

    ('', 'Users and groups', '', '', perms.change_user),
    (url('manage:users'), 'Edit users', 'users', 'icon-user',
     perms.change_user),
    (url('manage:groups'), 'Group permissions', 'groups', 'icon-lock',
     perms.change_group),

    ('', 'Event Tools', '', '', perms.manage.event_request),
    (url('manage:event_request'), 'Event request', 'erequest',
     'icon-calendar', perms.add_event),
    (url('manage:participants'), 'Participant editor', 'part_edit',
     'icon-picture', perms.change_participant),
    (url('manage:event_edit'), 'Edit events', 'events', 'icon-facetime-video',
     perms.change_event),
    (url('manage:categories'), 'Categories', 'categories', 'icon-folder-close',
     perms.change_category)
] -%}
{% block page_title %}
    Air Mozilla Management
{% endblock %}
{% block site_css %}
    {% compress css %}
    <link href="{{ static('manage/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('manage/css/manage.css') }}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="span12" id="logo">
            <img id="logo-img" src="{{ static('img/logo-airmo-lg.png') }}" alt="Air Mozilla">
       		<div class="row">
            <div id="menu" class="span3">
                <ul class="nav nav-list">
					{% for href, title, id, icon, perm in navigation_bar %}
						{% if perm %}
						{% if href == '' %}
							<li class="nav-header">{{ title }}</li>
						{% else %}
							<li {% if page == id %} class="active" {% endif %}>
								<a href="{{ href }}">
									<i class="{{ icon }}"></i>
									{{ title }}
								</a>
							</li>
						{% endif %}
						{% endif %}
					{% endfor %}
                </ul>
	    	</div>
		    <div id="content" class="span9">
		        <h2>{% block manage_title %}{% endblock %}</h2>
		        {% block manage_content %}{% endblock %}
		    </div>
            </div>
		</div>
	</div>
    </div>
{% endblock %}
{% block site_js %}
    {% compress js %}
    <script src="{{ static('js/libs/jquery-1.7.2.min.js') }}"></script>
    {% endcompress %}
{% endblock %}
