{% extends "manage/manage_base.html" %}
{% set page = "part_edit" %}

{% block manage_title %}
    Participants
{% endblock %}

{% macro participants_table(participants) %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Cleared</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for participant in participants %}
      <tr>
        <td>
        {% if participant.photo %}
          {% set thumb = thumbnail(participant.photo, '32x32') %} 
          <img src="{{ thumb.url }}" width="{{ thumb.width }}"
                   height="{{ thumb.height }}" alt="Participant photo">
        {% endif %}
        </td>
        <td>
          <a href="{{ url('main:participant', participant.slug)}}">
            {{ participant.name }}
          </a>
        </td>
        <td>{{ participant.email }}</td>
        <td>{{ participant.get_role_display() }}</td>
        <td>{{ participant.get_cleared_display() }}</td>
        <td>
          {% if perms.main.change_participant_others
             or participant.creator == request.user %}
            <a class="btn"
               href="{{ url('manage:participant_edit', participant.id) }}">
              <i class="icon-edit"></i>
                Edit
            </a>
          {% endif %}
          {% if perms.main.delete_participant %}
            <form method="post" class="confirm"
              action="{{ url('manage:participant_remove', participant.id) }}">
              {{ csrf() }}
              <button class="btn btn-danger" type="submit">
                <i class="icon-trash"></i>
                Delete
              </button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% block manage_content %}
  {% set paginate = participants_clear %}
  {% if paginate.number == 1 and participants_not_clear %}
    <h3>Need clearing</h3>
    {{ participants_table(participants_not_clear) }}
  {% endif %}
  <h3>All participants</h3>
  {{ participants_table(participants_clear) }} 
  {% include 'manage/_paginate.html' %}
  <p>
  <a href="{{ url('manage:participant_new') }}" class="btn">
    <i class="icon-plus-sign"></i>
    New participant
  </a>
  </p>
   <form class="well form-search" method="post">
    Find participant:
    {{ csrf() }}
    {{ bootstrapform(form) }}
    <button type="submit" class="btn">
      <i class="icon-search"></i>
        Search
    </button>
  </form>
{% endblock %}
