{% extends "manage/manage_base.html" %}
{% set page = "picturegallery" %}

{% block manage_title %}
    Picture Gallery
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('angular/angular.min.js') }}"></script>
  <script src="{{ static('angular/angular-moment.min.js') }}"></script>
  {% compress js %}
  <script src="{{ static('manage/js/picturegallery.js') }}"></script>
  {% endcompress %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style>
  div.filter-bar {
      margin: 20px;
  }
  div.filter-bar input[type="text"] {
      width: 400px;
  }
  </style>
{% endblock %}

{% block manage_content %}
<div ng-app="picturegalleryApp" ng-controller="PictureGalleryController">
  <p ng-if="loading" class="loading">
    <img src="{{ static('img/spinner.gif') }}">
    <span class="blinking">Loading pictures...</span>
  </p>

  <p style="float: right">
    <a class="btn btn-primary" href="{{ url('manage:picture_add') }}">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Upload more pictures
    </a>
  </p>

  <!-- using this form for AJAX saving the notes -->
  {{ csrf() }}
  {% raw %}

  <div class="row filter-bar" ng-class="{hidden: loading}">
    <input type="text" ng-model="search_notes" placeholder="Find by notes">
    <select name="created" ng-model="search_created">
      <option value="">Uploaded</option>
      <option value="today">Today</option>
      <option value="yesterday">Yesterday</option>
      <option value="this_week">This week</option>
      <option value="older_than_this_week">Older than this week</option>
    </select>

    <button type="button" class="btn btn-default btn-xs btn-primary" ng-if="hasFilter()" ng-click="clearFilter()">Clear filter</button>
  </div>

  <div class="row" ng-class="{hidden: loading}">
    <div class="col-md-3"
        ng-repeat="picture in filtered_items = (pictures | filter:filterBySearch) | startFrom:currentPage*pageSize | limitTo:pageSize"
         >
      <div class="thumbnail">
        <a href="{{ url('manage:picture_edit', picture.id) }}" title="Click to edit">
          <img ng-src="{{ url('manage:redirect_picture_thumbnail', picture.id) }}?geometry=200x200">
        </a>

        <div class="caption">

          <input name="notes" value="{{ picture.notes }}"
           ng-model="picture.notes"
           placeholder="no notes">
          <button
            ng-click="saveNotes(picture)"
            class="btn btn-xs"
            ng-class="{'btn-primary': !picture._saving}">
            <span ng-if="picture._saving">Saving</span>
            <span ng-if="!picture._saving">Save</span>
          </button>
          <br>
          {{ picture.width }}x{{ picture.height }}
          {{ picture.size | filesize }}
          <br>
          <time title="{{ formatDate(picture.created) }}" am-time-ago="picture.created"></time>
        </div>
      </div>
    </div>

    <div ng-if="!filtered_items.length">
        <p><b>Filtered too much?</b></p>
        <p ng-if="search_notes">
          <a href="#" ng-click="resetFilter('search_notes')">Drop notes search on <code>{{ search_notes }}</code></a>
        </p>
        <p ng-if="search_created">
          <a href="#" ng-click="resetFilter('search_created')">Drop the filter on uploaded</a>
        </p>
    </div>

  </div>
  {% endraw %}

  <div ng-show="filtered_items.length">
    {% include "manage/_angular_pagesize.html" %}
    {% include "manage/_angular_paginate.html" %}
  </div>


</div>
{% endblock %}
