{% extends "manage/manage_base.html" %}
{% set page = "picturegallery" %}

{% block manage_title %}
    Picture Gallery
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('angular/angular.min.js') }}"></script>
  <script src="{{ static('angular/angular-moment.min.js') }}"></script>
  {% compress js %}
  <script src="{{ static('manage/js/picturegallery.js') }}"></script>
  {% endcompress %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style>
  #total-pictures-stats {
      float: right;
      font-size: 80%;
  }
  div.filter-bar {
      margin: 20px;
  }
  div.filter-bar input[type="text"] {
      width: 400px;
  }
  .current-event-picture div {
      background-color: lightblue;
  }
  div.thumbnail {
      position: relative;
  }
  .picture-metadata {
      position: absolute;
      right: 5px;
      top: 5px;
      opacity: 0.9;
  }
  </style>
{% endblock %}

{% block manage_content %}

{% if event %}
<h4>
  You are here to associate a picture with
  <a href="{{ url('manage:event_edit', event.id) }}">{{ event.title }}</a>

  <script>
  window.CURRENT_EVENT = {{ event.id }};
  {% if event.picture %}
  window.CURRENT_EVENT_PICTURE = {{ event.picture.id }};
  {% endif %}
  </script>

</h4>

{% endif %}

<div ng-app="picturegalleryApp" ng-controller="PictureGalleryController">
  <p ng-if="loading" class="loading">
    <img src="{{ static('img/spinner.gif') }}">
    <span class="blinking">Loading pictures...</span>
  </p>

  <p style="float: right">
    <a class="btn btn-primary"
       href="{{ url('manage:picture_add') }}{% if event %}?event={{ event.id }}{% endif %}">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Upload more pictures
    </a>
  </p>

  <!-- using this form for AJAX saving the notes -->
  {{ csrf() }}
  {% raw %}

  <div class="row filter-bar" ng-class="{hidden: loading}">
    <input type="text" ng-model="search_notes" placeholder="Find by notes">
    <select name="created" ng-model="search_created">
      <option value="">Uploaded</option>
      <option value="today">Today</option>
      <option value="yesterday">Yesterday</option>
      <option value="this_week">This week</option>
      <option value="older_than_this_week">Older than this week</option>
    </select>

    <button type="button" class="btn btn-default btn-xs btn-primary"
      ng-if="hasFilter()" ng-click="clearFilter()">Clear filter</button>
  </div>

  <div class="row" ng-class="{hidden: loading}">
    <div class="col-md-3"
        ng-repeat="picture in filtered_items = (pictures | filter:filterBySearch) | startFrom:currentPage*pageSize | limitTo:pageSize"
        ng-class="{'current-event-picture': current_event_picture == picture.id}"
         >
      <div class="thumbnail">
        <a href="{{ url('manage:picture_edit', picture.id) }}" title="Click to edit">
          <img ng-src="{{ url('manage:redirect_picture_thumbnail', picture.id) }}?geometry=201x113">
          <span class="label label-primary picture-metadata">
            {{ picture.width }}x{{ picture.height }}
            {{ picture.size | filesize }}
          </span>

        </a>
        <div class="caption">

          <input name="notes" value="{{ picture.notes }}"
           ng-model="picture.notes"
           placeholder="no notes">
          <button
            ng-click="saveNotes(picture)"
            class="btn btn-xs"
            ng-class="{'btn-primary': !picture._saving}">
            <span ng-if="picture._saving">Saving</span>
            <span ng-if="!picture._saving">Save</span>
          </button>
          <button
            class="btn btn-danger btn-xs"
            ng-show="!picture._delete_confirmation && !picture.cant_delete"
            ng-click="toggleDeleteConfirmation(picture)">Delete</button>
          <br>
          <a href="" ng-show="picture.events.length"
             ng-click="toggleShowEvents(picture)">
             <ng-pluralize count="picture.events.length"
              when="{'one': '1 event', 'other': '{} events'}">
            </ng-pluralize>
          </a>

          <br>
          <button ng-click="associatePicture(picture)" ng-show="current_event && current_event_picture != picture.id"
                  class="btn btn-primary">
            Pick this for the event
          </button>
          <p ng-show="current_event && current_event_picture == picture.id">
            <b>Current event picture</b>
          </p>
          <span ng-show="picture._show_events">
            <span ng-repeat="event in picture.events">
              <a href="{{ url('manage:event_edit', event.id) }}">{{ event.title }}</a><br>
            </span>
          </span>

          <p ng-show="picture._delete_confirmation">
            Are you sure?
            <button class="btn btn-danger btn-xs"
              ng-click="deletePicture(picture)">
              Yes
            </button>
            <button class="btn btn-default btn-xs"
              ng-click="toggleDeleteConfirmation(picture)">Cancel</button>
            <br>
            <small ng-show="picture.events.length">
              Careful. This picture is used by <b>{{ picture.events.length }}</b>
              events.
            </small>
          </p>


        </div>
      </div>
    </div>

    <div ng-if="!filtered_items.length">
        <p><b>Filtered too much?</b></p>
        <p ng-if="search_notes">
          <a href="#" ng-click="resetFilter('search_notes')">Drop notes search on <code>{{ search_notes }}</code></a>
        </p>
        <p ng-if="search_created">
          <a href="#" ng-click="resetFilter('search_created')">Drop the filter on uploaded</a>
        </p>
    </div>

  </div>
  <div id="total-pictures-stats">
    <p>
      <b>Total # pictures:</b>
      {{ stats.total_pictures }}
      ({{ stats.event_pictures }} of those belong to specific events)
    </p>
  </div>
  {% endraw %}

  <div ng-show="filtered_items.length">
    {% set paginate_label='Pictures per page' %}
    {% include "manage/_angular_pagesize.html" %}
    {% include "manage/_angular_paginate.html" %}
  </div>


</div>
{% endblock %}
