{% extends 'manage/suggestions.html' %}

{% block manage_title %}
  Reviewing suggested event "{{ event.title }}"
{% endblock %}

{% block site_css %}
    {{ super() }}
    <style type="text/css">
    form textarea { height: 100px; }
    .comment {
        margin-left: 160px;
        margin-bottom: 10px;
        border-bottom: 4px solid rgb(250,250,250);
    }
    .comment-text {
        font-style: italic;
    }
    </style>
{% endblock %}


{% block manage_content %}
  <table class="table">
      <tr>
        <td>Title</td>
        <td>{{ event.title }}</td>
      </tr>
      <tr>
        <td>Slug</td>
        <td>{{ event.slug }}</td>
      </tr>
      <tr>
        <td>Placeholder image</td>
        <td><a href="{{ event.placeholder_img.url }}">View</a></td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ event.description }}</td>
      </tr>
      <tr>
        <td>Short description</td>
        <td>{{ event.short_description }}</td>
      </tr>
      {% if event.upcoming %}
      <tr>
        <td>Start time</td>
        <td>{{ event.start_time|js_date }}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{ event.location }}</td>
      </tr>
      {% else %}
      <tr>
        <td>File Upload</td>
        <td>
          <table>
            <tr>
              <td>Name</td>
              <td>{{ event.upload.file_name }}</td>
            </tr>
            <tr>
              <td>Size</td>
              <td>{{ event.upload.size | filesizeformat }}</td>
            </tr>
            <tr>
              <td>URL</td>
              <td><a href="{{ event.upload.url }}">Open</td>
            </tr>
          </table>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>Privacy</td>
        <td>{{ event.get_privacy_display() }}</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{ event.category }}</td>
      </tr>
      <tr>
        <td>Additional links</td>
        <td>{{ event.additional_links and event.additional_links|urlize|nl2br or '' }}</td>
      </tr>
      <tr>
        <td>Remote presenters</td>
        <td>{{ event.remote_presenters and event.remote_presenters|urlize|nl2br or '' }}</td>
      </tr>
      <tr>
        <td>Creator</td>
        <td><a href="mailto:{{ event.user.email }}">{{ event.user.email }}</a></td>
      </tr>
      <tr>
        <td>Submitted</td>
        <td>{{ event.first_submitted | js_date }}</td>
      </tr>
    {% for row in data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{% if row[1] %}{{ row[1] }}{% endif %}</td>
      </tr>
    {% endfor %}
      {% if event.submitted and event.submitted != event.first_submitted %}
      <tr>
         <td>Re-submitted</td>
         <td>{{ event.submitted|js_date }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Tags</td>
        <td>
          {% for tag in event.tags.all() %}
            &bull; {{ tag.name }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Channels</td>
        <td>
          {% for channel in event.channels.all() %}
            &bull; {{ channel.name }}
          {% endfor %}
        </td>
      </tr>
  </table>
  {% if real_event_form %}
  {{ real_event_form.errors }}
  {% endif %}

  {% if event.submitted %}
  <form method="post" class="form-horizontal">
  {{ csrf() }}
  {{ bootstrapform(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-large"
            name="approve" value="approve" id="submit_approve">
      <i class="icon-ok"></i>
      Approve
    </button>
    <button type="submit" class="btn btn-danger btn-large" title="Saying 'Reject' is too harsh"
            name="reject" value="reject" id="submit_reject">
      <i class="icon-remove"></i>
      Bounce back
    </button>
  </div>
  </form>
  {% else %}
    <div class="form-actions">
      <p>Event is currently not submitted. It was either bounced back or retracted by
      the original submitter.</p>
    </div>
  {% endif %}


<div class="comments">
  <h3>Additional comments</h3>

  {% include "manage/_suggestion_comments.html" %}

  <form method="post" class="form-horizontal">
  {{ csrf() }}
  {{ bootstrapform(comment_form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-large"
            name="save_comment" value="comment">
      Comment
    </button>
  </div>
  </form>

</div>

{% endblock %}
