{% extends 'manage/manage_base.html' %}
{% set page='suggestions' -%}

{% block manage_title %}
  Submitted suggested events
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'suggestions' %}
{% endblock %}



{% block manage_content %}


  <p>
    {% if include_old %}
    <a href="{{ url('manage:suggestions') }}">Only show recent submissions</a>
    {% else %}
    <a href="{{ url('manage:suggestions') }}?include_old=1">Include old submissions</a>
    {% endif %}
  </p>

  {% if events %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event title</th>
        <th>Start time</th>
        <th>Location</th>
        <th>Creator</th>
        <th>Submitted</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr data-id="{{ event.pk }}">
        <td>{{ event.title }}</td>
        <td>{{ event.start_time|js_date }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.user.email }}</td>
        <td>{{ event.first_submitted|js_date }}</td>
        <td>
            {{ event.get_status_display() }}
        </td>
        <td>
          {% if event.submitted %}
          <a class="btn btn-primary"
             href="{{ url('manage:suggestion_review', event.id) }}">
            <i class="glyphicon glyphicon-wrench"></i>
            Review
          </a>
          {% else %}
          <a class="btn btn-primary"
             href="{{ url('manage:suggestion_review', event.id) }}">
            View
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if not events %}
    <p>No suggested events are waiting!</p>
  {% endif %}

{% endblock %}
