/airmozilla/settings/local.py
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
.virtualenv
/static/
/media/
/cover/
vidlyserver/local_database.json
vidlyserver/foo.json
mysql2postgres/mysql2pgsql.yml
roku/dist/
roku/airmozilla.zip
ghostdriver.log
/node_modules/
/tags
npm-debug.log
