{% if event.privacy != Event.PRIVACY_PUBLIC %}
  <h5 class="entry-privacy">
  {% if event.privacy == Event.PRIVACY_COMPANY %}
    This event is available only to Mozilla staff
  {% endif %}
  {% if event.privacy == Event.PRIVACY_CONTRIBUTORS %}
    {% if curated_groups %}
      This event is available only to staff and Mozilla volunteers who are members of the
      {% for group in curated_groups %}
        {{ group }}
        {% if not loop.last %}or{% endif %}
      {% endfor %}
      group.
    {% else %}
      This event is available only to Mozilla volunteers and staff
    {% endif %}
  {% endif %}
  </h5>
{% endif %}
