<aside class="widget more-posts hfeed">
  <h2>{{ widget_title }}</h2>
  <ul>
    {% for event in widget_events %}
      <li class="hentry">
        <h4 class="entry-title">
          <a href="{{ url('main:event', event.slug) }}"

      {% if event.privacy != Event.PRIVACY_PUBLIC %}
        {% if event.privacy == Event.PRIVACY_COMPANY %}
        title="This video is restricted to Mozilla employees"
        {% elif event.privacy == Event.PRIVACY_CONTRIBUTORS %}
        title="This video is restricted to Mozillians and Mozilla employees"
        {% endif %}
      {% endif %}
             >
            <span class="video-thumb">
              {{ show_thumbnail(event, '160x90') }}
            </span>
            {{ event.title }}
          </a>
          {{ star_tag(event.id, 'sidebar') }}
        </h4>
        <p class="event-date">{{ event.start_time|js_date }}</p>
        <p class="entry-summary">{{ short_desc(event) | safe_html }}</p>
      </li>
    {% endfor %}
  </ul>
</aside>
