<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if error %}{{ error }}{% else %}{{ event.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ static('main/css/event-video.css') }}" />
  </head>
  <body>

  {% if error %}
    <h3 class="error">ERROR: {{ error }}</h3>
  {% else %}
    {% if warning and not no_warning %}
      <div class="warning">Warning: {{ warning }}</div>
    {% endif %}

    {% if event %}
      {% if event.is_pending() %}
        <p class="pending">
        Event is currently in a pending state meaning it will soon be made available.
        </p>
      {% elif video %}
        {{ video | safe }}
        {% if embedded and not no_footer %}
          <p class="footer"><a href="{{ absolute_url }}" target="_blank">View on Air Mozilla</a></p>
        {% endif %}
      {% else %}
        {{ show_thumbnail(event, '896x504') }}
      {% endif %}

    {% endif %}
  {% endif %}

  {% javascript 'event_video' %}

  </body>
</html>
