{% extends 'main/main_base.html' %}
{% set page='explore' %}
{% block page_title %}
Configuring discussion for {{ event.title }} | Air Mozilla
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'main_event_edit' %}
  {% stylesheet 'discussion' %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'discussion' %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content_main %}
  <article id="event-{{ event.id }}" class="post type-post status-publish format-standard hentry no-author no-comments">
    <h3 class="section-title">Configuring discussion for
      "<a href="{{ url('main:event', event.slug) }}" title="Go back to viewing the event">{{ event.title }}</a>"</h3>
    <p><a href="{{ url('main:event', event.slug) }}">&laquo; Go back to event</a></p>

    {% if invalid_form(form) %}
    <div class="alert alert-danger">
        <h4>Form errors!</h4>
        <p>The submitted form contains errors preventing it from completing the request.<br>
        Review the form and look for error messages in red.</p>
    </div>
    {% endif %}

    <form method="post" class="form-horizontal event-discussion" enctype="multipart/form-data">{% csrf_token %}

        {{ bootstrapform(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary submit" name="submit">
                Save
            </button>
            <button class="btn cancel" name="cancel">Cancel</button>
            <span class="saving">
                <img src="{{ static('img/ajax-loader.gif') }}" width="24" height="24" style="vertical-align:middle">
                Saving saving saving...
            </span>

        </div>
    </form>

  </article>

{% endblock %}
