{% extends 'main/main_base.html' %}
{% set page='explore' %}

{% block page_title %}
Event requires PIN | Air Mozilla
{% endblock %}

{% block site_css %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}


{% block content_main %}
  <article id="event-{{ event.id }}" class="post type-post status-publish format-standard hentry no-author no-comments">
    <div class="warning">To view this event you need to have a <strong>pin</strong>!</div>
    <header class="entry-header">
      <h1 class="entry-title">
        {{ event.title }}
      </h1>
      {% include "main/_event_privacy.html" %}
    </header>
    <div class="entry-content">
      <form action="." method="post">{% csrf_token %}
      {{ pin_form.as_p() }}
      <input type="submit" value="Submit">
      </form>
    </div>
  </article>
{% endblock %}
