<!doctype html>
<html>
  <head>
    <title>God Mode</title>
  </head>
  <body>
    <h1>God Mode</h1>
    <p>
      {% if request.user.is_active %}
      You are currently signed in as {{ request.user.email }}.
      {% else %}
      You are currently not signed in. Type in the email address
      of the existing user you want to become.
      {% endif %}
    </p>
    <hr>
    <form action="" method="post">{% csrf_token %}
      Email: <input type="text" name="email" value="" placeholder="some@email.com">
      <br><input type="submit" value="Become that person">
    </form>

  </body>
</html>
