{% extends 'main/main_base.html' %}
{% set page='login' %}

{% block banner %}
  {% include 'main/_banner_small.html' %}
{% endblock %}

{% block content_main %}
  <h2 class="section-title">{{ _('Sign In') }}</h2>
  <article>
    {% if request.user.is_active %}
      <p>You are signed in as {{ request.user.email }}.
        {{ browserid_logout(text='Sign out') }}
      </p>
    {% else %}
      <p>
        This page requires that you are signed-in.
        Please use the Persona sign-in button from the top menu.
      </p>
    {% endif %}
  </article>
{% endblock %}
