{% extends 'main/main_base.html' %}

{% block page_title %}
{% if difference %}
Difference between this revision and the event.
{% else %}
Changes made just in this revision.
{% endif %}
{% endblock %}

{% block site_css %}
{{ super() }}
<style>
div.change {
    margin-top: 25px;
}
div.change label {
    border-bottom: 1px solid #999;
}
.change-from, .change-to { color: #333; margin: 5px; }
.change-from { background-color: #FDD; }
.change-to { background-color: #DFD; }
</style>
{% endblock %}

{% block site_js %}
{{ super() }}
{% endblock %}

{% block content_main %}
  <article class="post type-post status-publish format-standard hentry no-author no-comments">
    <h3>
      {% if difference %}
      Difference between this revision and the event.
      {% else %}
      Changes made just in this revision.
      {% endif %}
    </h3>
    <h5>
      By <a href="mailto:{{ revision.user.email }}">{{ revision.user.email }}</a>
      {{ revision.created | js_date }}
    </h5>
    <p>
      <a href="{{ url('main:event_edit', event.slug) }}">&laquo; Go back to edit event</a>
    </p>


    {% for difference in differences %}
    <div class="change form-group">
      <label>{{ difference.label }}</label>
      {% if difference.key == 'placeholder_img' %}
        {% if difference.before %}
        <div class="change-from" style="text-align: center">
          {{ show_thumbnail(None, image=difference.before, alt='Previous image') }}
        </div>
        {% endif %}
        {% if difference.after %}
        <div class="change-to" style="text-align: center">
          {{ show_thumbnail(None, image=difference.after, alt='New image') }}
        </div>
        {% endif %}
      {% elif difference.key == 'picture' %}
        {% if difference.before %}
        <div class="change-from" style="text-align: center">
          {{ show_thumbnail(None, image=difference.before.file, alt='Previous image') }}
        </div>
        {% endif %}
        {% if difference.after %}
        <div class="change-to" style="text-align: center">
          {{ show_thumbnail(None, image=difference.after.file, alt='New image') }}
        </div>
        {% endif %}
      {% elif difference.key == 'recruitmentmessage' %}
        <div class="change-from">
          {% if difference.before %}
            {{ difference.before }}
          {% else %}
            none
          {% endif %}
        </div>
        <div class="change-to">
          {% if difference.after %}
            {{ difference.after }}
          {% else %}
            none
          {% endif %}
        </div>

      {% else %}
      <div class="change-from">
        {{ difference.before | carefulnl2br | safe_html }}
      </div>
      <div class="change-to">
        {{ difference.after | carefulnl2br | safe_html }}
      </div>
      {% endif %}
    </div>
    {% endfor %}

  </article>
{% endblock %}
