{% extends 'main/main_base.html' %}
{% set page='tag_cloud' %}

{% block page_title %}
Tag Cloud | {{ super() }}
{% endblock %}

{% block site_css %}
{{ super() }}
<link rel="stylesheet" href="{{ static('main/css/tag-cloud.css') }}" />
{% endblock %}

{% block content_main %}
  <h2 class="section-title">Tag Cloud</h2>
  <div class="tag-cloud">
    {% for t in tags %}
        <a href="{{ url('main:home') }}?tag={{ t.name | urlencode }}" class="size-{{ t.font_size }}">{{ t.name }}</a>
    {% endfor %}
  </div>
{% endblock %}
