p.first-loading {
    margin: 50px;
    text-align: center;
}
p.second-loading {
    float: right;
    margin-top: -30px;
}

option.select-label {
    color: #666;
}

.table-options {
    float: right;
    margin-top: -40px;
}
.table-options div {
    display: inline;
}

th .badge {
    float: right;
    margin-left: 3px;
}

span[ng-click] {
    cursor: pointer;
}

span.badge.active {
    background-color: black;
}

th a {
    color: black;
    cursor: pointer;
}
a.reverse-toggle,
a.reverse-toggle:hover {
    text-decoration: none;
}


td.event-thumbnail {
    position: relative;
}

span.badge.picture-gallery-count {
    position: absolute;
    bottom: 3px;
    right: 2px;
    background-color: #5CB85C;
    font-size: 9px; /* 12px by default in bootstrap */
}

a.picture-gallery-use {
    position: absolute;
    left: 3px;
    bottom: 1px;
    color: green;
    font-size: 10px;
    opacity: 0.7;
}
a.picture-gallery-use:hover {
    opacity: 1;
}

/* Custom extra to be able to use `class="badge badge-error"` */
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}
