p.first-loading {
    margin: 50px;
    text-align: center;
}
p.second-loading {
    float: right;
    margin-top: -30px;
}

option.select-label {
    color: #666;
}

.table-options {
    float: right;
    margin-top: -40px;
}
.table-options div {
    display: inline;
}
