p.first-loading {
    margin: 50px;
    text-align: center;
}
p.second-loading {
    float: right;
    margin-top: -30px;
}

option.select-label {
    color: #666;
}

.table-options {
    float: right;
    margin-top: -40px;
}
.table-options div {
    display: inline;
}

th .badge {
    float: right;
    margin-left: 3px;
}

span[ng-click] {
    cursor: pointer;
}

span.badge.active {
    background-color: black;
}

th a {
    color: black;
    cursor: pointer;
}
a.reverse-toggle,
a.reverse-toggle:hover {
    text-decoration: none;
}
