label.un-uncheckable {
    color: #666;
}

label small {
    padding-left: 5px;
}

.suggested-event-comments .comment {
    margin-left: 160px;
    margin-bottom: 10px;
    border-bottom: 4px solid rgb(250,250,250);
}
.suggested-event-comments .comment-text {
    font-style: italic;
}

table.suggested-event-upload th {
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
}
table.suggested-event-upload .file-name {
    font-size: 80%;
}

.alert-hidden {
    display: none;
}

.really-delete-confirmation {
    display: none;
}

dl.hits dt {
    float: left;
    width: 100px;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
