[class^="icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}

.icon-white {
    background-image: url("../img/glyphicons-halflings-white.png");
}

body {
    padding-top: 50px;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

div.controls select {
    width: auto;
}

#container {
    margin-left: 100px;
}

/* wide template input */
#id_content {
    width: 80%;
}

/* confirmation/delete button forms */
.confirm {
    display: inline;
}

/* management menu badges */
ul.nav .badge {
    float: right;
}

/* Optional forms get small bit of text */

div.control-group label:after {
    content: "\aOptional";
    white-space: pre;
    font-size: 9px;
    color: #999;
}

div.required label:after {
    content: none;
}

/* event edit status floating box */
.event-status {
    position: absolute;
    right: 2%;
}

.event-status li {
    margin-bottom: 10px;
}

.timeago {
    border-bottom: 1px dotted #000;
}

/* timepicker */

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui_tpicker_timezone select {
    width: 150px;
}
