[class^="icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}

body {
    padding-top: 15px;
}

ul {
    list-style-type: none;
}

div.controls select {
    width: auto;
}

#logo-img {
    width: 200px;
}

/* Fixes bootstrap.css strange behavior on Django upload forms. */

div.controls label {
    display: inline;
}

/* timepicker */

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
