/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
}

body {
    padding-top: 50px;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

/* confirmation/delete button forms */
.confirm {
    display: inline;
}

/* management menu badges */
ul.nav .badge {
    float: right;
}

/* Large textareas and inputs */
textarea {
    width: 450px;
}

/*
input, select {
    width: 240px;
}*/

/*
input#id_title {
    width: 350px;
}*/

/* Optional forms get small bit of text */

div.control-group label:after {
    content: "\aOptional";
    white-space: pre;
    font-size: 9px;
    color: #999;
}

/* undo that for labels in multicheckbox widgets */
div.control-group ul li label:after {
    content: none;
}

div.required label:after {
    content: none;
}

.timeago {
    border-bottom: 1px dotted #000;
}

/* timepicker */

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui_tpicker_timezone select {
    width: 150px;
}

/* Fix for archive time slider for Bootstrap 2.1 */
#archive_time_slider {
    font-size: 14px;
}

a.message-inline {
    padding-left: 10px;
    font-weight: bold;
    text-decoration: underline;
}

p.logged-in {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    color: #999;
}

/* Django uses the word "error" but bootstrap uses "danger" so copy that */
.alert-error {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.sidebar {
    margin: 20px 40px;
}

.sidebar li {
    margin-bottom: 10px;
}


/*
#menu, #menu .nav {
    padding-top: 10px;
    padding-left: 10px;
}
#menu .nav li {
    padding-left: 10px;
}
*/
.nav { margin: 10px; }
#menu .nav li a {
    padding: 7px 9px;
}
#menu .nav li a i {
    color: black;

}
.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}


.form-buttons {
    margin-bottom: 50px;
}


.label-purple {
    background-color: #6F5499;
}

@-webkit-keyframes color_change_bw {
  from { color: #000; }
  to { color: #ccc; }
}
@-moz-keyframes color_change_bw {
  from { color: #000; }
  to { color: #ccc; }
}
@-ms-keyframes color_change_bw {
  from { color: #000; }
  to { color: #ccc; }
}
@-o-keyframes color_change_bw {
  from { color: #000; }
  to { color: #ccc; }
}
@keyframes color_change_bw {
  from { color: #000; }
  to { color: #ccc; }
}

.pulsating {
    color: #000;
    -webkit-animation: color_change_bw 1s infinite alternate;
    -moz-animation: color_change_bw 1s infinite alternate;
    -ms-animation: color_change_bw 1s infinite alternate;
    -o-animation: color_change_bw 1s infinite alternate;
    animation: color_change_bw 1s infinite alternate;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* For glyphicons we add extra color to make it more user-friendly */
.icon-positive {
    color: green;
}
.icon-negative {
    color: darkred;
}
