#users-stats {
    float: right;
    font-size: 80%;
}

.loading {
    margin: 200px auto;
    width: 50%;
}

input[name="group"], input[name="name"], input[name="email"] {
    width: 100%;
}

th a {
    cursor: pointer;
}

td .aliases {
    font-size: 85%;
    opacity: 0.7;
}
