{% extends "webrtc/webrtc_base.html" %}

{% block page_title %}
Photobooth | {{ super() }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link href="{{ static('webrtc/css/photobooth.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
  <script src="{{ static('webrtc/js/camera.js') }}"></script>
  <script src="{{ static('webrtc/js/photobooth.js') }}"></script>
  {% endcompress %}
{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_main %}
  <div class="flash"></div>
  <div class="countdown"></div>


  {% include 'webrtc/_breadcrumb.html' %}
  <h2 class="section-title">Photobooth</h2>
  <div class="starting">
    <p>Loading this page should open the Camera menu.</p>
    <p>If it doesn't appear refresh this page.</p>
  </div>

  <div class="started">
    <canvas class="photobooth"></canvas>
    <div class="preview">
      <img>
    </div>
    <video height="400" width="640"></video>

    <div>
      <button type="button" class="btn btn-primary snap">Snap</button>
      <h4 class="snap-instruction">
        Look into the camera and smile!
      </h4>
      <form class="save-picture">
        <h4>Good enough?</h4>
        <button type="button" class="btn btn-primary">Save and proceed</button>
        {{ csrf() }}
        <p class="saving">
          <img src="{{ static('main/img/ajax-loader.gif') }}" alt="Loading">
          Uploading...
        </p>
      </form>
    </div>
  </div>

  <audio src="{{ static('webrtc/sounds/shutter.ogg') }}" id="shutter-sound"></audio>
  <form>

  </form>


  <p class="return-link">
    <a href="{{ url('webrtc:placeholder', event.id) }}">&larr; Regular file upload</a>
  </p>

{% endblock %}
