{% extends "webrtc/webrtc_base.html" %}

{% block page_title %}
Picture | {{ super() }}
{% endblock %}


{% block content_main %}
  {% include 'webrtc/_breadcrumb.html' %}
  <h2 class="section-title">Picture</h2>

  {% if event.placeholder_img %}
  <div class="existing">
    <h4>You currently have this one</h4>
    <p style="float:right">
      <a href="{{ webrtc_next_url(event) }}">That's fine</a>
    </p>
    <p>
      {{ show_thumbnail(event, '160x90') }}
    </p>

  </div>
  {% endif %}

  {% set submit_text='Upload and proceed' %}
  {% include 'suggest/_default_form_upload.html' %}

  <h3>Or...</h3>
  <p>You can take a picture with your built-in web camera.</p>
  <form action="{{ url('webrtc:photobooth', event.id) }}">
    <button type="submit" class="btn btn-primary submit">Start the camera</button>
  </form>


{% endblock %}
