{% extends "webrtc/webrtc_base.html" %}

{% block extra_head %}
{{ super() }}
{% compress css %}
<!--<link href="{{ static('search/css/search.css') }}" rel="stylesheet" type="text/css">-->
{% endcompress %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('webrtc/js/libs/RecordRTC.js') }}"></script>
  {% compress js %}
  <script src="{{ static('webrtc/js/record.js') }}"></script>
  {% endcompress %}

{% endblock %}
{% block content_main %}

<form action="{{ url('webrtc:save') }}" method="post">{{ csrf() }}
    <h2 class="header">Record Audio+Video using Firefox &gt;= 29</h2>
    <div class="inner">
        <h2 id="download-url"></h2><br />
        <video id="video"></video><hr />
        <button type="button" id="start-recording">Record Audio+Video</button>
        <button type="button" id="stop-recording">Stop</button><br />
    </div>
</form>


{% endblock %}
