{% extends "webrtc/webrtc_base.html" %}

{% block extra_head %}
{{ super() }}
<style>
h3 { margin-top: 60px; }
</style>
{% endblock %}

{% block content_main %}

<h2 class="section-title">Welcome!</h2>

{% if event %}
  <h3>
    You already have one started.
  </h3>

  {% set link=webrtc_last_available_state(event) %}
  <p>
    Go to: <a href="{{ link.url }}">{{ link.description }}</a>
  </p>
  {% if event.status == Event.STATUS_SCHEDULED %}
  <p>
    Your Mozillians video is scheduled and ready:
    <a href="{{ url('main:event', event.slug) }}">View it now</a>
  </p>
  {% endif %}
{% else %}

  <h3>You're about to make a video about you.</h3>
  <p>
    To start with, enter your <a href="https://mozillians.org">Mozillians.org</a>
    username and that will hopefully help us fill in some of the details
    about you.
  </p>

  {% include 'suggest/_default_form.html' %}

{% endif %}


{% endblock %}
