{% extends "webrtc/webrtc_base.html" %}

{% block page_title %}
Summary | {{ super() }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link href="{{ static('suggest/css/summary.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
  <style>
  .please-wait {
      display: none;
      margin: 20px;
  }
  </style>
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
  <script src="{{ static('webrtc/js/summary.js') }}"></script>
  {% endcompress %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content_main %}
  {% include 'webrtc/_breadcrumb.html' %}
  <h2 class="section-title">Summary</h2>


  <table>
    <tr>
      <th>Title</th>
      <td>{{ event.title }}</td>
    </tr>
    <tr>
      <th>Slug</th>
      <td>{{ event.slug }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ event.description|urlize|nl2br }}</td>
    </tr>
    <tr>
      <th>Short description</th>
      <td>{{ event.short_description|urlize|nl2br }}</td>
    </tr>
    <tr>
      <td colspan="2" class="edit-link"><a href="{{ url('webrtc:details', event.pk) }}">Change details</a></td>
    </tr>
    <tr>
      <th>Privacy</th>
      <td>{{ event.get_privacy_display() }}</td>
    </tr>
    <tr>
      <th>Additional links</th>
      <td>{{ event.additional_links|urlize|nl2br }}</td>
    </tr>

    <tr>
      <td colspan="2" class="edit-link"><a href="{{ url('webrtc:placeholder', event.pk) }}">Change placeholder</a></td>
    </tr>
    <tr>
      <th>Placeholder picture</th>
      <td>
        {% if event.placeholder_img %}
          {{ show_thumbnail(event, '160x90', image=event.placeholder_img) }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2" class="edit-link"><a href="{{ url('webrtc:video', event.pk) }}">Upload a new video</a></td>
    </tr>
    <tr>
      <th>Video</th>
      <td>
        {% if successful_vidly_submission and event.template and event.template_environment %}
          {% if event.status == Event.STATUS_PENDING %}
            <p>
              Your video is currently being transcoded and will soon be ready.
            </p>
          {% else %}
          <p>
            The video has been uploaded and transcoded. <br>
            <a href="{{ url('main:event', event.slug) }}">You can view it here</a>
          </p>
          {% endif %}
        {% else %}
          {% if event.upload %}
            <video src="{{ event.upload.url }}" controls></video>

            <p>Size: <b>{{ event.upload.size | filesizeformat }}</b></p>
          {% endif %}
        {% endif %}
      </td>
    </tr>

  </table>

  {% if not successful_vidly_submission %}
  <form action="" method="post" class="submission">{{ csrf() }}
    <h3>Is it ready?</h3>
    <button type="submit" class="btn btn-primary submit" name="submit">Submit</button>

    <p class="please-wait">
      <img src="{{ static('main/img/ajax-loader.gif') }}" alt="Loading..."> Please wait...<br>
      Video is sent in for transcoding.<br>
      Might take a while.
    </p>
  </form>
  {% endif %}

{% endblock %}
