{% extends "main/main_base.html" %}
{% set page='mozillian' %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link href="{{ static('tooltipster/css/tooltipster.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
  {% compress css %}
  <link href="{{ static('webrtc/css/webrtc.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}


{% block site_js %}
  {{ super() }}
  {% compress js %}
    <script src="{{ static('tooltipster/js/jquery.tooltipster.min.js') }}"></script>
  {% endcompress %}
  {% compress js %}
    <script src="{{ static('webrtc/js/webrtc.js') }}"></script>
  {% endcompress %}
{% endblock %}


{% block banner %}
    {% include 'main/_banner_small.html' %}
{% endblock %}
