{% for comment in comments %}
<div class="comment" id="comment-{{ comment.pk }}" data-id="{{ comment.pk }}">
  <p class="actions">
    <a href="#" class="action-reply">Reply</a> &bull;
    {% if can_manage_comments %}
      <a href="#" class="action-approve"
         {% if comment.status == Comment.STATUS_APPROVED %}style="display:none"{% endif %}
         title="Approve and make this comment public">Approve</a>
      <a href="#" class="action-unapprove"
         {% if comment.status != Comment.STATUS_APPROVED %}style="display:none"{% endif %}
         title="Approve and make this comment public">Unapprove</a>
         &bull;
      <a href="#" class="action-remove"
         title="It won't be deleted but will not appear here any more">Remove</a>
      {% if comment.flagged %}
        &bull;
        <a href="#" class="action-unflag"
           title="Click if you no longer think it needs to be flagged">Unflag</a>
        <span class="unflagged-by-user" style="display:none">Unflagged</span>
      {% endif %}
    {% else %}
      <a href="#" class="action-flag"
         title="Click if you think this comment is inappropriate and needs moderators attention">Flag</a>
      <span class="flagged-by-user" style="display:none">Flagged</span>
    {% endif %}
  </p>
  <p class="meta">
    {% if comment.anonymous %}
      <img src="{{ static('comments/images/anonymous.png') }}" width="40"
       alt="Anonymous" class="avatar">
      By an Anonymous commenteur
    {% else %}
      By
      {% if comment.user.get_full_name() %}
        {{ comment.user.get_full_name() }}
      {% else %}
        {{ obscure_email(comment.user.email) }}
      {% endif %}
      <img src="{{ gravatar_src(comment.user.email, request.is_secure(), 40) }}" width="40"
       alt="{{ comment.user.first_name or comment.user.email }}" class="avatar">
    {% endif %}
    <a href="#comment-{{ comment.pk }}" class="permalink">{{ comment.created | js_date }}</a><br>
    <span class="not-approved"
      {% if comment.status == Comment.STATUS_APPROVED %}style="display:none"{% endif %}
      >Note! This comment has not been approved yet and is only visible to you.</span>
    <span class="flagged"
      {% if not comment.flagged %}style="display:none"{% endif %}
      >This comment has been flagged.</span>
  </p>
  <p class="text">{{ comment.comment | urlize_and_linebreaksbr }}</p>
  {{ recurse_comments(comment, discussion, request, query_filter, can_manage_comments) }}
</div>
{% else %}
  {% if root %}
  <p>No comments posted here. Yet.</p>
  {% endif %}
{% endfor %}
