<div id="comments"
     data-url="{{ url('comments:event_data', event.pk) }}"
     data-reload-url="{{ url('comments:event_data_latest', event.pk) }}">
  <h3>Comments</h3>
  <p class="loading">Loading comments. Please wait&hellip;</p>
  <div class="comments-outer"></div>
  <div class="failed-loading" style="display:none">
    Unexpected error loading comments. Sorry. Please try again a little bit later.
  </div>

{% if  discussion.closed %}
  <p>Discussion closed.</p>
{% else %}
  {% if request.user.is_authenticated() %}
  <form action="" method="post">{% csrf_token %}
    <input type="hidden" name="reply_to">
    <textarea name="comment"></textarea>
    <p class="submit">
      <button type="submit">Submit</button>
      <button type="button" class="cancel">Cancel</button>
    </p>
    <p>
      Commenting as: <input type="text" name="name" placeholder="Your name"
         maxlength="100" size="30"
         data-url="{{ url('comments:user_name') }}"
         value="{{ request.user.get_full_name() }}"><br>
    </p>
    <p class="other-error">
      Some other submission error happened. Sadface.
    </p>
    <p class="submission-success">
      Yay! Your comment has been posted.
    </p>
  </form>
  {% else %}
  <p><em>You must be signed in to post comments.</em></p>
  {% endif %}
{% endif %}
</div>
