{% extends 'main/main_base.html' %}

{% block page_title %}
Unsubscribe from reply notifications
{% endblock %}

{% block site_css %}
{{ super() }}
<link ref="stylesheet" href="{{ static('new/css/unsubscribe.css') }}" />
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('comments/js/unsubscribe.js') }}"></script>
{% endblock %}


{% block content_main %}
  <h2 class="section-title">Unsubscribe from reply notifications</h2>

  {% if user %}
  <form action="" method="post">{% csrf_token %}

    {% if event %}
    <h4>Are you sure you want unsubscribe from all reply notification on
    <a class="event" href="{{ url('main:event', event.slug) }}" title="{{ event.title }}">{{ event.title }}</a>?</h4>
    {% else %}
    <h4>Are you sure you want unsubscribe from all reply notifications?</h4>
    {% endif %}

    <input type="submit" value="Yes, unsubscribe">
    <input type="button" name="cancel" value="No, cancel">
  </form>
  {% else %}
    <p><b>Sorry :(</b><br>
    It appears your unsubscription link is invalid. Or it has simply expired.</p>
    {% if event %}
      <p>Go back to <a href="{{ url('main:event', event.slug) }}" title="{{ event.title }}">{{ event.title }}</a>.</p>
    {% else %}
      <p>Go back to <a href="/">the home page</a>.</p>
    {% endif %}
  {% endif %}
{% endblock %}
