.findable {
    margin-top: 60px;
    padding-top: 40px;
    border-top: 1px solid #b4b4b4;
    text-align: center;
}

.findable span.number {
    font-size: 300%;
}

.findable span.findingout {
    font-style: italic;
}

.saving {
    display: none;
}

form ul li,
form ul li label {
    margin-bottom: 0;
    padding-bottom: 0;
}
