#content-sub { display: block; } /* un-hide it */

.entry-title a b,
.entry-summary p.desc b,
.entry-summary p .transcript { font-style: italic; }
.entry-summary p .transcript:before { content: '“'; }
.entry-summary p .transcript:after { content: '”'; }

p.found-tags, p.possible-tags { float: right; }

.event-channels { padding-left: 20px; }
