.form-group li input[type="radio"] {
    width: 20px;
}

.form-group .radio {
    margin: 2px 10px;
    border-bottom: 1px solid #666;
}

.radio .metadata {
    font-size:80%;
    padding-left: 25px
}

li.selected {
    background-color: #333;
}
li.selected label {
    font-weight: bold;
}
