.delete-confirm-question,
button.delete-confirm,
button.delete-cancel {
    display: none;

}

button.delete-button,
button.delete-confirm,
button.delete-cancel {
    font-size: 80%;
    padding: 4px 12px;
}

td.delete {
    text-align: right;
}

table.suggestions {
    width: 100%;
}
table.suggestions th {
    text-align: left;
}

.start-tooltip {
    display: none;
    margin-top: 15px;
}

.controls li label, .controls li {
    display: inline;
}

.controls li input[type="radio"] {
    width: 50px;
}
.hide-accepted-scheduled {
    display: none;
    text-align: right;
    font-size:80%;
}
