/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }



form.suggest input[type="text"],
form.suggest textarea {
    width: 100%;
}


.form-actions {
    float: right;
    margin-top: 10px;
}

form .control-group {
    margin-top: 10px;
}

form .form-group {
    margin-bottom: 15px;
}
textarea#id_short_description {
    height: 100px;
}

#id_start_time {
    width: 200px;
}

.select2-container {
    width: 200px;
}

.error .help-inline,
.has-error .help-block {
    color: #B94A48;
}

.alert-danger h4 {
    color: rgb(60, 60, 60);
}

ul#id_topics li {
    margin-bottom: 0;
}
ul#id_topics li label {
    padding-bottom: 0;
}
