td.edit-link {
    text-align: right;
}

th {
    text-align: left;
    vertical-align: top;
    width: 200px;
}

form.submission {
    padding: 10px;
    border: 4px solid rgb(50,50,50);
    text-align: center;
}

form.unsubmission,
.accepted,
.not-submitted {
    padding: 20px;
    margin: 20px;
    border: 4px solid rgb(50,50,50);
}


.main table {
    width: 100%;
}

div.comment {
    border-top: 4px solid rgb(50,50,50);
}
div.comment .comment-text {
    padding: 6px;
}
div.comment p {
    border-top: 1px solid rgb(50,50,50);
    text-align: right;
}
.comment-text {
    font-style: italic;
    font-size: 0.9em;
}

form.comment textarea {
    height: 80px;
    width: 100%;
}
