{% extends 'main/main_base.html' %}
{% set page = '404' %}

{% block page_title %}
  {{ _('Page not found') }} | Air Mozilla
{% endblock %}

{% block site_css %}
{{ super() }}
<style type="text/css">
#content-sub { display: block; } /* un-hide it */
</style>
{% endblock %}

{% block banner %}
  {% include 'main/_banner_small.html' %}
{% endblock %}


{% block sidebar_inner %}
{% include "main/_sidebar_inner.html" %}
{% endblock %}


{% block content_main %}
  <h2>{{ _('Not found') }}</h1>
  <p>{{ _("Sorry, but we couldn't find the page you're looking for.
     If you typed in the address, try double-checking the spelling.") }}</p>
{% endblock %}
