<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ static('img/favicon.ico') }}">
    <title>{% block page_title %}Air Mozilla{% endblock %}</title>
    {% block site_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
    {% if include_analytics %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35433268-30']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
    {% endif %}
  </head>
  <body class="{% block body_class %}{% endblock %}" role="document">
    {% block content %}{% endblock %}

    {% block site_js %}
    {% javascript 'base' %}
    {% endblock %}
  </body>
</html>
