<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}Air Mozilla{% endblock %}</title>
    {% block site_css %}{% endblock %}
  </head>
  <body class="home blog stone" role="document">
    {% block content %}{% endblock %}

    {% block site_js %}
      {% compress js %}
      <script src="{{ static('js/libs/jquery-1.7.2.min.js') }}"></script>
      <script src="{{ static('js/libs/jquery.timeago.js') }}"></script>
      <script src="{{ static('js/libs/moment.min.js') }}"></script>
      <script src="{{ static('js/base.js') }}"></script>
      {% endcompress %}
    {% endblock %}
  </body>
</html>
