th.fc-day-header {
    font-family: "Open Sans Light","Lucida Sans","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

tr .fc-widget-header, tr .fc-widget-content {
    border: 1px solid rgb(101, 101, 101);
}

.fc-time, .fc-title {
    color: white;
    font-size: 0.8em;
}

.fc-header-title h2 {
    font-size: 1.7em;
}

.fc-today.fc-state-highlight {
    background-color: rgb(42, 49, 52);
}

.fc-widget-header table {
    margin-bottom: 0;
}

button {
    border-radius: 0;
}

button:hover {
    box-shadow: none;
}