.mugshot img {
    border-radius: 100%;
    background-clip: padding-box;
    width: 75px;
}

.mugshot {
    float: left;
}

.contributor-profile {
    padding: 30px 50px;
    clear: left;
}

.contributor-profile h2 {
    margin-left: 90px;
    padding-top: 20px;
}

.footnote {
    margin-top: 70px;
}
