.saving,
.failed,
.errored,
table.chapters,
button.cancel,
button.delete {
    display: none;
}

table.chapters {
    width: 100%;
}
table.chapters th {
    text-align: left;
}
table.chapters .text {
    max-width: 435px;
}
table.chapters td {
    vertical-align: top;
    padding: 10px 2px;
}
table.chapters tbody tr {
    border-bottom: 1px solid #333;
}

button.edit, button.cancel, button.delete, button.seek {
    font-size: 80%;
    padding: 4px 12px;
}
button.seek {
    /* extra narrow */
    padding: 4px 3px;
}

form input[name="text"] {
    font-size: 130%;
    width: 400px;
}
form .timestamp {
    font-size: 150%;
    font-weight: bold;
    font-family: monospace;
}

form .adding {
    display: none;
}


#timenails {
    margin-top: 50px;
}
#timenails .timenails {
     margin-top: 30px;
}
#timenails .timenails img {
    width: 105px;
    margin-right: 6px;
}

#timenails a.timenail {
    position: relative;
}
#timenails a.timenail .similarity {
    position: absolute;
    top: -9px;
    right: 8px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border-radius: 3px;
    font-family: sans-serif;
}

#timenails p.similarity {
    float: right;
    margin-bottom: 0;
}

.loading {
    background: url(/static/new/img/spinner-20272A.gif) no-repeat;
    padding-left: 30px;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
