p.pending {
    background-color: #FF9EC5;
    color: #8A0037;
    border: 1px solid #8A0037;
    padding: 30px;
}
.hidden {
    display: none;
}
.embed {  }
.embed .code {
    display: none;
}
.embed .code p {
    margin-bottom: 0;
}
.embed textarea {
    max-width: 100%;
}

.recruitmentmessage {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    border-top: 1px solid #48585E;
}
.recruitmentmessage p {
    padding: 10px;
}

.tearout-placeholder {
    border: 1px solid #979797;
    text-align: center;
    position: relative;
    border-radius: 4px;
}
.tearout-placeholder a.restore {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -135px;
}
.tearout-placeholder a,
.tearout a {
    cursor: pointer;
}
.tearout {
    position: relative;
}
.tearout .problem {
    color: #FF9EC5;
    font-size: 80%;
}
.tearout .warning-about-time {
    display: none;
    position: absolute;
    right: 30px;
    font-size:80%;
}
.tearout a.open {
    float: right;
    display: block;
    background: url('../img/new_window.png') no-repeat;
    width: 20px;
    height: 20px;
}
