p.pending {
    background-color: #FF9EC5;
    color: #8A0037;
    border: 1px solid #8A0037;
    padding: 30px;
}
.hidden {
    display: none;
}
.embed {  }
.embed .code {
    display: none;
}
.embed .code p {
    margin-bottom: 0;
}
.embed textarea {
    width: 95%;
}
.embed a.current {
    text-decoration: none;
    color: white;
}

.islive {
    display: none;
}

.tearout-placeholder {
    border: 1px solid #979797;
    text-align: center;
    position: relative;
    border-radius: 4px;
}
.tearout-placeholder a.restore {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -135px;
}

.play-options {
    display: none;
}
.tearout-placeholder a,
.tearout a,
.playbackrate a {
    cursor: pointer;
}
.tearout {
    position: relative;
}
.tearout .problem {
    color: #FF9EC5;
    font-size: 80%;
}
.tearout a.open {
    float: right;
    display: block;
    background: url('../img/new_window.png') no-repeat;
    width: 20px;
    height: 20px;
}

.playbackrate a.open {
    float: right;
    display: block;
    background: url('../img/playbackrate-active.png') no-repeat;
    background-size: 16px 16px;
    width: 20px;
    height: 20px;
}
.playbackrate a.inactive {
    background: url('../img/playbackrate.png') no-repeat;
    background-size: 16px 16px;
}

.playbackrate .options {
    float: right;
    font-size: 80%;
    display: none;
    color: #979797;
}
.playbackrate .options a {
    margin-right: 4px;
}
.playbackrate .options a.current {
    color: white;
}

.tabs {
    position: relative;
    min-height: 300px;
    clear: both;
    margin: 25px 0;
}
.tab {
    float: left;
}
.tab label {
    background: #20272a;
    padding: 8px;
    border: none;
    margin-right: 0.5em;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: relative;
    cursor:pointer;
}
.tab [type=radio] {
    display: none;
}
.tab .content {
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #2d373b;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow: hidden;
    min-height: 100px;
}
.tab .content > * {
    opacity: 0;

}
.tab [type=radio]:checked ~ label {
    background-color: #2d373b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 2;
}

.tab [type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

.tab [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;

}

.tab .content.extra-long {
    overflow-y: scroll;
}

.tab p.chapters {
    margin-bottom: 5px;
}

ul.chapters li {
    list-style: none;
    margin-bottom: 7px;
}
ul.chapters li img.thumbnail {
    vertical-align: middle;
}
ul.chapters li a.chapter-text {
    margin-left: 5px;
}

.transcript p {
    font-size: 90%;
    margin-bottom: 0.5em;
    line-height: normal;
    opacity: 0.7 !important;
}
.transcript p.active {
    font-weight: bold;
    opacity: 1 !important;
}
.transcript p.active:after {
    content: '”';
}
.transcript p.active:before {
    content: '“';
}


@media screen and (min-width: 1300px) {
    /* If you have a really large screen estate, and the video
       is available in HD, why not make it bigger by default. */
    .wrap.hd {
        width: 1280px;
    }
    /* 192 = (1280 - 896) / 2 */
    .wrap.hd #masthead,
    .wrap.hd #content-sub,
    .wrap.hd .event-extras {
        width: 896px;
        margin-left: 192px;
    }
}
