p.pending {
    background-color: #FF9EC5;
    color: #8A0037;
    border: 1px solid #8A0037;
    padding: 30px;
}
.hidden {
    display: none;
}
.embed {  }
.embed .code {
    display: none;
}
.embed .code p {
    margin-bottom: 0;
}
.embed textarea {
    width: 95%;
}
.embed a.current {
    text-decoration: none;
    color: white;
}

.islive {
    display: none;
}

.recruitmentmessage {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    border-top: 1px solid #48585E;
}
.recruitmentmessage p {
    padding: 10px;
}

.tearout-placeholder {
    border: 1px solid #979797;
    text-align: center;
    position: relative;
    border-radius: 4px;
}
.tearout-placeholder a.restore {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -135px;
}

.play-options {
    display: none;
}
.tearout-placeholder a,
.tearout a,
.playbackrate a {
    cursor: pointer;
}
.tearout {
    position: relative;
}
.tearout .problem {
    color: #FF9EC5;
    font-size: 80%;
}
.tearout a.open {
    float: right;
    display: block;
    background: url('../img/new_window.png') no-repeat;
    width: 20px;
    height: 20px;
}

.playbackrate a.open {
    float: right;
    display: block;
    background: url('../img/playbackrate-active.png') no-repeat;
    background-size: 16px 16px;
    width: 20px;
    height: 20px;
}
.playbackrate a.inactive {
    background: url('../img/playbackrate.png') no-repeat;
    background-size: 16px 16px;
}

.playbackrate .options {
    float: right;
    font-size: 80%;
    display: none;
    color: #979797;
}
.playbackrate .options a {
    margin-right: 4px;
}
.playbackrate .options a.current {
    color: white;
}

.tabs {
    position: relative;
    min-height: 200px;
    clear: both;
    margin: 25px 0;
}
.tab {
    float: left;
}
.tab label {
    background: #20272a;
    padding: 8px;
    border: none;
    margin-right: 0.5em;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: relative;
    cursor:pointer;
}
.tab [type=radio] {
    display: none;
}
.tab .content {
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #2d373b;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow: hidden;
    min-height: 100px;
}
.tab .content > * {
    opacity: 0;

}
.tab [type=radio]:checked ~ label {
    background-color: #2d373b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 2;
}

.tab [type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

.tab [type=radio]:checked ~ label ~ .content > * {
    opacity: 1;

}

.tab .content.additional-links {
    overflow-y: scroll;
}
