@font-face {
  font-family: "Open Sans Light";
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot#iefix) format("embedded-opentype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff) format("woff"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot#iefix) format("embedded-opentype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff) format("woff"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.eot#iefix) format("embedded-opentype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.woff) format("woff"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
