/*
Theme Name:     Air Mozilla
Description:    Site theme for air.mozilla.org. This theme is a child of the One Mozilla WordPress theme.
Author:         Craig Cook
Template:       OneMozilla
Version:        1.0

@@Colors -
Near-black    #20272a
Light black   #2d373b
Light gray    #b4b4b4
Dark gray     #506168
Light blue    #1e77bb
Lighter blue  #2592e6

Link          #1e77bb
Hover         #2592e6

*/

html { background: #000; }

body { color: #b4b4b4; }
body #page { background-color: #20272a; background-image: url("/static/main/img/bg-midnight.png"); }

/* @Header *********/
#masthead { background-image: none !important; }

#site-title h1, #site-title h1 a:link, #site-title h1 a:visited { color: #c5ccd2; }
/*#site-title a:hover, #site-title a:focus, #site-title a:active { color: #ffe400; }*/

#site-title h1 { float: left; }
#site-title form {
    float: right;
    margin-top: 19px;
    margin-right: -24px;
}
#site-title form input {
    width: 270px;
}
@media only screen and (max-width: 1000px) {
    #site-title form {
        float: none;
    }
    #site-title form input {
        width: 170px;
   }
}
@media only screen and (max-width: 1000px) {
    #site-title form input {
        width: 120px;
   }
}

#masthead hgroup { padding: 0; }
#site-title.home { text-align: center; }
/* See https://github.com/mozilla/airmozilla/pull/62 */
#site-title img { width: 100%; }

#masthead nav {
    float: right;
    margin-right: 160px;
    text-transform:uppercase;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
}

#masthead nav ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    list-style-type: none;
    margin: 0;
}

#masthead nav ul li a, #masthead nav ul li b {
    display: inline-block;
    padding: 12px;
    font-weight: normal;
}

#masthead nav ul li a.browserid-login.persona-button.dark {
    padding: 0px;
    top: 5px;
    text-transform: none;
    font-weight: bold;
    display: inline-block;
}

#masthead nav ul li b, #masthead nav ul li .current {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url(/static/main/img/menu-current.png);
}

#masthead nav ul li a, #masthead nav ul li a:link, #masthead nav ul li a:visited {
    color:#fff;
}

#masthead nav.breadcrumbs {
    float: none;
    padding: 24px 0 12px 0;
}

#masthead nav.breadcrumbs a, #masthead nav.breadcrumbs span {
    margin-right: .5em;
    margin-left: .5em;
}

#masthead .sub-options {
    z-index: 1000;
    display: none;
    position: absolute;
    /*top: 35px;*/
    top: 0;
    background-color: #000;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /*border-radius: 4px;*/
}
#masthead .sub-options ul {
    list-style-type: normal;
}
#masthead .sub-options li {
    display: block;
}
#masthead .sub-options a.close {
    cursor: pointer;
    text-transform: lowercase;
}

#site-title.home {
    padding-top: 72px;
    padding-bottom: 46px;
}

#site-title {
    padding-top: 72px;
    padding-bottom: 48px;
}

.alert {
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
}
.alert .close {
    float: right;
    position: relative;
    top: -6px;
    right: -1px;
    line-height: 20px;
}
.alert a.close:hover {
    color: #B94A48;
    text-decoration: none;
}
.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info,
.alert-warning {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

@media only screen and (max-width: 768px) {
    #masthead {
        padding-top: 5px;
    }
    #masthead nav {
        float: none;
        padding-top: 12px;
        margin-right: 0;
    }

    #masthead nav ul li {
        display: block;
    }

    #masthead ul li b, #masthead nav ul li .current {
        background-image: none;
    }

    #masthead nav ul li a, #masthead nav ul li b {
        padding: 7px;
        display: block;
        font-weight: normal;
    }

    #site-title, #site-title.home {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Persona ***************/
a.persona-button span {
    color: #fff;
}

/* @Main feature *********/
.main-feature { background: #eee; color: #506168; padding: 60px 48px 48px 232px; margin: 0 -48px 48px; position: relative; min-height: 160px; }
.main-feature .feature-type { font-size: 16px; text-transform: uppercase; position: absolute; left: 48px; top: 24px; }
.main-feature .entry-title { width: 100%; float: none; }
.main-feature .entry-privacy { font-size: 1em; margin-bottom: 10px; color: #506168; }
.main-feature .entry-summary { position: static; padding: 0; min-height: 0; }
.main-feature .entry-meta { border: 0; border-top: 1px dotted #ccc; padding: 1em 0 0; background: transparent; box-shadow: none; }
.main-feature .entry-summary .wp-post-image { position: absolute; left: 48px; top: 60px; border: 0; margin: 0; }

.main-feature h1, .main-feature h2, .main-feature h3, .main-feature h4 { color: inherit; text-shadow: 0 1px 0 rgba(255,255,255,.75); }

.tag-live .feature-type { color: #d61820; }
.tag-live .feature-type:before { content: "\25CF"; float: left; margin-right: 10px; font-size: 25px; line-height: 14px; }

@-moz-keyframes pulse {
	0% { color: #d61820; }
	50% { color: #ff2b34; }
	100% { color: #d61820; }
}
@-webkit-keyframes pulse {
	0% { color: #d61820; }
	50% { color: #ff2b34; }
	100% { color: #d61820; }
}
@keyframes pulse {
	0% { color: #d61820; }
	50% { color: #ff2b34; }
	100% { color: #d61820; }
}
.tag-live:hover .feature-type:before {
  -moz-animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

/* @Content *********/
h1, h2, h3, h4, h5, h6 { color: #b4b4b4; text-shadow: 0 1px 0 rgba(0,0,0,0.3); }
#tabzilla-panel * { text-shadow: none; }

.section-title { padding-bottom: 24px; border-bottom: 1px dotted #48585e; }

.event-date { clear: left; margin: 0 0 1em; font: .857em/1.2 "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
.single-post .event-date { margin: .75em 0 1em; }

div.warning {
    background-color: #FCF8E3;
    color: #8A0037;
    border: 1px solid #8A0037;
    margin-bottom: 20px;
    border-radius: 3px;
}
div.warning p {
    margin: 10px;
}

.entry-content table { border-color: #2d373b; }
.entry-content th, .entry-content td { border-bottom-color: #2d373b; }

.entry-content iframe { max-width: 100%; }
.entry-content video:focus { outline: 1px solid #2d373b; }

.wp-caption { background-color: #2d373b; }
.entry-content img, .entry-summary img { background-color: #2d373b; border-color: #2d373b; }
.entry-content a:hover img, .entry-content a:focus img, .entry-content a:active img,
.entry-summary a:hover img, .entry-summary a:focus img, .entry-summary a:active img { background-color: #2592e6; }

.entry-summary { padding-left: 180px; position: relative; min-height: 92px; }
.entry-summary .wp-post-image { position: absolute; left: 0; top: 0; }

.entry-meta { border-bottom: 1px solid rgba(197,204,201,.1); }

::-moz-selection { background: #d1d9df; color: #2a4956; }
::selection { background: #d1d9df; color: #2a4956; }
body { -webkit-tap-highlight-color: #d1d9df; }
.main { margin-bottom: 35px; }

legend { color: #b4b4b4; } /* For IE */

/* @Sidebar *********/

/* By default, the sidebar is hidden. Only templates that need it make it visible */
#content-sub { display: none; }

/* These two only apply when you're vising the content-sub under an event (related content) */
#content-sub article .entry-header { padding: 1.5em 0 0; }
#content-sub article .entry-title { font-size: 1.7em; }

.widget h2 { margin-bottom: 20px; }
#content-sub { background: #2d373b; padding: 24px 24px 4em; }
.with-sidebar #content-sub { margin-right: -24px; }
.widget_nav_menu li, .widget_categories li { border-bottom-color: #48585e; }

.more-posts .hentry { position: relative; margin-bottom: 20px; padding: 0 0 10px 0; clear: both; }
.more-posts .hentry .entry-title { font-size: 1em; letter-spacing: 0; margin: 0 0 .25em; color: #1e77bb; }
.more-posts .event-date { margin: 0 0 .5em; }
.more-posts .entry-summary { font-size: .857em; line-height: 1.3; margin: 0; padding: 0; min-height: 0; }
.more-posts .entry-summary a { color: rgb(220, 220, 220); }

.more-posts .video-thumb { display: block; margin: 0 0 .25em; }

#current-time { width: auto; float: none; padding: 10px; background: hsla(200,30%,10%,.2); text-align: center; margin: -10px -10px 1.5em; box-shadow: inset 0 0 2px rgba(0,0,0,.1); clear: both; }
#current-time .widget-title { font-size: 1.125em; margin-right: 1em; display: inline; }
.with-sidebar #current-time .widget-title { display: block; margin: 0 0 .25em; }
#current-time .datetime { display: inline; margin: 0; font: 1em/1.2 "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
.with-sidebar #current-time .datetime { display: block; }
#current-time .time { display: block; font-size: 1.125em; }

.sidebar-extra {
    margin: 0px 10px 1.5em;
}
.with-sidebar .sidebar-extra { /* when it's in the sidebar */
    margin: 0px;
}
/* @Links *********/
body a:link, body a:visited { color: #1e77bb; }
body a:hover, body a:focus, body a:active { color: #2592e6; }

a.button:link,
a.button:visited {
  border-radius: .25em;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font: .857em/1.1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  background-color: #276195;
  background-image: -moz-linear-gradient(#3c88cc,#276195);
  background-image: -ms-linear-gradient(#3c88cc,#276195);
  background-image: -webkit-linear-gradient(#3c88cc,#276195);
  background-image: -o-linear-gradient(#3c88cc,#276195);
  background-image: linear-gradient(#3c88cc,#276195);
  -moz-transition: all linear .25s;
  -webkit-transition: all linear .25s;
  -o-transition: all linear .25s;
  transition: all linear .25s;
}
a.button:hover, a.button:focus, a.button:active { box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8; }


/* @Accessible @Skip links *********/
#nav-access a:focus, #nav-access a:active { background: rgba(0,0,0,.2); border-color: #fed325; }
#foot-logo .top:focus, #foot-logo .top:active { background: rgba(0,0,0,.2); border-color: #4090c4; }

/* @Forms *********/
input[type=email], input[type=url], input[type=password], input[type=text], textarea {
  border-color: #2e404e;
  color: #c5ccd2;
  background-color: rgba(0,0,0,.1);
}
input[type=email]:hover, input[type=url]:hover, input[type=password]:hover, input[type=text]:hover, textarea:hover {
  border-color: #516e83;
}
input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=text]:focus, textarea:focus {
  background-color: #516e83;
  color: #c5ccd2;
  border-color: #62869f;
	-moz-box-shadow: inset rgba(0,0,0,0.3) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
	-webkit-box-shadow: inset rgba(0,0,0,0.3) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
	-o-box-shadow: inset rgba(0,0,0,0.3) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
	box-shadow: inset rgba(0,0,0,0.3) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
}
label .note { color: #afb6bb; }

/*** @Posted date */
.entry-posted { opacity: 1; position: static; width: auto; padding: 0; background: transparent none; text-align: left; font-size: inherit; font-family: inherit; line-height: normal; }
.entry-posted a:link, .entry-posted a:visited, .entry-posted a:hover, .entry-posted a:focus, .entry-posted a:active { color: inherit; }
.entry-posted .posted-month { display: inline; font-size: 1em; text-transform: none; }
.entry-posted .posted-date { display: inline; font-size: 1em; line-height: normal; }
.entry-posted .posted-year { display: inline; font-size: 1em; }

/*** Timeago dotted underline */
time.timeago {
    border-bottom: 1px dotted #b4b4b4;
}

/*** Tag display */
span.tag {
    background-color: rgb(45, 55, 59);
    border: 1px solid #506168;
    border-radius: 3px;
}

/*** Home/Channel index ***/
.channel-description {
    padding-bottom: 5px;
    border-bottom: 1px dotted #48585e;
    margin-bottom: 20px;
}
.channel-description ul,
.channel-description ol {
    padding-left: 30px;
}
.channel-thumbnail {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

/*** Entry @Header */
.post .entry-header { padding-left: 0; }
.entry-title { min-height: 0; }
.entry-privacy { font-size: 1em; }
.show-comments.no-author .entry-title { float: none; width: auto; }
.single-post .entry-title, .page .entry-title { font-size: 1.75em; letter-spacing: -0.5px; }
.entry-edit-shortcut { float: right; }

/*** Post Author */
.entry-header .vcard { margin-left: 0; border: 0; background: #2d373b; }
.entry-header .vcard img { border-color: #324248; }

.entry-content img {
    float: left;
    margin-right: 15px;
}

/*** Link buttons */
body .edit a, body #cancel-comment-reply a { border-color: #45555b; color: #ddd;
  background: #2d373b;
  background: -moz-linear-gradient(top, #3d4b50 0, #2d373b 100%);
  background: -webkit-linear-gradient(top, #3d4b50 0, #2d373b 100%);
  background: linear-gradient(top, #3d4b50 0, #2d373b 100%);
}
body .edit a:hover, body .edit a:focus, body .edit a:active,
body #cancel-comment-reply a:hover, body #cancel-comment-reply a:focus, body #cancel-comment-reply a:active { border-color: #5a6e76; color: #fff; }

/* @Comments *********/
#comment-list .comment, #comment-list .pingback, #comment-list .trackback {
  background: transparent;
  border-color: #2d373b;
  -o-box-shadow: inset rgba(0,0,0,0.048) 0 0 48px, rgba(0,0,0,0.1) 0 1px 0;
  -ms-box-shadow: inset rgba(0,0,0,0.048) 0 0 48px, rgba(0,0,0,0.1) 0 1px 0;
  box-shadow: inset rgba(0,0,0,0.048) 0 0 48px, rgba(0,0,0,0.1) 0 1px 0;
}
#comment-list .alt {
  background: transparent;
}
#comment-list .byuser {
  border-color: #3b484d;
  -moz-box-shadow: inset #2d373b 0 0 48px, rgba(0,0,0,0.1) 0 1px 0;
  -webkit-box-shadow: inset #2d373b 0 0 48px, rgba(0,0,0,0.1) 0 1px 0;
  -o-box-shadow: inset #2d373b 0 0 48px, rgba(0,0,0,0.1) 0 1px 0;
  box-shadow: inset #2d373b 0 0 48px, rgba(0,0,0,0.1) 0 1px 0;
}
#comment-list .avatar { border-color: #5d83a0; }

/* @Paging @Navigation ***/
#nav-primary, .nav-paging { background-color: #2d373b;
	-webkit-box-shadow: inset rgba(0,0,0, 0.1) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
	-o-box-shadow: inset rgba(0,0,0,0.1) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;
  box-shadow: inset rgba(0,0,0,0.1) 0 0 4px, rgba(255,255,255, 0.1) 0 1px 0;

}
#nav-primary .current-menu-item { border-color: #fed325; }

/* @Footer ***/
#site-info { background-color: #020202; color: #666; }
#site-info a:link, #site-info a:visited { color: #68a7d0; }
#site-info a:hover, #site-info a:focus, #site-info a:active { color: #82c0e8; }

@media only screen and (max-width: 767px) {

  .entry-posted, .entry-posted a:link, .entry-posted a:visited, .entry-posted a:hover, .entry-posted a:focus, .entry-posted a:active { color: #c5ccd2; }
  #nav-access a:link, #nav-access a:visited, #nav-access a:hover, #nav-access a:focus, #nav-access a:active { color: #2e475a; }

}

/*  @Tablet @Layout: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .main-feature { background: #eee; color: #506168; padding: 60px 0 24px 208px; margin: 0 0 48px -24px; position: relative; min-height: 160px; }
  .main-feature .feature-type { left: 24px; }
  .main-feature .entry-summary { position: static; padding: 0 24px 0 0; }
  .main-feature .entry-summary .wp-post-image { position: absolute; left: 24px; top: 60px; border: 0; margin: 0; }

  #content-sub { background: #2d373b; padding: 12px 12px 4em;  }
  .with-sidebar #content-sub { margin-right: -24px; }
}

/*  @Mobile @Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

  .main-feature { padding: 240px 12px 12px; margin: 0 -12px 48px -12px; }
  .main-feature .feature-type { left: 12px; }
  .main-feature .entry-title { font-size: 24px; }
  .main-feature .entry-summary { position: static; padding: 0 24px 0 0; }
  .main-feature .entry-summary .wp-post-image { left: 12px; top: 60px; border: 0; margin: 0; }

  .entry-summary { padding-left: 0; position: static; min-height: 92px; }
  .entry-summary .wp-post-image { position: static; float: left; margin: 0 12px .5em 0; }

  #content-sub { margin-left: -24px; margin-right: -24px; }

  #current-time .widget-title { display: block; margin: 0 0 .25em; }
  #current-time .datetime { display: block; }
  #current-time .time { display: block; font-size: 1.125em; }

  .more-posts .hentry { padding: 0 0 8px; min-height: 48px; }
  .more-posts .video-thumb { display: block; }
  .more-posts .video-thumb img { margin-top:0; }

}

/*	@Wide @Mobile @Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .main-feature { background: #eee; color: #506168; padding: 60px 12px 12px 184px; margin: 0 -12px 48px -12px; position: relative; min-height: 92px; }
  .main-feature .feature-type { left: 12px; }
  .main-feature .entry-title { font-size: 24px; }
  .main-feature .entry-summary { position: static; padding: 0 24px 0 0; }
  .main-feature .entry-summary .wp-post-image { width: 148px; }

}

/* For all angular apps in main */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
