@font-face {
  font-family: "Open Sans Extrabold";
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBoldItalic-webfont.eot);
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBoldItalic-webfont.eot#iefix) format("embedded-opentype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBoldItalic-webfont.woff) format("woff"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBoldItalic-webfont.ttf) format("truetype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraBoldItalic) format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Light";
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot#iefix) format("embedded-opentype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff) format("woff"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot#iefix) format("embedded-opentype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff) format("woff"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.eot#iefix) format("embedded-opentype"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.woff) format("woff"), url(https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
#tabzilla {
  float: right;
  display: block;
  background: url(https://mozorg.cdn.mozilla.net/media/img/tabzilla/tab.png);
  height: 44px;
  width: 150px;
  position: relative;
  text-indent: -2000px;
  overflow: hidden;
}
#tabzilla:after {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///9ISEhr7AOpAAAAAXRSTlMAQObYZgAAACRJREFUCB1jQAYcAgwyFgx2NQzyPxj4PzCwP2BgPsDA2MCABAB3igVoBVbiiwAAAABJRU5ErkJggg==);
  content: " ";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 11px;
  right: 23px;
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}



#tabzilla-panel {
    /* Make sure it starts with height:0 in case the tabzilla.js loads
    before tabzilla.css */
    height: 0;
}
