.processing {
    width: 896px;
    height: 504px;
    border: 1px solid #979797;
    text-align: center;
    position: relative;
    border-radius: 4px;
    text-align: center;
}

.processing p:first-child {
    padding-top: 150px;
}


/* Inspired by http://www.hongkiat.com/blog/html5-progress-bar/ */
.progress-bar {
    width: 75%;
    margin: 30px auto 0;
    padding: 15px 15px;
    border-radius: 3px;
}
.progress-bar progress {
    border: 0;
    width: 75%;
    height: 22px;
    border-radius: 4px;
}
.progress-bar progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 4px;
}
.progress-bar progress::-webkit-progress-value {
    background: #cdeb8e;
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 4px;
}
.progress-bar progress::-moz-progress-bar {
    background: #cdeb8e;
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 4px;
}
.progress-bar .progress-value,
.progress-bar .progress-size {
    padding: 0px 5px;
    line-height: 20px;
    margin-left: 5px;
    height: 22px;
    float: right;
}
.progress-bar .progress-size {
    font-size: 80%;
}

.progress-timenails {
    text-align: left;
    margin: 50px;
}
.progress-timenails .timenail {
    position: absolute;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 1px;
    width: 160px;
    display: none;
}
