{% extends 'main/main_base.html' %}
{% set front_page = 0 %}

{% block page_title %}{% if q %}Searching for... &quot;{{ q }}&quot; | {{ super() }}{% else %}Search | {{ super() }}{% endif %}{% endblock %}
{% block extra_head %}
{{ super() }}
{% stylesheet 'search' %}
{% endblock %}

{% block body_class %}with-sidebar{% endblock %}

{% block sidebar_inner %}
{% include "main/_sidebar_inner.html" %}
{% endblock %}

{% block content_main %}

  {% if search_error %}
    <p><strong>Search Error</strong> {{ search_error }}</p>
  {% endif %}

  {% if possible_tags %}
    <p class="possible-tags"><strong>Search by tags:</strong>
      {% for tag in possible_tags %}
        <a href="{{ url('search:home') }}?q={{ tag._query_string | urlencode }}" class="tag">{{ tag._query_string }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}
  {% if possible_channels %}
    <p class="possible-channels"><strong>Search by channels:</strong>
      {% for channel in possible_channels %}
        <a href="{{ url('search:home') }}?q={{ channel._query_string | urlencode }}" class="channel">{{ channel._query_string }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}

  {% if events_found or found_channels_count %}
    <p>
      {% if events_found %}
        <strong>{{ events_found }}</strong>
        event{{ events_found | pluralize }} found.
      {% endif %}
      {% if found_channels_count %}
        <strong>{{ found_channels_count }}</strong>
        channel{{ found_channels_count | pluralize }} found.
      {% endif %}
    </p>
  {% endif %}

  {% for channel in found_channels %}
    {% set href = url('main:home_channels', channel.slug) %}
    <article id="channel-{{ channel.id }}">
      <header class="entry-header">
        <h2 class="entry-title">
          <a href="{{ href }}" title="{{ channel.name }}">
            {% if channel.rank_name %}
              {{ channel.name_highlit | safe }}
            {% else %}
              {{ channel.name }}
            {% endif %}
          </a> (Channel)
        </h2>
        <h5 class="entry-upcoming">
          {% if channel._event_count and channel._subchannel_count %}
            {{ channel._subchannel_count }} sub-channel{{ channel._subchannel_count | pluralize }},
            {{ channel._event_count }} archived event{{ channel._event_count | pluralize }}
          {% elif channel._event_count %}
            {{ channel._event_count }} archived event{{ channel._event_count | pluralize }}</p>
          {% elif channel._subchannel_count %}
            {{ channel._subchannel_count }} sub-channel{{ channel._subchannel_count | pluralize }}
          {% endif %}
        </h5>
      </header>
    </artlcle>
  {% endfor %}

  {% for event in events_paged %}
    {% set href = url('main:event', slug=event.slug) %}
    <article id="event-{{ event.id }}" class="post type-post status-publish format-standard hentry">
      <header class="entry-header">
        <!-- rank title: {{ event.rank_title }} -->
        <!-- rank desc: {{ event.rank_desc }} -->
        <h2 class="entry-title">
          <a href="{{ href }}">
            {% if event.rank_title %}
            <!-- yes, rank_title was -->
            {{ event.title_highlit | safe }}
            {% else %}
            <!-- no, rank_title was {{ rank_title }} -->
            {{ event.title }}
            {% endif %}
          </a>
        </h2>
        {% include "main/_event_privacy.html" %}
        {% if event.is_upcoming() %}
        <h5 class="entry-upcoming">
        Upcoming event
        </h5>
        {% endif %}
      </header>
      <div class="entry-summary">
        <p>
          <span class="event-date">{{ event.start_time | js_date }}</span>
          <span class="event-channels">
            {% for channel in channels[event] %}
                <a title="Click to go to the {{ channel.name }} channel" href="{{ url('main:home_channels', channel.slug) }}">{{ channel.name }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </span>
        </p>

        <a href="{{ href }}">{{ show_thumbnail(event) }}</a>
        <p class="desc">
          <!-- rank title: {{ event.rank_title }}
               rank desc: {{ event.rank_desc }}
               rank transcript: {{ event.rank_transcript }} -->
          {% if event.rank_desc %}
            {{ event.desc_highlit | safe_html }}
          {% elif event.rank_transcript %}
            <span class="transcript-note">(found by transcript)</span>
            <span class="transcript">{{ event.transcript_highlit | safe }}</span>

          {% else %}
            {% if event.privacy == Event.PRIVACY_CONTRIBUTORS and not request.user.is_active %}
              {% include "main/_contributor_teaser.html" %}
            {% else %}
              {{ short_desc(event) }}

            {% endif %}
          {% endif %}

          {% if not (event.privacy == Event.PRIVACY_CONTRIBUTORS and not request.user.is_active) %}
          <a class="go" href="{{ href }}">See more</a>
          {% endif %}

        </p>
        {{ star_tag(event.id) }}
      </div>
    </article>
  {% else %}
    {% if q or tags %}
      {% if found_channels_count %}
      <h4>No events found</h4>
      {% else %}
      <h4>Nothing found</h4>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if next_page_url or prev_page_url %}
  <nav class="nav-paging">
    <ul role="navigation">
      {% if next_page_url %}
        <li class="next">
          <a href="{{ next_page_url }}">Next page</a>
        </li>
      {% endif %}
      {% if prev_page_url %}
        <li class="prev">
          <a href="{{ prev_page_url }}">Previous page</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  {% if search_form and not search_form.errors %}
  <div class="savesearch-create-form">
    {% if request.user.is_active %}
    <form action="{{ url('search:savesearch') }}" method="post">
      <input type="hidden" name="q" value="{{ search_form.q.value() }}">
      {% csrf_token %}
      <button>Save this search</button>
    </form>
    {% else %}
    <p>
      <b>Tip!</b>
      If you sign in you can save this search.
    </p>
    {% endif %}
  </div>
  {% endif %}

{% endblock %}
