{% extends "new/new_base.html" %}

{% block content_main %}

{# to show before any of the javascript has loaded #}
<div class="loading-outer-medium basic-loading">
  <p class="loading">Loading application</p>
</div>

<!-- this is update by a piece of jQuery -->
<div id="progress" style="display:none">
  <div class="progress-bar" id="progressbar">
    <div class="progress-bar-wrapper">
      <progress value="0" max="100"></progress>
      <span class="progress-size"></span>
      <span class="progress-value">%</span>
    </div>
  </div>
</div>

<div ng-controller="UploadProblemController" ng-cloak>
  <div ng-show="loaded && upload.hasFailed()"
       class="alert alert-danger show-hide">
    <h4>Upload Error</h4>
    <p>An unexpected upload error occurred. Sorry.</p>
    <button type="button" ng-click="retryUpload()">Retry Upload</button>
  </div>
</div>

<ui-view></ui-view>

<script type="text/ng-template" id="start.html">
{% include "new/partials/start.html" %}
</script>

{% raw %}
<div ng-controller="StatusController" id="status" ng-show="status.get()" ng-cloak>
  <p><b>Status:</b> {{ status.get() }}</p>
</div>
{% endraw %}

{% endblock %}
