{% extends 'suggest/suggest_base.html' %}

{% block page_title %}
Event details | {{ super() }}
{% endblock %}


{% block site_css %}
  {{ super() }}
  {% stylesheet 'select2' %}
  {% stylesheet 'select2_overrides' %}
  <link href="{{ static('suggest/jquery-ui/css/smoothness/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('select2/select2.full.min.js') }}"></script>
  <script src="{{ static('suggest/jquery-ui/js/jquery-ui-1.10.1.custom.min.js') }}"></script>
  {% javascript 'jquery_ui_timepicker' %}
  {% javascript 'suggest_details' %}
{% endblock %}


{% block content_main %}
  {% include "suggest/_breadcrumb.html" %}
  <h2 class="section-title">Event details</h2>

  {% include "suggest/_default_form.html" %}

{% endblock %}
