{% extends 'suggest/suggest_base.html' %}

{% block page_title %}
Choose Uploaded File | {{ super() }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link href="{{ static('suggest/css/file.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
  <script src="{{ static('suggest/js/file.js') }}"></script>
  {% endcompress %}
{% endblock %}


{% block content_main %}
  {% include 'suggest/_breadcrumb.html' %}

  <h2 class="section-title">Choose Uploaded File</h2>

  {% include 'suggest/_default_form.html' %}

  <p>If you haven't already uploaded a file, <a href="{{ url('uploads:home') }}">go and do that now</a>.<br>
  You will automatically return to this page when you're done.
  </p>


{% endblock %}
