{% extends 'suggest/suggest_base.html' %}

{% block page_title %}
Event presenter(s) | {{ super() }}
{% endblock %}

{% block banner %}
    {% include 'main/_banner_small.html' %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <!-- XXX move these to base -->
  <link href="{{ static('manage/css/select2.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static('manage/css/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet" type="text/css">
  {% endcompress %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% compress js %}
    <!-- XXX move these to base -->
    <script src="{{ static('manage/js/select2.min.js') }}"></script>
    <script src="{{ static('manage/js/jquery-ui-1.8.21.custom.min.js') }}"></script>
    <script src="{{ static('suggest/js/participants.js') }}"></script>
  {% endcompress %}
{% endblock %}


{% block content_main %}
  <h2 class="section-title">Event presenter(s)</h2>

  {% include 'suggest/_default_form.html' %}

{% endblock %}
