<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ static('img/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ static('img/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ static('img/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ static('img/favicon-96x96.png') }}" sizes="96x96">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ static('img/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('img/apple-touch-icon-180x180.png') }}">
    <title>{% block page_title %}Air Mozilla{% endblock %}</title>
    {% block site_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
    {% if include_analytics %}
    <script type="text/javascript" src="{{ static('js/google-analytics.js') }}"></script>
    {% endif %}
  </head>
  <body class="{% block body_class %}{% endblock %}" role="document">
    {% block content %}{% endblock %}

    {% block site_js %}
    {% javascript 'base' %}
    {% endblock %}
    {% if FANOUT_REALM_ID %}
    <fanout-config
      data-js-url="https://{{ FANOUT_REALM_ID }}.fanoutcdn.com/bayeux/static/faye-browser-1.1.2-fanout1-min.js"
      data-js-sha="sha384-/9uLm3UDnP3tBHstjgZiqLa7fopVRjYmFinSBjz+FPS/ibb2C4aowhIttvYIGGt9"
      data-client-url="https://{{ FANOUT_REALM_ID }}.fanoutcdn.com/bayeux"
      ></fanout-config>
    {% javascript 'fanout' %}
    {% endif %}

  </body>
</html>
