{% extends 'email_base.html' %}

{% block content %}
<p>Hi,</p>

<p>
    Your suggested event, with title <b>{{ event.title }}</b>
    could not be accepted.<br>
    <b>{{ user.email }}</b> left the following comment:
</p>

<blockquote style="font-style:italic">{{ event.review_comments | urlize | linebreaks }}</blockquote>

<p>
    Now the requested event's status back to being available for you to edit. Go to
    the <a href="{{ base_url }}{{ url('suggest:summary', event.pk) }}">Summary page</a>.
</p>

{% endblock %}
