<div>
    <ul class="pagination">
        {% if paginate.has_previous() %}
        <li>
            <a href="?{{ query_string(request, page=paginate.previous_page_number()) }}">&laquo;</a>
        </li>
        {% endif %}
        <li class="active">
            <a href="?{{ query_string(request, page=paginate.number) }}">{{ paginate.number }}
                        / {{ paginate.paginator.num_pages }}</a>
        </li>
        {% if paginate.has_next() %}
        <li>
            <a href="?{{ query_string(request, page=paginate.next_page_number()) }}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
