{% extends 'manage/approvals.html' %}

{% block manage_title %}
  Reviewing event "{{ approval.event.title }}"<br>
  Group: {{ approval.group.name }}
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}
  <table class="table">
      <tr>
        <td>Title</td>
        <td>{{ approval.event.title }}</td>
      </tr>
      {% if approval.event.picture %}
      <tr>
        <td>Picture</td>
        <td><a href="{{ url('manage:picture_edit', approval.event.picture.id) }}"
          >{{ show_thumbnail(approval.event) }}</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td>Placeholder image</td>
        <td><a href="{{ approval.event.placeholder_img.url }}"
          >{{ show_thumbnail(approval.event) }}</a>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>Description</td>
        <td>{{ approval.event.description }}</td>
      </tr>
      <tr>
        <td>Short description</td>
        <td>{{ approval.event.short_description }}</td>
      </tr>
      <tr>
        <td>Start time</td>
        <td>{{ approval.event.start_time|js_date }}
          {% if approval.event.location %}
          {{ approval.event.location_time.strftime("%I:%M%p") }} in {{ approval.event.location.name }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{ approval.event.location }}</td>
      </tr>
      <tr>
        <td>Call info</td>
        <td>{{ approval.event.call_info }}</td>
      </tr>
      <tr>
        <td>Additional links</td>
        <td>{{ approval.event.additional_links }}</td>
      </tr>
      <tr>
        <td>Privacy</td>
        <td>{{ approval.event.get_privacy_display() }}</td>
      </tr>
      <tr>
        <td>Creator</td>
        <td>{{ approval.event.creator.email }}</td>
      </tr>
      {% if suggested_event %}
      <tr>
        <td>Originally requested by</td>
        <td>{{ suggested_event.user.email }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Created</td>
        <td>{{ approval.event.created|js_date }}</td>
      </tr>
      <tr>
        <td>Tags</td>
        <td>
          {% for tag in approval.event.tags.all() %}
            &bull; {{ tag.name }}<br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Channels</td>
        <td>
          {% for channel in approval.event.channels.all() %}
            &bull; {{ channel.name }}<br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Approvals requested</td>
        <td>
          {% for app in approval.event.approval_set.all() %}
            &bull;
            {% if app.group == approval.group %}
              <b>{{ app.group }}</b> (this approval)
            {% else %}
              {{ app.group }}
            {% endif %}
            {% if app.approved %}
              (<b>Approved already!</b>)
            {% elif app.processed %}
              (<b style="color:darkred">Rejected!</b>)
            {% endif %}
            <br>
          {% endfor %}
        </td>
      </tr>
  </table>
  <form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ bootstrapform_horizontal(form) }}
    <div class="form-group form-buttons">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success btn"
              name="approve" id="submit_approve">
          <i class="glyphicon glyphicon-ok icon-positive"></i>
          Approve
        </button>
        <button type="submit" class="btn btn-danger btn"
                name="reject" id="submit_reject">
          <i class="glyphicon glyphicon-remove"></i>
          Reject
        </button>
      </div>
    </div>
  </form>
{% endblock %}
