{% extends 'manage/channels.html' %}

{% block manage_title %}
  Editing channel "{{ channel.name }}"
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}
  {% include "manage/_default_form_upload.html" %}
  {% include "manage/_fancy_editor_toggle.html" %}

{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'manage:fancy_editor' %}
{% endblock %}


{% block site_js %}
  {{ super() }}

  {% include "manage/_ace_scripts.html" %}
  {% javascript 'manage:fancy_editor' %}
  {% javascript 'channel_html_edit' %}
{% endblock %}
