{% extends "manage/manage_base.html" %}

{% set page = "durations" %}

{% block manage_title %}Event durations{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'durations' %}
{% endblock %}

{% block manage_content %}

<p>
  <label for="id_hideequals">
  <input type="checkbox" id="id_hideequals" name="hideequals" value="1">
  Show only those that are different</label>
</p>

<table id="durations" class="table table-striped table-bordered">
  <thead>
    <th>Event</th>
    <th>Tag</th>
    <th>Our duration</th>
    <th>Vid.ly duration</th>
    <th></th>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td><a href="{{ url('manage:event_edit', event.id) }}"
         title="{{ event.title }}">{{ truncate_chars(event.title, 100) }}</a></td>
      {% if event.duration %}
      <td>
        <a href="https://manage.encoding.com/user/vidly.php?url={{ event.template_environment['tag'] }}">
          <code>{{ event.template_environment['tag'] }}</code>
        </a>
      </td>
      <td>
        {{ show_duration(event.duration, include_seconds=True) }}
      </td>
      {% else %}
      <td class="no-duration">
        n/a
      </td>
      {% endif %}
      {% if vidly_durations.get(event.template_environment['tag']) %}
      <td>
        {{ show_duration(vidly_durations[event.template_environment['tag']], include_seconds=True) }}
      </td>
      {% else %}
      <td class="no-duration">
        n/a
      </td>
      {% endif %}
      <td>
        {% if event.duration and vidly_durations.get(event.template_environment['tag']) %}
        {% if not equalish_duration(event.duration, vidly_durations.get(event.template_environment['tag'])) %}
        <a class="different" href="{{ url('manage:event_edit_duration', event.id) }}">Different!</a>
        {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
