{% extends 'manage/manage_base.html' %}
{% set page='events' -%}

{% block manage_title %}
  Closed Captions for <a href="{{ url('manage:event_edit', event.id) }}">&quot;{{ event.title }}&quot;</a>
{% endblock %}


{% block manage_content %}

  {% if closedcaptions.exists() %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>File</th>
          <th>User</th>
          <th>Information</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in closedcaptions %}
        <tr>
          <td>
            <a
              title="Right click and \"Save Link As...\" to save"
              href="{{ url('closedcaptions:download', item.filename_hash, item.id, event.slug, 'txt') }}">Text</a>,
            <a
              title="Right click and \"Save Link As...\" to save"
              href="{{ url('closedcaptions:download', item.filename_hash, item.id, event.slug, 'srt') }}">SRT</a>,
            <a
              title="Right click and \"Save Link As...\" to save"
              href="{{ url('closedcaptions:download', item.filename_hash, item.id, event.slug, 'dfxp') }}">DFXP/TTML</a>,
            <a
              title="Right click and \"Save Link As...\" to save"
              href="{{ url('closedcaptions:download', item.filename_hash, item.id, event.slug, 'vtt') }}">WebVTT</a>
          </td>
          <td>
            {% if item.created_user %}
              {{ item.created_user.email }}
            {% endif %}
          </td>
          <td>
              Uploaded: {{ item.created | js_date }}<br />
              {% if item.created.strftime('%H%M%S') != item.modified.strftime('%H%M%S') %}
                Modified: {{ item.modified | js_date }}<br />
              {% endif %}
              Size: {{ item.file_info['size'] | filesizeformat }}<br />
              Original name: {{ item.file_info['name'] }}
              {% if item.submission_info %}
              <hr />
              {% for submission in item.submission_info['submissions'] %}
                Submitted:
                   <dl class="dl-horizontal">
                     <dt>Date:</dt>
                     <dd>{{ submission.date }}</dd>
                     <dt>Tag:</dt>
                     <dd>{{ submission.tag }}</dd>
                     <dt>Video URL</dt>
                     <dd><a href="{{ submission.url }}">{{ truncate_chars(submission.url, 65, left=True) }}</a></dd>
                     <dt>Closed Captions URL</dt>
                     <dd><a href="{{ submission.public_url }}">{{ truncate_chars(submission.public_url, 65, left=True) }}</a></dd>
                   </dl>
                  {% endfor %}
              {% endif %}
          </td>
          <td class="buttons">
            <form method="post" class="confirm"
                  action="{{ url('manage:event_closed_captions_delete', event.id, item.id) }}">
              {% csrf_token %}
              <button class="btn btn-danger btn-sm" type="submit">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
              </button>
            </form>
            <a
              href="{{ url('manage:event_closed_captions_submit', event.id, item.id) }}"
              class="btn btn-default btn-sm"
              title="Submit for transcoding">
              <i class="glyphicon glyphicon-export"></i>
              Submit
            </a>
            <a
              href="{{ url('manage:event_closed_captions_transcript', event.id, item.id) }}"
              {% if item == transcript_closedcaptions %}
                class="btn btn-primary btn-sm"
                title="This closed captions file is what's used as transcript on the event"
              {% else %}
                class="btn btn-default btn-sm"
                title="Save an text transcript for the event"
              {% endif %}
              >
              <i class="glyphicon glyphicon-floppy-save"></i>
              Transcript
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>
      <i>No closed captions files uploaded yet.</i>
    </p>
  {% endif %}

  <h3 style="margin-top:100px">Upload a new Closed Captions file</h3>
  {% set submit_text = 'Upload' %}
  {% include "manage/_default_form_upload.html" %}


  <p style="margin-top:25px">
    <a href="{{ url('manage:event_edit', event.pk) }}">&larr; Return to event</a>
  </p>

{% endblock %}
