{% extends "manage/manage_base.html" %}

{% block manage_title %}
  Event Chapters
  "<a href="{{ url('manage:event_edit', event.pk) }}">{{ event.title }}</a>"
{% endblock %}

{% block manage_content %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Text</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for chapter in chapters %}
    <tr>
        <td>
          {{ show_duration_compact(chapter.timestamp) }}
          {% if not chapter.is_active %}
            <span class="label label-default" title="Inactive location">Inactive</span>
          {% endif %}
        </td>
        <td>{{ chapter.text }}</td>
        <td>
          <a class="btn btn-default btn-sm" href="{{ url('manage:event_chapter_edit', event.id, chapter.id) }}">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
          </a>
          <form method="post" class="confirm"
                action="{{ url('manage:event_chapter_delete', event.id, chapter.id) }}">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm" type="submit">
              <i class="glyphicon glyphicon-trash"></i>
              Delete
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    <a class="btn btn-primary" href="{{ url('manage:event_chapter_new', event.id) }}">
      <i class="glyphicon glyphicon-plus-sign"></i>
      New Chapter
    </a>
  </p>


  <p style="margin-top:25px">
    <a href="{{ url('manage:event_edit', event.pk) }}">&larr; Return to event</a>
  </p>

{% endblock %}
