{% extends "manage/manage_base.html" %}
{% set page = "events" %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('angular/angular.min.js') }}"></script>
  <script src="{{ static('angular/angular-moment.min.js') }}"></script>
  {% if DEBUG %}<script src="{{ static('angular/watchcounter.js') }}"></script>{% endif %}
  {% javascript 'eventmanager' %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'eventmanager' %}
{% endblock %}


{% block manage_title %}
  Event manager
{% endblock %}

{% block manage_content %}
<div ng-app="eventmanagerApp" ng-controller="EventManagerController">
  <div ng-class="{hidden: first_loading || second_loading}" class="table-options">
    {% raw %}
    <a class="btn btn-success btn-xs"
       title="Click to reload the events have changed on the server since you loaded this page"
       ng-if="modified_events.length"
       ng-click="replaceModifiedEvents()">
      Reload modified events ({{ modified_events.length }})
    </a>
    {% endraw %}
    {% include "manage/_angular_sorting.html" %}
    {% include "manage/_angular_pagesize.html" %}
  </div>
  <p ng-if="first_loading" class="first-loading">
    <img src="{{ static('img/spinner.gif') }}">
    <span class="blinking">Loading some events...</span>
  </p>
  <p ng-if="second_loading && !first_loading" class="second-loading">
    <img src="{{ static('img/spinner.gif') }}">
    <span ng-if="reading_from_cache" class="blinking">
        Currently using cached data.
    </span>
    <span class="blinking">Loading all remaining events...</span>
  </p>

  {% raw %}

  <div class="alert alert-danger" ng-if="load_error">
    <h4>Loading Error</h4>
    <p>Unable to download all the events at the moment.</p>
    <p><code>{{ load_error }}</code></p>
    <p>
      <button type="button" class="btn btn-primary" ng-click="retryLoadAll()">Try again</button>
    </p>
  </div>

  <table class="table table-striped table-bordered" ng-class="{hidden: loading || load_error}">
    <thead>
      <tr>
        <th style="width: 50px" title="Number of events found">
            {{ filtered_items.length }}
        </th>
        <th>
          <a ng-click="setSorting('title')">Title</a>
          <a class="reverse-toggle"
             ng-show="sorting=='title' && sorting_reverse"
             ng-click="toggleSortingReverse()">▼</a>
          <a class="reverse-toggle"
             ng-show="sorting=='title' && !sorting_reverse"
             ng-click="toggleSortingReverse()">▲</a>

          <span class="badge" title="Only events that are currently live"
           ng-class="{active: search_only==='live'}" ng-click="selectSearchOnly('live')">L</span>
          <span class="badge" title="Only events that need approval"
           ng-class="{active: search_only==='needs_approval'}" ng-click="selectSearchOnly('needs_approval')">A</span>
          <span class="badge" title="Only events that are upcoming"
           ng-class="{active: search_only==='upcoming'}" ng-click="selectSearchOnly('upcoming')">U</span>
        </th>
        <th style="width: 14%">
          Location
          <abbr title="To find those with NO location, type in 'blank' or 'pre-recorded' or 'empty'">Note!</abbr>
        </th>
        <th style="width: 190px">
          <a ng-click="setSorting('start_time_iso')">Start time</a>
          <a class="reverse-toggle"
             ng-show="sorting=='start_time_iso' && sorting_reverse"
             ng-click="toggleSortingReverse()">▼</a>
          <a class="reverse-toggle"
             ng-show="sorting=='start_time_iso' && !sorting_reverse"
             ng-click="toggleSortingReverse()">▲</a>
        </th>
        <th style="width: 190px">Archive time</th>
        <th style="width: 8%">Status/Privacy</th>
        <th style="width: 10%">
            <a href="#" class="btn btn-default btn-xs btn-primary"
              ng-if="hasFilter()"
              ng-click="clearFilter()">Clear filter</a>
        </th>
      </tr>
      <tr>
        <td colspan="2">
          <input type="search" class="form-control" ng-model="search_title" placeholder="Search by title">
        </td>
        <td>
          <input type="search" class="form-control" ng-model="search_location" placeholder="by location">
        </td>
        <td>
          <input type="text" class="form-control" value="" id="dp_start_time" ng-model="search_start_time" placeholder="By start time">
        </td>
        <td>
        <select name="archived" ng-model="search_archived">
          <option value="">Archived or not</option>
          <option value="archived">Archived</option>
          <option value="not-archived">Not archived</option>
        </select>
        </td>
        <td>
          <input type="search" class="form-control" ng-model="search_cat_chan" placeholder="channel">
        </td>
        <td>
          <select name="status" ng-model="search_status">
            <option value="" class="select-label">By status</option>
            <option value="submitted">Submitted</option>
            <option value="pending">Pending</option>
            <option value="processing">Processing</option>
            <option value="scheduled">Scheduled</option>
            <option value="removed">Removed</option>
          </select>
          <select name="privacy" ng-model="search_privacy">
            <option value="" class="select-label">By privacy</option>
            <option value="public">Public</option>
            <option value="contributors">Contributors</option>
            <option value="company">Staff</option>
          </select>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in filtered_items = (events | filter:filterBySearch) | orderBy:sorting:sorting_reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
        <td class="event-thumbnail">
          <img ng-if="event.thumbnail"
               ng-src="{{ ::event.thumbnail.url }}" width="{{ ::event.thumbnail.width }}" height="{{ ::event.thumbnail.height }}">
          <img ng-if="!event.thumbnail && !event.nopicture"
               ng-src="{{ url('manage:redirect_event_thumbnail', event.id) }}?geometry=50x28">
          <a ng-if="event.pictures && !event.nopicture"
             href="{{ url('manage:picturegallery') }}?event={{ event.id }}"
             title="Number of pictures belonging to this event">
            <span class="badge picture-gallery-count"
                  title="Number of pictures in gallery just for this event"
              >{{ event.pictures }}</span>
          </a>
          <a ng-if="event.picture"
             href="{{ ::url('manage:picturegallery') }}?event={{ event.id }}"
             title="Uses a picture in the gallery"
             class="picture-gallery-use">
              <i class="glyphicon glyphicon-ok"></i>
          </a>

        </td>
        <td>
          <a href="/{{ event.slug }}/">{{ event.title }}</a>

        <span class="badge" title="Event is currently Live!" ng-if="event.is_live">L</span>
        <span class="badge" title="Needs approval" ng-if="event.needs_approval">A</span>
        <span class="badge" title="Event is upcoming" ng-if="event.is_upcoming">U</span>
        </td>
        <td>{{ event.location }}</td>
        <td>{{ event.start_time }}</td>
        <td>
          <time ng-if="event.archive_time && !event.popcorn_url" title="{{ formatDate(event.archive_time) }}" am-time-ago="event.archive_time"></time>
          <span ng-if="event.archive_time && event.popcorn_url" title="{{ ::event.popcorn_url }}">Popcorn URL</span>
          <span ng-if="!event.archive_time">
            <span ng-if="event.is_upcoming">
              N/A (upcoming)
            </span>
            <span ng-if="event.is_pending">
              Pending
            </span>
            <span ng-if="!event.is_pending && !event.is_upcoming">
              <span ng-if="!event.archive_url">Not archived</span>
            </span>
            <a ng-if="event.can.indexOf('archive') > -1 && (event.is_pending || event.is_scheduled) && !event.is_upcoming"
               href="{{ ::url('manage:event_archive', event.id) }}" class="btn btn-default btn-xs">
              <i class="glyphicon glyphicon-time"></i> Archive
            </a>
          </span>
        </td>
        <td>
          <span class="label"
           ng-class="{'label-default': event.status=='submitted',
                      'label-primary': event.status=='pending' || event.status=='processing',
                      'label-success': event.status=='scheduled',
                      'label-danger': event.status=='removed'}"
           ng-click="selectSearchStatus(event.status)"
          >{{ event.status_display }}</span>
          <br>
          <span class="label"
           ng-class="{'label-purple': event.privacy=='company',
                      'label-info': event.privacy=='public',
                      'label-warning': event.privacy=='contributors'}"
           ng-click="selectSearchPrivacy(event.privacy)"
          >{{ event.privacy_display }}</span>
        </td>
        <td>
          <a href="{{ ::url('manage:event_edit', event.id) }}" class="btn btn-default btn-xs">
            <i class="glyphicon glyphicon-edit"></i> Edit
          </a>
          <a ng-if="event.can.indexOf('duplicate') > -1"
             href="{{ ::url('manage:event_duplicate', event.id) }}" class="btn btn-default btn-xs">
              <i class="glyphicon glyphicon-repeat"></i> Duplicate
          </a>
        </td>
      </tr>
      <tr ng-if="!filtered_items.length">
        <td colspan="8">
          <p><b>Filtered too much?</b></p>
          <p ng-if="search_title">
            <a href="#" ng-click="resetFilter('search_title')">Drop title search on <code>{{ search_title }}</code></a>
          </p>
          <p ng-if="search_location">
            <a href="#" ng-click="resetFilter('search_location')">Drop location search on <code>{{ search_location }}</code></a>
          </p>
          <p ng-if="search_start_time">
            <a href="#" ng-click="resetFilter('search_start_time')">Drop start time filter on <code>{{ search_start_time }}</code></a>
          </p>
          <p ng-if="search_cat_chan">
            <a href="#" ng-click="resetFilter('search_cat_chan')">Drop channel search on <code>{{ search_cat_chan }}</code></a>
          </p>
        </td>
      </tr>
      <tr ng-if="filtered_items.length && filtered_items.length < currentPage * pageSize">
        <td colspan="8">
          <p>Paged too much?</p>
          <p><a href="#" ng-click="resetCurrentPage()">Go back to page 1</a></p>
        </td>
      </tr>
    </tbody>
  </table>

  {% endraw %}
  {% include "manage/_angular_paginate.html" %}
  <p>
    <a href="{{ url('manage:event_request') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-plus"></i>
       New event
    </a>
  </p>
</div> <!-- /ng-app -->
{% endblock %}
