{% extends 'manage/manage_base.html' %}
{% set page='events' -%}

{% block manage_title %}
  New Event Tweet for "{{ event.title }}"
{% endblock %}

{% block site_css %}
  {{ super() }}
  <link href="{{ static('manage/css/jquery-ui-1.10.1.custom.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'jquery_ui_timepicker' %}
  {% javascript 'edit_event_tweet' %}
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}
  <input type="hidden" name="event_edit_url" value="{{ url('manage:event_edit', event.pk) }}">

  {% set count_tweets=tweets.count() %}
  {% if count_tweets %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Note!</h4>
    <p><a href="{{ url('manage:event_tweets', event.pk) }}">
    This event already has
    {% if count_tweets == 1 %}a tweet{% else %}{{ count_tweets }} tweets{% endif %}</a>.
    </p>
  </div>
  {% endif %}

  {% if shortener_error %}
  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Note!</h4>
    <p>Unable to use Bit.ly URL shortener. Error:
    <code>{{ shortener_error }}</code></p>
  </div>
  {% endif %}

  {% if event.is_public() %}
    {% include "manage/_default_form.html" %}

    <p><strong>About when the tweet will be sent</strong></p>
    <ul>
      <li>If the event needs approval, it will not be sent until it has been approved.</li>
      <li>If you enter a date and time, it will not be sent till after that.</li>
      <li>If you don't enter a date and time and the event does not need approval, the tweet
        will be sent as soon as you save it.</li>
    </ul>

    <p>This event: <strong>
    {% if not event.is_scheduled() %}
      Needs to be scheduled first
    {% elif event.needs_approval() %}
      Needs to be approved first
    {% else %}
      Does not need approval first
    {% endif %}
    </strong>
    </p>
  {% else %}
    <p>This event is not public.</p>
  {% endif %}


  <p style="margin-top:25px">
    <a href="{{ url('manage:event_edit', event.pk) }}">&larr; Return to event</a>
  </p>

{% endblock %}
