{% extends 'manage/manage_base.html' %}
{% set page='recruitmentmessages' %}

{% block manage_title %}
  Recuitment messages
{% endblock %}

{% block manage_content %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Text</th>
        <th>URL</th>
        <th>Active</th>
        <th title="Number of events associated with this one"># Events</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for msg in recruitmentmessages %}
    <tr>
        <td>{{ msg.text }}</td>
        <td><a href="{{ msg.url }}">{{ truncate_url(msg.url, 60) }}</a></td>
        <td>
          {% if msg.active %}
          <i class="glyphicon glyphicon-ok icon-positive" title="Yes, it's active"></i>
          {% else %}
          <i class="glyphicon glyphicon-remove icon-negative" title="No, not active"></i>
          {% endif %}
        </td>
        <td>{{ count_events(msg) }}</td>
        <td>
          <a class="btn btn-default btn-sm" href="{{ url('manage:recruitmentmessage_edit', msg.id) }}">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
          </a>
          <form method="post" class="confirm"
                action="{{ url('manage:recruitmentmessage_delete', msg.id) }}">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm" type="submit">
              <i class="glyphicon glyphicon-trash"></i>
              Delete
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    <a class="btn btn-primary" href="{{ url('manage:recruitmentmessage_new') }}">
      <i class="glyphicon glyphicon-plus-sign"></i>
      New Recruitment message
    </a>
  </p>
{% endblock %}
