{% extends 'manage/manage_base.html' %}
{% set page='regions' -%}

{% block manage_title %}
  Regions
{% endblock %}

{% block manage_content %}
  <div>Note: You cannot create new locations with inactive regions.</div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Locations</th>
        <th style="width:200px"></th>
      </tr>
    </thead>
    <tbody>
    {% for region in regions %}
      <tr>
        <td>
          {{ region.name }}
          {% if not region.is_active %}
          <span class="label label-default" title="Inactive region">Inactive</span>
          {% endif %}
        </td>
        <td>
          {{ region.location_set.all().count() }}
        </td>
        <td>
          <a class="btn btn-default btn-sm" href="{{ url('manage:region_edit', region.id) }}">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
          </a>
            <form method="post" class="confirm"
                  action="{{ url('manage:region_remove', region.id) }}">
              {% csrf_token %}
              <button class="btn btn-danger btn-sm" type="submit">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
              </button>
            </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    <a class="btn btn-primary" href="{{ url('manage:region_new') }}">
      <i class="glyphicon glyphicon-plus-sign"></i>
      New region
    </a>
  </p>
{% endblock %}
