{% extends "manage/manage_base.html" %}
{% set page = "related_content" %}

{% block manage_title %}
  Related Content
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}

<h4 style="position: absolute; right: 20px; top: 20px">
  <a href="{{ url('manage:related_content_testing') }}">Related Content Testing</a>
</h4>

<p>
  There are <b>{{ count_indexed }} documents</b> indexed and
  <b>{{ count_events }} events</b> (scheduled or processing).<br>
  The index is called <code>{{ index_name }}</code>
</p>

<form method="post" class="form-horizontal" role="form">
  {% csrf_token %}
  {{ bootstrapform_horizontal(form) }}
  <div>
    <button type="submit" class="btn btn-primary submit" name="submit">Re-Index</button>
  </div>
</form>


{% endblock %}
