{% extends 'manage/staticpages.html' %}

{% block manage_title %}
  Editing page '{{ staticpage.title }}'
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}
  {% include "manage/_default_form.html" %}
  {% include "manage/_fancy_editor_toggle.html" %}
  {% include "manage/_about_sidebar_slugs.html" %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'manage:fancy_editor' %}
{% endblock %}


{% block site_js %}
  {{ super() }}
  {% include "manage/_ace_scripts.html" %}
  {% javascript 'manage:staticpage_edit' %}
  {% javascript 'manage:fancy_editor' %}
{% endblock %}
