{% extends 'manage/tags.html' %}

{% block manage_title %}
  Editing tag "{{ tag.name }}"
{% endblock %}

{% block content_class %}col-md-6{% endblock %}

{% block manage_content %}
  {% include "manage/_default_form.html" %}

  {% if is_repeated %}
    <div id="repeated">
      <p>This tag is repeated <b>{{ repeated }} times</b> in different case.</p>
      <form action="{{ url('manage:tag_merge_repeated', tag.pk) }}" method="post" class="form-horizontal" role="form">
          {% csrf_token %}
          {{ bootstrapform_horizontal(repeated_form) }}
          {% set submit_text='Merge' %}
          {% include "manage/_form_buttons.html" %}
      </form>
    </div>
  {% else %}
  <div id="merge">
    <p>To move all occurance of this tag to another, type the other's (the one you're keeping) name below.</p>
    <form action="{{ url('manage:tag_merge', tag.pk) }}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {{ bootstrapform_horizontal(merge_form) }}
        {% set submit_text='Merge' %}
        {% include "manage/_form_buttons.html" %}
    </form>
  </div>
  {% endif %}

{% endblock %}
