{% extends "manage/manage_base.html" %}
{% set page = "users" %}

{% block manage_title %}
    Users
{% endblock %}

{% block site_css %}
  {{ super() }}
  <style type="text/css">
  #users-stats {
      float: right;
      font-size: 80%;
  }
  .loading {
      margin: 200px auto;
      width: 50%;
  }
  input[name="group"],
  input[name="email"] {
      /*width: 250px;*/
      width: 100%;
  }
  th a {
      cursor: pointer;
  }
  </style>
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('angular/angular.min.js') }}"></script>
  <script src="{{ static('angular/angular-moment.min.js') }}"></script>
  {% javascript 'usermanager' %}
{% endblock %}


{% block manage_content %}
<div ng-app="usermanagerApp" ng-controller="UserManagerController">

    {% raw %}
    <div ng-show="loading" class="loading pulsating">
        <h3>Loading all users...</h3>
    </div>
    <table class="table table-striped table-bordered" ng-show="!loading" ng-cloak>
    <thead>
    <tr>
        <th>
          <a ng-click="setSorting('email')">Email</a>
          <a class="reverse-toggle"
             ng-show="sorting=='email' && sorting_reverse"
             ng-click="toggleSortingReverse()">▼</a>
          <a class="reverse-toggle"
             ng-show="sorting=='email' && !sorting_reverse"
             ng-click="toggleSortingReverse()">▲</a>
        </th>
        <th style="width: 160px">Status</th>
        <th style="width: 200px">Group(s)</th>
        <th style="width: 160px">
          <a ng-click="setSorting('last_login')">Last login</a>
          <a class="reverse-toggle"
             ng-show="sorting=='last_login' && sorting_reverse"
             ng-click="toggleSortingReverse()">▼</a>
          <a class="reverse-toggle"
             ng-show="sorting=='last_login' && !sorting_reverse"
             ng-click="toggleSortingReverse()">▲</a>
        </th>
        <th style="width: 100px">Staff?</th>
        <th style="width: 100px" title="Users found">
          {{ filtered_items.length }}
        </th>
    </tr>
    <tr>
        <th><input type="text" name="email" ng-model="search_email" placeholder="Search by email"></th>
        <th>
          <select name="status" ng-model="search_status">
            <option value="">All</option>
            <option value="contributor">Contributor</option>
            <option value="superuser">Superuser</option>
            <option value="inactive">Inactive</option>
          </select>
        </th>
        <th><input type="text" name="group" ng-model="search_group" placeholder="Search by group" title="Type * to find those in ANY group"></th>
        <th>&nbsp;</th>
        <th>
          <select name="staff" ng-model="search_staff">
            <option value="">Both</option>
            <option value="staff">Yes</option>
            <option value="not-staff">No</option>
          </select>
        </th>
        <th>
          <a href="#" class="btn btn-default btn-xs btn-primary"
            ng-if="hasFilter()"
            ng-click="clearFilter()">Clear filter</a>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="u in filtered_items = (users | filter:filterBySearch) | orderBy:sorting:sorting_reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>{{ u.email }}</td>
            <td>
                <span ng-show="u.is_contributor" class="label ng-binding label-info" title="Vouched Mozillians">Contributor</span>
                <span ng-show="u.is_superuser" class="label ng-binding label-success" title="Superuser">Superuser</span>
                <span ng-show="u.is_inactive" class="label ng-binding label-warning" title="Inactive and can't log in ">Inactive</span>
            </td>
            <td>
                <span ng-repeat="g in u.groups" style="display:block">{{ g }}</span>
            </td>
            <td>
              <time title="{{ formatDate(u.last_login) }}" am-time-ago="u.last_login"></time>
            </td>
            <td>
                <span ng-show="u.is_staff">Yes</span>
                <span ng-show="!u.is_staff">No</span>
            </td>
            <td><a href="{{ url('manage:user_edit', u.id) }}" class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-edit"></i>
                Edit
                </a>
            </td>
        </tr>
    </tbody>
    </table>
    {% endraw %}

    <div id="users-stats" ng-cloak>
      <p>
        <strong>Total:</strong> {{ users_stats.total }}
        ({{ users_stats.total_mozilla_email }} with a Mozilla email address)
      </p>
    </div>

    {% include "manage/_angular_pagesize.html" %}
    {% include "manage/_angular_paginate.html" %}

</div>
{% endblock %}
