{% extends 'manage/manage_base.html' %}
{% set page='vidly_media' -%}

{% block manage_title %}
  Vid.ly Media Timings
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('manage/js/d3.min.js') }}"></script>
  <script src="{{ static('manage/metricsgraphics/metricsgraphics.min.js') }}"></script>
  {% javascript 'vidly_media_timings' %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static('manage/metricsgraphics/metricsgraphics.css') }}">
  <style>
  .summary { margin: 20px; }
  .summary h3,
  .summary h1 {
      text-align: center;
  }
  .vidly-media-link { float: right; }
  </style>
{% endblock %}

{% block manage_content %}
<h4 class="vidly-media-link">
  <a href="{{ url('manage:vidly_media') }}">Vid.ly Media</a>
</h4>

<div id="plot">
</div>

<div class="summary">
  <h1>
    Slope: <span class="slope"></span>
  </h1>
  <p>This means it takes...</p>
  <ul class="examples">

  </ul>
</div>
{% endblock %}
