{% extends 'main/main_base.html' %}

{% block site_css %}
{{ super() }}
{% stylesheet 'popcorn_editor' %}
{% endblock %}

{% block site_js %}
{{ super() }}
<script src="{{ static('popcorn/PopcornEditor/src/PopcornEditor.js') }}"></script>
{% javascript 'popcorn_editor' %}
{% endblock %}

{% block page_title %}
Popcorn Editor | {{ super() }}
{% endblock %}

{% block content_main %}{% endblock %}

{% block full_width_content %}
<div id="editor"
     data-slug="{{ slug }}"
     data-url="{{ url('popcorn:popcorn_data') }}"
     data-save="{{ url('popcorn:save_edit') }}">{{ csrf() }}</div>
{% endblock %}

{% block sidebar%}
{% endblock %}
