{% extends 'suggest/suggest_base.html' %}

{% block page_title %}
Discussion Configuration | {{ super() }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% stylesheet 'select2' %}
  {% stylesheet 'select2_overrides' %}
  <link rel="stylesheet" href="{{ static('suggest/css/discussion.css') }}" />
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('select2/select2.full.min.js') }}"></script>
  {% javascript 'suggest_discussion' %}
{% endblock %}

{% block content_main %}
  {% include "suggest/_breadcrumb.html" %}
  <h2 class="section-title">Discussion Configuration</h2>


  {% include "suggest/_default_form.html" %}


{% endblock %}
