{% extends 'suggest/suggest_base.html' %}

{% block page_title %}
Event picture | {{ super() }}
{% endblock %}

{% block banner %}
    {% include "main/_banner_small.html" %}
    {% endblock %}

{% block site_css %}
  {{ super() }}
  {{ form.media.css }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ form.media.js }}
{% endblock %}


{% block content_main %}
  {% include "suggest/_breadcrumb.html" %}
  <h2 class="section-title">Event picture</h2>

  {% if event.placeholder_img %}
  <div class="existing">
    <h4>You currently have this one set</h4>
    <p style="float:right">
      <a href="{{ next_url(event) }}">That's fine</a>
    </p>
    <p>
      {{ show_thumbnail(event, '160x90', image=event.placeholder_img) }}

  </div>
  {% endif %}

  {% include "suggest/_default_form_upload.html" %}
{% endblock %}
