{% extends 'main/main_base.html' %}
{% set page='signin' %}

{% block page_title %}
Sign In | {{ super() }}
{% endblock %}


{% block site_css %}
  {{ super() }}
  {% stylesheet 'signin' %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'signin' %}
{% endblock %}


{% block content_main %}
  <h2 class="section-title">Sign In</h2>
  {% if request.user.is_active %}
    <p>
      You are already signed in as
      <b>{{ request.user.email }}</b>.
    </p>
    <p>
      <a href="/">Go to the home page</a>
    </p>
    <form action="{{ url('authentication:signout') }}" method="post">
      {% csrf_token %}
      <button type="submit">Sign Out</button>
    </form>
  {% else %}

    <div class="signin-link">

      <a href="{{ url('oidc_authentication_init') }}" style="font-size:250%;margin:50px;display:block">Sign In</a>

      <p>
        Unless you are <b>Mozilla staff</b>
        your <b>email has to belong to a <i>vouched Mozillians.org account</i></b>.
      </p>

    </div>

  {% endif %}

{% endblock %}
